<div class="modal-header">
  <button class="close" ng-click="$ctrl.cancel()">×</button>
  <h5 class="modal-title">Dodaj użytkownika</h5>
</div>

<form ng-submit="$ctrl.ok()" name="form">
  <div class="modal-body">

    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <label>
            Email
            <span class="text-danger">*</span>
          </label>
          <input type="text" placeholder="Email" class="form-control"
              ng-model="$ctrl.user.email"
              required autofocus>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <label>
            Hasło
            <span class="text-danger">*</span>
          </label>
          <input type="password" placeholder="Hasło" class="form-control"
              ng-model="$ctrl.user.password" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <label>
            Typ
            <span class="text-danger">*</span>
          </label>
          <input type="text" placeholder="Typ" class="form-control"
              ng-model="$ctrl.user.type" required>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-link" ng-click="$ctrl.cancel()">Anuluj</button>
    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Zapisz</button>
  </div>
</form>