<nav class="navbar navbar-inverse header-highlight">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href='/'>
        <img src="assets/logo-karta.png" alt="Logo">
      </a>
    </div>
  </div>
</nav>