@import "../../../../styles/media";
@import "../../../../styles/variables";

.navbar {
  margin-bottom: 20px;

  &__brand-link {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  &__brand-image {
    height: 100%;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar-brand {
    margin-left: 0;
  }

  &__menu-item {
    @include xs-only {
      padding: 0;
    }
  }
}