<app-loading-container [loaded]="!!categories">
  <div class="panel panel-white panel-table">
    <div class="dataTables_wrapper no-footer">
      <div class="datatable-scroll">
        <div class="table-responsive no-border">
          <table class="table dataTable">
            <thead>
            <tr>
              <th>
                {{ 'competition-details.table.style' | translate }}
              </th>
              <th>
                {{ 'competition-details.table.type' | translate }}
              </th>
              <th *ngIf="canShowExperience">
                {{ 'competition-details.table.experience' | translate }}
              </th>
              <th>
                {{ 'competition-details.table.age' | translate }}
              </th>
              <th>Liczba zgłoszeń</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let category of categories">
              <td>{{ splitted(category)[0] }}</td>
              <td>{{ splitted(category)[1] }}</td>
              <td *ngIf="canShowExperience">{{ splitted(category)[2] }}</td>
              <td>{{ splitted(category)[3] }}</td>
              <td>{{ grouppedPerformances[category]?.length}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-loading-container>