<div class="navbar navbar-default header-highlight navbar-component navbar-fixed-top">
  <div class="navbar-header bg-white">
    <a class="navbar-brand text-pink-700" href="index.html">
      <img src="http://setenta.wroclaw.pl/wp-content/themes/setenta-theme/assets/img/sys/logo.png" alt="setenta logo">
    </a>

    <ul class="nav navbar-nav visible-xs-block">
      <li>
        <a class="sidebar-mobile-main-toggle" ng-click="$ctrl.onMobileTogglerClick()">
          <i class="icon-paragraph-justify3 position-left"></i>
          <span>Menu</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="navbar-collapse collapse" id="navbar-mobile">
    <!--<div class="navbar-left">-->
      <!--<button type="button" class="btn bg-pink navbar-btn"-->
              <!--translate="TEXTS.NAVBAR.ENTRANCE" ng-click="$ctrl.onAddEntranceClick()"></button>-->
    <!--</div>-->
    <!--<ul class="nav navbar-nav">-->
      <!--<li>-->
        <!--<a class="sidebar-control sidebar-main-toggle hidden-xs"-->
           <!--ng-click="$ctrl.onTogglerClick()">-->
          <!--<i class="fa fa-align-justify"></i>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href translate="TEXTS.NAVBAR.ENTRANCE" ng-click="$ctrl.onAddEntranceClick()"></a>-->
      <!--</li>-->
    <!--</ul>-->

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown dropdown-user" uib-dropdown>
        <a href uib-dropdown-toggle>
          <img src="https://api.adorable.io/avatars/120/{{$ctrl.currentUser}}.png"
               alt="user avatar">
          <span ng-bind="$ctrl.currentUser"></span>
          <i class="caret"></i>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li>
            <a ng-click="$ctrl.logout()">
              <i class="icon-switch2"></i>
              <span translate="TEXTS.NAVBAR.LOGOUT" translate-default=""></span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
