@import "../../../stylebase/variables";

.navbar {
  margin-bottom: 0;

  &.header-highlight .navbar-header {
    //border-bottom: 1px solid #263238;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }

  .navbar-brand {
    padding: 3px 20px;

    > img {
      height: 35px;
    }
  }

  .sidebar-mobile-main-toggle {
    color: #555 !important;
  }
}