@import "variables";

//.btn {
//  border-radius: 0;
//
//  &-success {
//    background-color: $color-success;
//    border-color: $color-success;
//
//    &:hover {
//      background-color: darken($color-success, 2%);
//    }
//  }
//
//  &-primary {
//    background-color: $color-primary;
//    border-color: $color-primary;
//
//    &:hover {
//      background-color: darken($color-primary, 2%);
//    }
//  }
//}
//
//.alert-info {
//  color: #104d92;
//  background-color: #e3f2fd;
//  border-color: #1e88e5;
//}