@import "./buttons";
@import "./animations";
@import "./media";
@import "./notifications";

body {
  .navbar-brand {
    padding-top: 11px;

    & > img {
      margin-top: 0;
      height: 22px;
    }
  }

  .form-control:focus {
    border-bottom-color: #3F51B5;
  }

  .btn-full {
    width: 100%;
  }

  .nav-inline > li {
    display: inline-block;
  }

  .help-block {
    margin: 0;
  }

  @media(min-width: 1200px) {
    .container {
      width: 1025px;
    }
  }

  .sidebar {
    @include xs-only {
      display: block;
      max-height: 0;
      transition: max-height 300ms $smooth-animation;
      overflow: hidden;
      will-change: max-height;
    }
  }

  .sidebar-mobile-main .sidebar-main,
  .sidebar-mobile-secondary .sidebar-secondary,
  .sidebar-mobile-opposite .sidebar-opposite,
  .sidebar-mobile-detached .sidebar-detached > .sidebar {
    max-height: 500px;
  }

  .pagebreak:not(:last-of-type) {
    page-break-before: always;
  }
}

.nav-tabs {
  &:before {
    content: 'MENU';
    margin-bottom: 7px;
    //margin: 0;
  }
}

.nav-tabs > li > a {
  text-transform: none;
}

.media .profile-thumb img {
  background: white;
}

//BS CALENDAR
.bs-calendar-container {
  max-width: 100vw;
  overflow: auto;
}

.theme-green .bs-datepicker-head {
  background: $color-info;
}

.theme-green .bs-datepicker-body table td.week span {
  color: $color-info;
}