$screen-xs: 768px;
$screen-sm: 48em;
$screen-md: 64em;
$screen-lg: 75em;

@mixin xs-only {
  @media (max-width: #{$screen-xs}) {
    @content;
  }
}

@mixin xs {
  @media (min-width: #{$screen-xs}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}