@import '~styles/media';

$sidebar-width: 240px;

.page-container {
  padding-top: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;

  @include sm {
    width: 100%;

    .navbar-header {
      min-width: $sidebar-width;
    }
  }
}

.sidebar {
  position: fixed;
  top: 50px;

  @include sm {
    position: relative;
    top: 0;
    width: $sidebar-width;
  }
}

::ng-deep .sidebar-content {
  height: calc(100vh - 61px);
  overflow: scroll;

  @include sm {
    height: initial;
    overflow: visible;
  }
}

.page-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0;
}

@include sm {
  .page-container {
    padding-top: 0;
  }

  .sidebar {
    position: relative;
    top: 0;
  }

  .navbar {
    position: relative;
    z-index: 0;
  }

  .menu-wrapper {
    //position: sticky;
    top: 0;
    z-index: 5;
  }
}

.content {
  padding-top: 30px;
}

@media print {
  .content {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
}

@include xs-only {
  ::ng-deep .menu-wrapper .nav-tabs {
    > li.active > a,
    > li.active > a:hover,
    > li.active > a:focus {
      border-width: 0 !important;
      color: #1E88E5 !important;

      span {
        display: inline;
      }
    }
  }

  .content {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .page-title i ~ small.display-block {
    margin-left: 0;
  }

  ::ng-deep .menu-wrapper {
    position: fixed;
    bottom: 0;
    z-index: 98;
    width: 100vw;

    .nav-tabs {
      padding: 0;
      display: flex;
      overflow: scroll;
      border-radius: 0;

      &:before {
        content: '';
        margin-bottom: 0;
        margin-left: 0;
      }

      li {
        flex: 1;

        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
          display: none;
        }
      }

      li > a {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: 10px 5px 8px;
        width: 100%;
        border: 0;
        transition: none;
      }

      i {
        margin-right: 0;
        margin-bottom: 5px;
        font-size: 2rem;
      }

      span {
        text-align: center;
        white-space: nowrap;
        font-size: 1.2rem;
      }

      .menu-item__more {
        span:first-of-type {
          display: inline;
        }

        span:nth-of-type(2) {
          display: none;
        }
      }

      &.menu__mobile--opened {
        border-top: 1px solid #ddd;
        flex-direction: column;

        &:before {
          margin: 0;
        }

        li {
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8),
          &:nth-child(9) {
            display: block;
          }

          &.menu-item__more {
            order: 10;

            > a {
              justify-content: flex-end;
            }

            i {
              order: 3;
              margin-right: 0;
              margin-left: 5px;

              &::before {
                content: "\ed6a";
              }
            }

            span:first-of-type {
              display: none;
            }

            span:nth-of-type(2) {
              display: inline;
            }
          }
        }

        a {
          flex-direction: row;
          padding: 20px;
          justify-content: flex-start;
          align-items: center;
        }

        i {
          font-size: 16px;
          margin-bottom: 0px;
          margin-right: 15px;
        }

        span {
          font-size: 1.3rem;
        }
      }
    }
  }

  ::ng-deep body {
    padding-bottom: 65px;
  }
}
