<div [class.sidebar-mobile-main]="sidebarVisible">

  <div class="navbar navbar-default header-highlight">
    <div class="navbar-header">
      <a class="navbar-brand" href='/'>
        <img src="assets/logo-karta.png" alt="Logo">
      </a>

      <ul class="nav navbar-nav visible-xs-block">
        <li>
          <a class="sidebar-mobile-main-toggle" (click)="toggleSidebar()">
            <i class="{{ sidebarVisible ? 'icon-cross2' : 'icon-paragraph-justify3'}}"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">

      <ul class="nav navbar-nav navbar-right">

        <li>
          <a routerLink="/logout">
            {{ 'common.navbar.logout' | translate }}
          </a>
        </li>

<!--        <li class="nav-item dropdown dropdown-user">-->
<!--          <a class="">-->
<!--            <img src="https://avatars.dicebear.com/v2/jdenticon/pawel.radomski1@gmail.com.svg" class="rounded-circle mr-2" height="34" alt="">-->
<!--            <span>Victoria</span>-->
<!--          </a>-->
<!--        </li>-->
      </ul>
    </div>
  </div>


  <!-- Page container -->
  <div class="page-container" style="min-height: 100vh">

    <!-- Page content -->
    <div class="page-content">

      <!-- Main sidebar -->
      <app-sidebar class="sidebar sidebar-main hidden-print"></app-sidebar>
      <!-- /main sidebar -->


      <!-- Main content -->
      <div class="content-wrapper">
        <div class="page-header page-header-default page-header-xs hidden-print"
            style="margin-bottom: 0">
          <div class="page-header-content" style="display: flex; align-items: center">
            <button class="btn-link"
                style="padding-right: 20px;"
                [routerLink]="backTo"
                *ngIf="backTo">
              <i class="icon-arrow-left8"></i>
            </button>
            <div class="page-title">
              <h5>
                <span class="text-semibold">{{ title }}</span>
                <small class="display-block"> {{ subtitle }}</small>
              </h5>
            </div>
          </div>
        </div>

        <div *ngIf="menu" class="menu-wrapper hidden-print">
          <ng-content select="[menu]"></ng-content>
        </div>

        <!-- Content area -->
        <div class="content">
          <ng-content></ng-content>
          <div class="footer text-muted hidden-print">
            © 2019.
            <a href="http://kartazgloszen.pl" target="_blank">Karta Zgłoszeń</a>
            -
            <a href="http://kartazgloszen.pl/privacy" target="_blank">Polityka prywatności</a>
          </div>
        </div>
        <!-- /content area -->

      </div>
      <!-- /main content -->

    </div>
    <!-- /page content -->

  </div>
</div>