<div class="panel panel-white">
  <div class="panel-body">
    <h6 class="no-margin-top visible-xs">
      {{ 'user.invoiceData' | translate }}
    </h6>

    <div class="row">
      <div class="col-xs-12">
        <p style="height: 40px;">
          <a class="btn btn-primary"
              [class.hidden]="invoiceEdit"
              (click)="edit()">
            <i class="fa fa-pencil-square-o"></i>
            Edytuj
          </a>
        </p>
      </div>
      <div class="col-md-6">
        <ng-container *ngIf="invoiceEdit; else readOnly">
          <form [formGroup]="ngForm" (submit)="onSave(ngForm.value)" autocomplete="off">
            <app-labeled-field>
              <input appTextField
                  class="form-control"
                  type="text"
                  formControlName="name"
                  placeholder="{{ 'user.invoice.name' | translate }}"
                  [required]="true">
            </app-labeled-field>
            <app-labeled-field>
              <input appTextField
                  class="form-control"
                  type="text"
                  mask="0000000000"
                  formControlName="nip"
                  placeholder="{{ 'user.invoice.nip' | translate }}"
                  [required]="true">
            </app-labeled-field>
            <app-labeled-field>
              <input appTextField
                  class="form-control"
                  type="text"
                  formControlName="street"
                  placeholder="{{ 'user.invoice.street' | translate }}"
                  [required]="true">
            </app-labeled-field>
            <app-labeled-field>
              <input appTextField
                  class="form-control"
                  type="text"
                  formControlName="zip"
                  placeholder="{{ 'user.invoice.zip' | translate }}"
                  [required]="true">
            </app-labeled-field>
            <app-labeled-field>
              <input appTextField
                  class="form-control"
                  type="text"
                  formControlName="city"
                  placeholder="{{ 'user.invoice.city' | translate }}"
                  [required]="true">
            </app-labeled-field>
            <div class="text-right" style="width: 100%">
              <div class="btn-group">
                <button type="button" class="btn btn-default"
                    (click)="cancel()">
                  {{ 'user.cancel' | translate }}
                </button>
                <button type="submit"
                    [disabled]="loading"
                    class="btn btn-primary">
                  <i class="icon-spinner4 position-left"
                      [class.spinner]="loading"></i>
                  {{ 'user.submit' | translate }}
                </button>
              </div>
            </div>
          </form>
        </ng-container>

        <ng-template #readOnly>
          <dl class="dl-horizontal" *ngIf="invoiceData">
            <dt>{{ 'user.invoice.name' | translate }}</dt>
            <dd>{{ invoiceData.name }}</dd>
            <dt>{{ 'user.invoice.nip' | translate }}</dt>
            <dd>{{ invoiceData.nip }}</dd>
            <dt>{{ 'user.invoice.street' | translate }}</dt>
            <dd>{{ invoiceData.street }}</dd>
            <dt>{{ 'user.invoice.zip' | translate }}</dt>
            <dd>{{ invoiceData.zip }}</dd>
            <dt>{{ 'user.invoice.city' | translate }}</dt>
            <dd>{{ invoiceData.city }}</dd>
          </dl>
        </ng-template>
      </div>
    </div>
  </div>
</div>