<app-loading-container [loaded]="!!list">
  <div class="alert alert-info alert-styled-left no-shadow"
      *ngIf="dayNumbers?.length < 1; else notEmpty">
    Zdefiniuj najpierw kolejność bloków startowych
    <a routerLink="../performance-block-list" class="text-bold">TUTAJ</a>
  </div>

  <ng-template #notEmpty>
    <div class="hidden-print">
      <button class="btn btn-link btn-float text-size-small has-text"
          (click)="print()">
        <i class="icon-printer2"></i>
        Drukuj
      </button>
    </div>

    <ng-container *ngFor="let dayNumber of dayNumbers">
      <ng-container *ngFor="let chapterNumber of getChapterNumbers(dayNumber)">
        <ng-container *ngFor="let section of getSections(dayNumber, chapterNumber)">
          <ng-container *ngIf="section.performances.length">
            <ng-container *ngFor="let round of getRounds(section)">

              <div class="panel panel-flat table-responsive">
                <div class="panel-heading no-padding-bottom">
                  <p class="text-right">
                    {{ getDayName(dayNumber) }} -
                    Blok {{1 + +chapterNumber}}
                  </p>
                  <h6>Imię i nazwisko sędziego:</h6>
                </div>
                <div class="panel-heading no-padding-top no-padding-bottom">
                  <h6 class="panel-title no-padding-bottom"
                      style="border: 0;display: flex;align-items: center;">
                    <span class="text-bold mr-20" style="font-size: 24px">
                      {{ round }}
                    </span>
                    <div style="display: flex;flex-direction: column;">
                  <span *ngFor="let block of section.blocks">
                  <span class="text-semibold text-style">
                  {{ block.style }}
                </span>
                  -
                  <span>{{ block.type }}</span>
                  <span *ngIf="block.experience">
                - {{ block.experience }}
                </span>
                  (
                  <span>{{ block.age }}</span>
                  )
                </span>
                    </div>
                  </h6>
                  <div class="legend" style="display: flex; justify-content: space-between">
                    <div>
                      <span class="position-left">T - Technika</span>
                      <span class="position-left">C - Choreografia</span>
                      <span class="position-left">I - Image</span>
                    </div>
                  </div>
                </div>

                <table class="table table-bordered table-condensed">
                  <thead>
                  <tr>
                    <th class="col-xs-1 text-center">Nr startowy</th>
                    <ng-container *ngIf="canShowTitle(section); else noTitle">
                      <th class="col-xs-4 text-center">Tytuł</th>
                      <th class="col-xs-3 text-center">Notatki</th>
                    </ng-container>
                    <ng-template #noTitle>
                      <th class="col-xs-7 text-center">Notatki</th>
                    </ng-template>
                    <th class="col-xs-1 text-center">T</th>
                    <th class="col-xs-1 text-center">C</th>
                    <th class="col-xs-1 text-center">I</th>
                    <th class="text-center">Suma</th>
                    <th class="text-center">Miejsce</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let performance of section.performances">
                    <td class="text-center performance-number">
                      {{ performance.number }}
                    </td>
                    <td *ngIf="canShowTitle(section)">
                      {{ performance.title }}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="pagebreak"></div>

            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>

  </ng-template>
</app-loading-container>