.panel-flat {
  margin-bottom: 10px;
  border: 0;
}

.panel-heading {
  padding: 10px 20px;

  h6 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 15px;
  }
}

.panel-title {
  font-size: 14px;
  margin: 0 0 -20px;
}

.text-style {
  margin-left: 10px
}

.legend {
  font-size: 10px;
  margin: 0;

}

.table-condensed {
  font-size: 12px;

  th {
    padding: 8px 2px;
  }
}

.performance-number {
  padding: 0 2px;
  font-size: 20px;
  width: 120px;
}
