<div class="dashboard" ng-switch="$ctrl.isLoading">
  <view-header icon="icon-home4" title-key="TEXTS.DASHBOARD.TITLE"></view-header>

  <div class="content text-center" ng-switch-when="true">
    <i class="icon-spinner2 spinner position-left"></i>
    Ładowanie...
  </div>

  <div class="content animated fadeIn" ng-switch-when="false">
    <h6>
      <span translate="TEXTS.DASHBOARD.RECENT_REGISTRATIONS" translate-default=""></span>
    </h6>

    <div class="panel panel-flat">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>Data</th>
          <th>Klient</th>
          <th>Telefon</th>
          <th>Kurs</th>
          <th>Termin</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="registration in $ctrl.registrations"
            ng-class="$ctrl.registrationRowClass(registration)">
          <td ng-bind="::registration.createdAt | date: 'dd-MM-yyyy HH:mm'"></td>
          <td style="text-transform: uppercase">
            <span ng-bind="::registration.firstName"></span>
            <span ng-bind="::registration.lastName"></span>
          </td>
          <td ng-bind="::registration.phone"></td>
          <td>
            <a class="label bg-pink-700" href
                ui-sref="main.course.details({id: registration.course._id})">
              <span ng-bind="::registration.course.name"></span>
            </a>
          </td>
          <td>
            <span translate="DAYS.LONG.DAY{{::registration.course.day}}" translate-default=""></span>
            <span ng-bind="::registration.course.timeFrom"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>