<h6 class="no-margin-top performance-form__dancers-title">
  <div class="position-left">
    Wybierz tancerzy
    <span class="text-muted">(zaznaczono: {{ selectedDancers.length }})</span>
  </div>
  <div style="height: 25px;">
    <span *ngIf="selectedType"
        class="label label-success position-left">{{ selectedType?.type?.name?.trim() }}</span>
    <span *ngIf="selectedAge"
        class="label label-success">{{ selectedAge?.age?.name }}</span>
  </div>
</h6>

<ng-container *ngIf="media$ | async | device:'MOBILE'; else desktopDancers">
  <button class="btn btn-default btn-block"
      [class.btn-success]="isDancerChecked(dancer)"
      (click)="toggleDancer(dancer)"
      *ngFor="let dancer of sortedDancers">
    {{ dancer.firstName }} {{ dancer.lastName }} - {{ dancer.yearOfBirth }}
    <span class="text-muted">({{ getAge(dancer) }})</span>
  </button>
</ng-container>

<ng-template #desktopDancers>
  <div class="table-responsive">
    <table class="table dataTable table-xxs table-bordered">
      <thead>
      <tr>
        <th style="width: 50px"></th>
        <th [class]="getSortingClass('firstName')"
            (click)="sortBy('firstName')">
          Imię
        </th>
        <th [class]="getSortingClass('lastName')"
            (click)="sortBy('lastName')">
          Nazwisko
        </th>
        <th [class]="getSortingClass('yearOfBirth')"
            (click)="sortBy('yearOfBirth')">
          Rok
          <span class="text-muted">(wiek)</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dancer of sortedDancers"
          [class.success]="isDancerChecked(dancer)">
        <td style="width: 50px">
          <input type="checkbox"
              (click)="toggleDancer(dancer)"
              [checked]="isDancerChecked(dancer)">
        </td>
        <td>
          {{ dancer.firstName }}
        </td>
        <td>
          {{ dancer.lastName }}
        </td>
        <td>
          {{ dancer.yearOfBirth }}
          <span class="text-muted">
                ({{ getAge(dancer) }})
              </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-container *ngIf="isStyleVisible">
  <h6 [class.text-success]="selectedStyle"
      class="mt-20">Wybierz styl</h6>
  <div class="btn-group performance-form__button" dropdown placement="bottom right"
      *ngIf="styles.length>0; else noStyle">
    <button dropdownToggle
        type="button"
        [class.btn-success]="selectedStyle"
        class="btn btn-default btn-block dropdown-toggle">
      {{ selectedStyle?.style?.name || 'Styl' }}
      <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"
          *ngFor="let rule of styles">
        <a class="dropdown-item" (click)="setStyle(rule)">
          {{rule.style.name}}
        </a>
      </li>
    </ul>
  </div>
  <ng-template #noStyle>
    <span class="label label-danger">Brak dostępnych stylów dla wybranej kategorii i
      grupy wiekowej - skontaktuj się z organizatorem</span>
  </ng-template>
</ng-container>

<ng-container *ngIf="isExperienceVisible">
  <h6 [class.text-success]="selectedExperience"
      class="mt-20">
    Wybierz poziom doświadczenia
  </h6>
  <div class="btn-group performance-form__button" dropdown>
    <button dropdownToggle
        type="button"
        [class.btn-success]="selectedExperience"
        class="btn btn-default btn-block dropdown-toggle">
      {{ selectedExperience?.experience?.name || 'Poziom doświadczenia' }}
      <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"
          *ngFor="let rule of experiences">
        <a class="dropdown-item" (click)="setExperience(rule)">
          {{rule.experience.name}}
        </a>
      </li>
    </ul>
  </div>
</ng-container>

<ng-container *ngIf="isNameVisible">
  <h6 [class.text-success]="selectedName"
      class="mt-20">Wprowadź nazwę grupy</h6>
  <app-labeled-field>
    <input type="text" class="form-control"
        appTextField
        [placeholder]="'competition-details.form.group-name' | translate"
        [(ngModel)]="selectedName">
  </app-labeled-field>
</ng-container>

<ng-container *ngIf="isTitleVisible">
  <h6 [class.text-success]="selectedTitle"
      class="mt-20">Wprowadź tytuł prezentacji</h6>
  <app-labeled-field>
    <input type="text" class="form-control"
        appTextField
        placeholder="Tytuł prezentacji"
        [(ngModel)]="selectedTitle">
  </app-labeled-field>
</ng-container>

<!--<ng-template #closed>-->
<!--  <div class="alert alert-danger">-->
<!--    Zamknięte!-->
<!--  </div>-->
<!--</ng-template>-->

<ng-container>
  <p style="margin-top: 30px;">
    <button class="btn btn-primary animated bounceIn performance-form__button"
        (click)="submit()" *ngIf="isSubmitVisible">
      Zapisz
    </button>
    <button type="button" class="btn btn-link performance-form__button"
        (click)="cancel.emit()">Anuluj
    </button>
  </p>
  <p class="no-margin-bottom" *ngIf="isSubmitVisible">
    Przechodząc dalej akceptuję&nbsp;
    <a [attr.href]="competition.regulations" target="_blank">Regulamin turnieju</a>
  </p>
</ng-container>