@import '~styles/media';



.performance-form__dancers-title {
  display: flex;
  flex-direction: column;

  @include sm {
    flex-direction: row;
  }
}

@include xs-only {
  .performance-form__button {
    width: 100%;
  }
}
