<dl>
  <dt>Nazwa</dt>
  <dd>
    {{competition?.name}}
<!--    <span *ngIf="competition?.isPublic; else notPublic" class="label label-success">Publiczny</span>-->
<!--    <ng-template #notPublic>-->
<!--      <span class="label label-danger">Niepubliczny</span>-->
<!--    </ng-template>-->
  </dd>

  <dt>Data</dt>
  <dd>
    {{competition?.start | date: 'dd MMMM yyyy'}}
    -
    {{competition?.end | date: 'dd MMMM yyyy'}}
  </dd>

  <dt>Zakończenie rejestracji</dt>
  <dd>{{competition?.registrationEnd | date: 'dd MMMM yyyy'}}</dd>

  <dt>Kontakt</dt>
  <dd>
    <span class="text-semibold">tel:</span>
    {{competition?.phone}}
  </dd>

  <dt>Strona internetowa</dt>
  <dd>
    {{competition?.website}}
  </dd>
  <dt></dt>
</dl>
<dl>
  <dt>Adres</dt>
  <dd>
    <p>{{competition?.place}}</p>
    <p>{{competition?.street}}</p>
    <p>
      {{competition?.city}},
      {{competition?.zip}}
    </p>
  </dd>
</dl>