<app-loading-container [loaded]="!!(competition$ | async)">

  <div class="hidden-print">
    <ul class="nav nav-xs nav-pills">
      <li>
        <a routerLink="../rules">
          <i class="icon-tree6 position-left"></i>
          Reguły zapisów
        </a>
      </li>
      <li>
        <a routerLink="../performance-block-list">
          <i class="icon-server position-left"></i>
          Bloki startowe
        </a>
      </li>
<!--      <li>-->
<!--        <a routerLink="../performance-block-list">-->
<!--          <i class="icon-cog3 position-left"></i>-->
<!--          Ustawienia-->
<!--        </a>-->
<!--      </li>-->
    </ul>
  </div>

  <!--  <div class="row">-->
  <!--    <div class="col-xs-12 mb-20">-->
  <!--      <div class="btn-group position-left">-->
  <!--        <a routerLink="../rules"-->
  <!--            class="btn btn-default">-->
  <!--          <i class="icon-tree6 position-left"></i>-->
  <!--          Reguły zapisów-->
  <!--        </a>-->
  <!--        <a routerLink="../performance-block-list"-->
  <!--            class="btn btn-default">-->
  <!--          <i class="icon-server position-left"></i>-->
  <!--          Bloki startowe-->
  <!--        </a>-->
  <!--      </div>-->

  <!--      <button class="btn btn-flat pull-right"-->
  <!--          [class.border-success]="competition?.resultPublished"-->
  <!--          (click)="toggleResults()">-->
  <!--        <ng-container *ngIf="!competition?.resultPublished; else hideResults">-->
  <!--          <i class="icon-podium position-left"></i>-->
  <!--          Wyniki ukryte-->
  <!--        </ng-container>-->
  <!--        <ng-template #hideResults>-->
  <!--          <i class="icon-check position-left"></i>-->
  <!--          Wyniki publiczne-->
  <!--        </ng-template>-->
  <!--      </button>-->
  <!--    </div>-->
  <!--  </div>-->

  <h6 class="no-margin-top visible-xs">
    {{ 'competition-details.tabs.info' | translate }}
  </h6>

  <div class="row">

    <div class="col-sm-6">
      <div class="panel panel-flat">
        <div class="panel-body">
<!--          <div class="checkbox">-->
<!--            <label>-->
<!--              <div class="checker">-->
<!--                <span [class.checked]="checked">-->
<!--                  <input type="checkbox" class="styled" [(ngModel)]="checked">-->
<!--                  <input type="checkbox" class="styled"-->
<!--                      (click)="checked=!checked"-->
<!--                      [checked]="checked">-->
<!--                </span>-->
<!--              </div>-->
<!--              Checked styled-->
<!--            </label>-->
<!--          </div>-->
          <admin-competition-info-static
              [competition]="competition$ | async"></admin-competition-info-static>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-flat table-responsive">
        <div class="panel-heading pt-5 pb-5">
          <h6 class="panel-title"
              style="display: flex; justify-content: space-between; align-items: center;">
            Style
            <button class="btn btn-xs btn-default"
                (click)="addStyleModalRef=show(addStyleTemplate)">
              Dodaj
            </button>
          </h6>
        </div>
        <table class="table table-xxs table-bordered table-hover">
          <ng-container *ngIf="(styles$ | async)?.length>0; else noResult">
            <thead>
            <tr>
              <th>Nazwa</th>
              <th>Tytuł układu</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let style of styles$ | async">
              <td>{{ style.name }}</td>
              <td>{{ style.showTitle ? 'Tak' : 'Nie' }}</td>
            </tr>
            </tbody>
          </ng-container>
        </table>
      </div>

      <div class="panel panel-flat table-responsive">
        <div class="panel-heading pt-5 pb-5">
          <h6 class="panel-title"
              style="display: flex; justify-content: space-between; align-items: center;">
            Kategorie
            <button class="btn btn-xs btn-default" (click)="addTypeModalRef=show(addTypeTemplate)">
              Dodaj
            </button>
          </h6>
        </div>
        <table class="table table-xxs table-bordered table-hover">
          <ng-container *ngIf="(types$ | async)?.length>0; else noResult">
            <thead>
            <tr>
              <th>Nazwa</th>
              <th>Min tancerzy</th>
              <th>Max tancerzy</th>
              <th>Wyświetlaj nazwę grupy</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let type of (types$ | async)">
              <td>{{ type.name }}</td>
              <td>{{ type.min }}</td>
              <td>{{ type.max }}</td>
              <td>{{ type.showName ? 'Tak' : 'Nie' }}</td>
            </tr>
          </ng-container>
        </table>
      </div>

      <div class="panel panel-flat table-responsive">
        <div class="panel-heading pt-5 pb-5">
          <h6 class="panel-title"
              style="display: flex; justify-content: space-between; align-items: center;">
            Doświadczenie
            <button class="btn btn-xs btn-default"
                (click)="addExperienceModalRef=show(addExperienceTemplate)">
              Dodaj
            </button>
          </h6>
        </div>
        <table class="table table-xxs table-bordered table-hover">
          <ng-container *ngIf="(experiences$ | async)?.length>0; else noResult">
            <thead>
            <tr>
              <th>Nazwa</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let experience of (experiences$ | async)">
              <td>{{ experience.name }}</td>
            </tr>
            </tbody>
          </ng-container>
        </table>
      </div>

      <div class="panel panel-flat table-responsive">
        <div class="panel-heading pt-5 pb-5">
          <h6 class="panel-title"
              style="display: flex; justify-content: space-between; align-items: center;">
            Grupy wiekowe
            <button class="btn btn-xs btn-default" (click)="addAgeModalRef=show(addAgeTemplate)">
              Dodaj
            </button>
          </h6>
        </div>
        <table class="table table-xxs table-bordered table-hover">
          <ng-container *ngIf="(ages$ | async)?.length>0; else noResult">
            <thead>
            <tr>
              <th>Nazwa</th>
              <th>Min wiek</th>
              <th>Max wiek</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let age of (ages$ | async)">
              <td>{{ age.name }}</td>
              <td>{{ age.min }}</td>
              <td>{{ age.max }}</td>
            </tr>
            </tbody>
          </ng-container>
        </table>
      </div>
    </div>
  </div>

  <ng-template #addStyleTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Dodaj styl</h4>
      <button type="button" class="close pull-right" (click)="addStyleModalRef.hide()">
        <span>&times;</span>
      </button>
    </div>
    <form class="form-horizontal"
        [formGroup]="ngStyleForm"
        autocomplete="off">
      <div class="modal-body">
        <app-labeled-field>
          <input type="text" class="form-control"
              formControlName="name"
              appTextField
              placeholder="Nazwa">
        </app-labeled-field>
        <label class="checkbox-inline">
          <input type="checkbox" formControlName="showTitle">
          Wyświetlaj tytuł układu
        </label>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link" (click)="addStyleModalRef.hide()">Anuluj</button>
        <button type="button" (click)="saveStyle(ngStyleForm.value)" class="btn btn-primary">Dodaj
        </button>
      </div>
    </form>
  </ng-template>

  <ng-template #addTypeTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Dodaj typ</h4>
      <button type="button" class="close pull-right" (click)="addTypeModalRef.hide()">
        <span>&times;</span>
      </button>
    </div>
    <form class="form-horizontal"
        [formGroup]="ngTypeForm"
        autocomplete="off">
      <div class="modal-body">
        <app-labeled-field>
          <input type="text" class="form-control"
              formControlName="name"
              appTextField
              placeholder="Nazwa">
        </app-labeled-field>
        <app-labeled-field>
          <input type="text" class="form-control"
              formControlName="min"
              appTextField
              placeholder="Minimalna liczba tancerzy">
        </app-labeled-field>
        <app-labeled-field>
          <input type="text" class="form-control"
              formControlName="max"
              appTextField
              placeholder="Maksymalna liczba tancerzy">
        </app-labeled-field>
        <label class="checkbox-inline">
          <input type="checkbox" formControlName="showName">
          Wyświetlaj nazwę grupy (w przeciwnym wypadku występ prezentowany będzie na listach
          jako lista tancerzy)
        </label>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link" (click)="addTypeModalRef.hide()">Anuluj</button>
        <button type="button" (click)="saveType(ngTypeForm.value)" class="btn btn-primary">Dodaj
        </button>
      </div>
    </form>
  </ng-template>

  <ng-template #addExperienceTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Dodaj doświadczenie</h4>
      <button type="button" class="close pull-right" (click)="addExperienceModalRef.hide()">
        <span>&times;</span>
      </button>
    </div>
    <form class="form-horizontal"
        [formGroup]="ngExperienceForm"
        autocomplete="off">
      <div class="modal-body">
        <app-labeled-field>
          <input type="text" class="form-control"
              formControlName="name"
              appTextField
              placeholder="Nazwa">
        </app-labeled-field>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link" (click)="addExperienceModalRef.hide()">Anuluj
        </button>
        <button type="button" (click)="saveExperience(ngExperienceForm.value)"
            class="btn btn-primary">Dodaj
        </button>
      </div>
    </form>
  </ng-template>

  <ng-template #addAgeTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Dodaj grupę wiekową</h4>
      <button type="button" class="close pull-right" (click)="addAgeModalRef.hide()">
        <span>&times;</span>
      </button>
    </div>
    <form class="form-horizontal"
        [formGroup]="ngAgeForm"
        autocomplete="off">
      <div class="modal-body">
        <app-labeled-field>
          <input type="text" class="form-control"
              formControlName="name"
              appTextField
              placeholder="Nazwa">
        </app-labeled-field>
        <app-labeled-field>
          <input type="text" class="form-control"
              formControlName="min"
              appTextField
              placeholder="Minimalny wiek">
        </app-labeled-field>
        <app-labeled-field>
          <input type="text" class="form-control"
              formControlName="max"
              appTextField
              placeholder="Maksymalny wiek">
        </app-labeled-field>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link" (click)="addAgeModalRef.hide()">Anuluj</button>
        <button type="button" (click)="saveAge(ngAgeForm.value)" class="btn btn-primary">Dodaj
        </button>
      </div>
    </form>
  </ng-template>
</app-loading-container>

<ng-template #noResult>
  <tbody>
  <tr>
    <td>Brak</td>
  </tr>
  </tbody>
</ng-template>