<app-main-page title="Moje zawody"
    iconId="icon-trophy2">
  <app-loading-container [loaded]="!!(upcomingList$ | async)">
    <div class="text-center content-group text-muted content-divider">
      <span class="pt-10 pb-10">Najbliższe zawody</span>
    </div>

    <ul class="media-list content-group">
      <li class="media panel panel-body stack-media-on-mobile btn-raised"
          routerLink="{{ competition.sid }}"
          *ngFor="let competition of upcomingList$ | async">
        <div class="media-body no-margin">
          <h6 class="media-heading text-semibold text-primary">
            {{ competition.name }}
          </h6>

          <ul class="list-inline list-inline-separate text-muted">
            <li>{{ competition.start | date: 'd MMMM yyyy' }}</li>
            <li>{{ competition.city }}</li>
          </ul>
        </div>

        <div class="media-right text-nowrap">
          <app-competition-status-label [competition]="competition"></app-competition-status-label>
        </div>
      </li>
    </ul>

    <div class="text-center content-group text-muted content-divider">
      <span class="pt-10 pb-10">Archiwum</span>
    </div>

    <ul class="media-list content-group">
      <li class="media panel panel-body stack-media-on-mobile btn-raised"
          routerLink="{{ competition.sid }}"
          *ngFor="let competition of outdatedList$ | async">
        <div class="media-body">
          <h6 class="media-heading text-semibold text-primary">
            {{ competition.name }}
          </h6>

          <ul class="list-inline list-inline-separate">
            <li>{{ competition.start | date: 'd MMMM yyyy' }}</li>
            <li>{{ competition.city }}</li>
          </ul>
        </div>

        <div class="media-right text-nowrap">
          <app-competition-status-label [competition]="competition"></app-competition-status-label>
        </div>
      </li>
    </ul>
  </app-loading-container>
</app-main-page>