<div class="panel panel-flat table-responsive">
  <div class="panel-heading pb-10 pt-10" style="display: flex; justify-content: space-between;
      align-items: center">
    <h6 class="panel-title">
      Saldo

    </h6>
    <button class="btn btn-xs btn-info" (click)="addPayment(template)">
      <i class="icon-plus-circle2 position-left"></i>
      Dodaj wpłatę
    </button>
  </div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Data</th>
      <th class="text-right">Kwota</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let payment of payments; let $index = index;">
      <td>{{ payment.date | date: 'dd MMMM yyyy' }}</td>
      <td class="text-right">
        {{ payment.amount | number:'1.2-3' }}
        zł
<!--        <a (click)="deletePayment(payment)">-->
<!--          <i class="icon-cross2 text-danger"></i>-->
<!--        </a>-->
      </td>
    </tr>
    <tr>
      <td class="text-right">
        RAZEM
      </td>
      <td class="text-right">
        {{ sum | number:'1.2-3' }}
        zł
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Dodaj wpłatę</h4>
    <button type="button" class="close pull-right" (click)="addPaymentModalRef.hide()">
      <span>&times;</span>
    </button>
  </div>
  <form class="form-horizontal"
      [formGroup]="ngForm"
      (submit)="savePayment(ngForm.value)"
      autocomplete="off">
    <div class="modal-body">
      <app-labeled-field>
        <input type="text"
            appTextField
            [placeholder]="'Data'"
            class="form-control"
            formControlName="date"
            bsDatepicker>
      </app-labeled-field>
      <app-labeled-field>
        <input appTextField
            type="text"
            class="form-control"
            [placeholder]="'Kwota'"
            formControlName="amount">
      </app-labeled-field>
    </div>

    <div class="modal-footer text-left">
      <button type="submit" class="btn btn-info">Dodaj</button>
      <button type="button" class="btn btn-link" (click)="addPaymentModalRef.hide()">Anuluj</button>
    </div>
  </form>
</ng-template>