<div class="registration page-container" style="min-height:577px; padding-top: 20px;">
  <div class="text-center">
    <img src="assets/logo-big.png" alt="logo" style="width: 200px;">
  </div>
  <div class="page-content">
    <div class="content-wrapper">
      <div class="container">
        <div class="content">
          <div class="panel panel-flat" *ngIf="success$ | async">
            <div class="panel-body text-center">
                <h6>
                  <i class="icon-checkmark3 text-success"></i>
                </h6>
                <h6>
                  {{ 'register.success' | translate }}
                </h6>
            </div>
          </div>

          <app-register-box [class.hidden]="success$ | async"
              (onSubmit)="register($event)"
              [error]="error$ | async"
              [isLoading]="isLoading$ | async"></app-register-box>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>