<div class="sidebar-content">
  <div class="sidebar-category sidebar-category-visible">
    <div class="sidebar-user">
      <div class="category-content">
        <div class="media" *ngIf="user$ | async as user">
          <div class="media-left">
            <span class="profile-thumb">
              <img class="img-circle img-md"
                  src="https://avatars.dicebear.com/v2/jdenticon/{{ user.email }}.svg">
            </span>
          </div>

          <div class="media-body">
            <span class="media-heading text-semibold">
              {{ user.firstName }}
              {{ user.lastName }}
            </span>
            <div class="text-size-mini text-muted">
              <i class="icon-pin text-size-small"></i> &nbsp;
              {{ user.city }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="category-content no-padding">
      <ul class="navigation navigation-main navigation-accordion">
        <li class="navigation-header">
          <span>Uczestnik</span>
          <i class="icon-menu"></i>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/home">
            <i class="icon-home"></i>
            <span>{{ 'common.sidebar.home' | translate }}</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dancers">
            <i class="icon-users2"></i>
            <span>{{ 'common.sidebar.dancers' | translate }}</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/competitions">
            <i class="icon-trophy2"></i>
            <span>{{ 'common.sidebar.competitions' | translate }}</span>
          </a>
        </li>

        <ng-container *ngIf="isAdminUser">
          <!--        <ng-container *ngIf="isAdminUser; else adminAdvert">-->
          <li class="navigation-header">
            <span>Organizator</span>
            <i class="icon-menu"></i>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/admin">
              <i class="icon-cog"></i>
              <span>{{ 'common.sidebar.admin-competitions' | translate }}</span>
            </a>
          </li>
        </ng-container>

        <!--        <ng-template #adminAdvert>-->
        <!--          <li class="navigation-header no-margin-top"-->
        <!--              style="padding: 10px;text-transform: none;font-size: 12px">-->
        <!--            <div class="alert alert-primary no-border no-margin-bottom">-->
        <!--              Organizujesz własny turniej?-->
        <!--              <span class="text-semibold">Wypróbuj konto organizatora za darmo!</span>-->
        <!--            </div>-->
        <!--          </li>-->
        <!--        </ng-template>-->

        <li class="navigation-header">
          <span>{{ 'common.sidebar.account' | translate }}</span>
          <i class="icon-menu"></i>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/profile">
            <i class="icon-cog3"></i>
            <span>{{ 'common.sidebar.account-settings' | translate }}</span>
          </a>
        </li>
        <li class="visible-xs-block">
          <a routerLink="/logout">
            <i class="icon-switch2"></i>
            <span>{{ 'common.navbar.logout' | translate }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="pr-5 pl-5 hidden-xs">
  <div class="alert alert-info no-border">Organizujesz własny turniej?
    <a href="https://kartazgloszen.pl" target="_blank" class="alert-link">Wypróbuj konto organizatora za darmo!</a>
  </div>
</div>