@import "styles/variables";

.navigation li a > i {
  font-size: 12px;
}

.navigation > li > a {
  font-size: 11px;
  text-transform: uppercase;
  transition: border-left 200ms ease-in-out;
}

.navigation {
  > li {
    &.active {
      > a {
        border-left: 3px solid $color-warning;
      }
    }
  }
}