<form ng-submit="$ctrl.searchByCode()" ng-if="!$ctrl.showNotFoundWarning">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">×</button>
    <h6 class="modal-title" translate="TEXTS.NAVBAR.ENTRANCE"></h6>
  </div>
  <div class="modal-body">
    <h6 class="text-semibold">
      <span translate="TEXTS.CREATE_ENTRANCE.LABEL"></span>
      <a href uib-popover="{{ 'TEXTS.HELP.CREATE_ENTRANCE' | translate }}"
         popover-trigger="'mouseenter'">
        <i class="icon-question4"></i>
      </a>
    </h6>

    <p>
      <input type="text" class="form-control" placeholder="{{ 'TEXTS.CREATE_ENTRANCE.CARD_CODE' | translate }}"
             ng-model="$ctrl.cardCode" autofocus>
      <span class="help-block text-right">Po wprowadzeniu kodu wciśnij ENTER lub kliknij przycisk poniżej.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link" ng-click="$ctrl.cancel()">Anuluj</button>
    <button type="submit" class="btn btn-primary" ladda="$ctrl.searchingByCode">
      <i class="icon-search4"></i>
      <span translate="TEXTS.CREATE_ENTRANCE.SEARCH_BY_CODE" translate-default=""></span>
    </button>
  </div>
</form>

<div ng-if="$ctrl.showNotFoundWarning">
  <div class="modal-header bg-warning">
    <button type="button" class="close" ng-click="$ctrl.cancel()">×</button>
    <h6 class="modal-title">Nie znaleziono klienta</h6>
  </div>
  <div class="modal-body">
    <p class="text-center">
      Czy utworzyć nowe konto / powiązać z istniejącym klientem?
    </p>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-link" ng-click="$ctrl.reset()">Wróć</button>
    <button type="button" class="btn btn-warning" ng-click="$ctrl.createCustomer()">Utwórz nowego klienta</button>
  </div>
</div>
