<app-main-page title="{{ 'common.sidebar.home' | translate }}" iconId="icon-home4">
  <div class="row">
    <div class="col-md-6">
      <div class="alert alert-info alert-styled-left alert-bordered no-shadow"
          *ngIf="dancersInitialized$ | async"
          [class.hidden]="(dancers$ | async)?.length">
        Nie dodałeś jeszcze tancerzy. Najlepiej zrobić to od razu -
        <a routerLink="/dancers" class="text-bold">KLIKNIJ</a>
      </div>

      <div class="alert alert-info alert-styled-left alert-bordered no-shadow"
          *ngIf="!(invoiceDataLoading$ | async)"
          [class.hidden]="invoiceData$ | async">
        Chcesz otrzymać fakturę? Uzupełnij dane firmy w
        <a routerLink="/profile" class="text-bold">Ustawieniach konta</a>
        (zakładka <span class="text-semibold">Dane do faktury</span>)
      </div>
    </div>
  </div>

  <div *ngIf="isAdminUser">
    <ng-container *ngFor="let competition of adminCompetitions$ | async">
      <div class="row">
        <h3 class="col-xs-12 no-margin-top">{{competition.name}}</h3>
      </div>

      <div class="row admin-stats__row">
        <home-admin-days-left [competition]="competition"
            class="col-xs-6 col-md-3 mb-10"></home-admin-days-left>

        <home-admin-performances-count [competition]="competition"
            class="col-xs-6 col-md-3 mb-10"></home-admin-performances-count>

        <home-admin-dancers-count [competition]="competition"
            class="col-xs-6 col-md-3 mb-10"></home-admin-dancers-count>

        <div class="col-xs-6 col-md-3 mb-10">
          <a (click)="goToDetails(competition)">
            <div class="panel panel-flat no-margin" style="height: 100%">
              <div class="panel-body">


                <div style="display: flex;flex-direction: column;align-items: center">
                  <ng-template #loading>
                    <i class="icon-spinner4 spinner"
                        style="font-size: 72px;line-height: 1.5384616;"></i>
                  </ng-template>

                  <ng-container *ngIf="!loadingDetails; else loading">
                    <h2 class="no-margin-top mb-5">
                      <i class="icon-enter2" style="font-size: 72px;line-height: 1.5384616;"></i>
                    </h2>
                    <span class="text-center">przejdź do szczegółów</span>
                  </ng-container>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <!--      UCZESTNIK-->

    </div>
  </div>

</app-main-page>