<div class="panel panel-flat">
  <div class="panel-heading">
    <h6 class="panel-title">Wizyty na stronie</h6>
  </div>
  <div class="panel-body">
    <canvas id="line" class="chart chart-line" chart-data="data"
        chart-labels="labels" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
  </div>
</div>