<ng-container *ngIf="showName; else dancersCell">
  {{ performance.name}}
</ng-container>
<ng-template #dancersCell>
  <p *ngFor="let dancer of performance.dancers">
    {{dancer.firstName}}
    {{dancer.lastName}}
  </p>
</ng-template>