@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap&subset=latin-ext');
@import "./bootstrap.css";
@import "./core.css";
@import "./components.css";
@import "./colors.css";

$screen-xs: 768px;
$screen-sm: 48em;
$screen-md: 64em;
$screen-lg: 75em;

@mixin xs-only {
  @media (max-width: #{$screen-xs}) {
    @content;
  }
}

@mixin xs {
  @media (min-width: #{$screen-xs}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.hero {
  width: 100vw;
  color: white;
  background-image: linear-gradient(to bottom, #463F7F, #1F1B43);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .hero-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    font-size: 4em;
  }

  .main-image {
    margin-top: 50px;
    overflow: hidden;
    max-height: 60vw;

    @include sm {
      margin-top: 100px;
      overflow: initial;
    }

    img {
      width: 200vw;
      margin-left: 30px;

      @include sm {
        width: 80vw;
      }
    }
  }


  .main-buttons {
    display: flex;
    flex-direction: column;

    @include sm {
      flex-direction: row;
      justify-content: center;
    }
  }

  .btn-info {
    border-width: 2px;
    margin-bottom: 10px;

    span {
      text-transform: initial;
    }

    @include sm {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  .btn-flat {
    text-transform: initial;
  }
}

.feature-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;

  @include sm {
    flex-direction: row;
    margin-bottom: 150px;

    .switched {
      order: 1;
    }
  }

  img {
    width: 100%;
  }

  .media-left {
    min-width: 64px;

    i {
      font-size: 3.5rem;
    }
  }
}

.competitions {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include sm {
    flex-direction: row;
  }

  &__item {
    height: 150px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    min-width: 150px;

    @include sm {
      margin-right: 50px;
      margin-bottom: 0;

      &:last-of-type {
        margin-right: 0;
      }
    }


    img {
      width: 150px;
    }
  }
}

.panel-price {
  @include xs-only {
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 0 !important;
  }
}