<ng-template #loading>
  <p class="text-center">
    <i class="icon-spinner4 spinner"></i>
  </p>
</ng-template>

<div class="animated fadeIn" *ngIf="competition$ | async as competition; else loading">
  <div class="panel panel-white">
    <div class="panel-body">
      <h6 class="no-margin-top visible-xs">
        {{ 'competition-details.tabs.info' | translate }}
      </h6>
      <div class="row">
        <div class="col-sm-6">
          <dl>
            <dt>Nazwa</dt>
            <dd>{{competition.name}}</dd>

            <dd>
              <a href="{{competition.regulations}}" target="_blank">
                Regulamin
                <i class="fa fa-external-link"></i>
              </a>
            </dd>

            <dt>Data</dt>
            <dd>
              {{competition.start | date: 'dd MMMM yyyy'}}
              -
              {{competition.end | date: 'dd MMMM yyyy'}}
            </dd>

            <dt>Zakończenie rejestracji</dt>
            <dd>{{competition.registrationEnd | date: 'dd MMMM yyyy'}}</dd>

            <ng-container *ngIf="(licence$ | async)?.musicUpload && competition.audioUploadEnd">
              <dt>Zakończenie przyjmowania muzyki</dt>
              <dd>{{ competition.audioUploadEnd | date: 'dd MMMM yyyy' }}</dd>
            </ng-container>

            <dd class="mt-20">
              <a routerLink="../registration">
                <app-competition-status-label
                    [competition]="competition"></app-competition-status-label>
              </a>
            </dd>

            <dt>Miejsce zawodów</dt>
            <dd class="mb-5">{{competition.place}}</dd>
            <dd>{{competition.street}}</dd>
            <dd class="mb-5">
              {{competition.zip}}
              {{competition.city}}

            </dd>
            <dd>
              <a [attr.href]="competition.mapUrl" target="_blank">
                <i class="icon-location3"></i>
                Pokaż na mapie
              </a>
            </dd>

            <dt>Kontakt</dt>
            <dd>
              <span class="text-semibold">tel:</span>
              {{competition.phone}}
            </dd>

            <dd>
              <a href="{{competition.website}}" target="_blank">
                Strona internetowa
                <i class="fa fa-external-link"></i>
              </a>
            </dd>
          </dl>
        </div>
        <div class="col-sm-6">
<!--          <dl class="dl-horizontal">-->
<!--            <ng-container *ngIf="styles$ | async as styles">-->
<!--              <dt>Style</dt>-->
<!--              <dd>-->
<!--                <ul>-->
<!--                  <li *ngFor="let style of styles"-->
<!--                      class=" position-left mb-5">-->
<!--                    {{ style.name }}-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </dd>-->
<!--            </ng-container>-->
<!--          </dl>-->


<!--          <dl class="mt-20-xs">-->
<!--            <ng-container *ngIf="styles$ | async as styles">-->
<!--              <dt *ngIf="styles.length>0">Style</dt>-->
<!--              <dd>-->
<!--              <span *ngFor="let style of styles"-->
<!--                  class="label label-striped position-left mb-5">-->
<!--                {{ style.name }}-->
<!--              </span>-->
<!--              </dd>-->
<!--            </ng-container>-->

<!--            <ng-container *ngIf="types$ | async as types">-->
<!--              <dt *ngIf="types.length>0">Kategorie</dt>-->
<!--              <dd>-->
<!--                <span *ngFor="let type of types"-->
<!--                    class="label label-striped position-left mb-5">{{ type.name?.trim() }}</span>-->
<!--              </dd>-->
<!--            </ng-container>-->

<!--            <ng-container *ngIf="experiences$ | async as experiences">-->
<!--              <dt *ngIf="experiences.length>0">Poziomy doświadczenia</dt>-->
<!--              <dd>-->
<!--                <span *ngFor="let experience of experiences"-->
<!--                    class="label label-striped position-left mb-5">-->
<!--                  {{ experience.name }}-->
<!--                </span>-->
<!--              </dd>-->
<!--            </ng-container>-->

<!--            <ng-container *ngIf="ages$ | async as ages">-->
<!--              <dt *ngIf="ages.length>0">Kategorie wiekowe</dt>-->
<!--              <dd>-->
<!--                <span *ngFor="let age of ages"-->
<!--                    class="label label-striped position-left mb-5">-->
<!--                  {{ age.name }}-->
<!--                </span>-->
<!--              </dd>-->
<!--            </ng-container>-->
<!--          </dl>-->
        </div>
      </div>
    </div>
  </div>
</div>