<div class="login page-container" style="min-height:577px; padding-top: 20px;">
  <div class="text-center">
    <img src="assets/logo-big.png" alt="logo" style="width: 200px;">
  </div>
  <div class="page-content">
    <div class="content-wrapper">
      <div class="container">
        <div class="content">
          <div class="panel panel-flat">
            <div class="panel-body text-center">
              <ng-container *ngIf="loading; else loaded">
                <h6>
                  <i class="icon-spinner4 spinner position-left"></i>
                </h6>
                <h6>
                  {{ 'activate.in-progress' | translate }}
                </h6>
              </ng-container>

              <ng-template #loaded>
                <ng-container *ngIf="error; else success">
                  <h6>
                    <i class="icon-bug2 text-danger"></i>
                  </h6>
                  <h6>
                    {{ 'activate.error' | translate }}
                  </h6>
                </ng-container>

                <ng-template #success>
                  <h6>
                    <i class="icon-checkmark3 text-success position-left"></i>
                  </h6>
                  <h6>
                    {{ 'activate.success' | translate }}
                    <a routerLink="/login">
                      {{ 'activate.success2' | translate }}
                    </a>
                  </h6>
                </ng-template>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>