<div class="advertisement-details">
  <view-header icon="icon-mustache" title-key="TEXTS.ADVERTISEMENT_DETAILS.TITLE"
      back-to="main.advertisement.list"
      subtitle-key="TEXTS.ADVERTISEMENT_DETAILS.SUBTITLE"></view-header>


  <div class="content animated fadeIn">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-flat">
          <div class="panel-heading">
            <h6 class="panel-title">Szczegóły</h6>
          </div>
          <div class="panel-body">
            <div class="form-horizontal">
              <legend class="text-semibold">Podstawowe dane</legend>

              <div class="form-group">
                <label class="col-lg-4 control-label text-semibold">Imię</label>
                <div class="col-lg-8">
                  <p class="form-control-static"
                      ng-bind="$ctrl.advertisement.advertiser.firstName || '-'"></p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label text-semibold">Nazwisko</label>
                <div class="col-lg-8">
                  <p class="form-control-static"
                      ng-bind="$ctrl.advertisement.advertiser.lastName || '-'"></p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label text-semibold">Wiek</label>
                <div class="col-lg-8">
                  <p class="form-control-static"
                      ng-bind="$ctrl.advertisement.advertiser.age || '-'"></p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label text-semibold">Wzrost</label>
                <div class="col-lg-8">
                  <p class="form-control-static"
                      ng-bind="$ctrl.advertisement.advertiser.height || '-'"></p>
                </div>
              </div>
              <legend class="text-semibold">Preferencje</legend>

              <div class="form-group">
                <label class="col-lg-4 control-label text-semibold">Szukam</label>
                <div class="col-lg-8">
                  <p class="form-control-static"
                      ng-bind="$ctrl.advertisement.preferences.gender || '-'"></p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label text-semibold">Styl tańca</label>
                <div class="col-lg-8">
                  <p class="form-control-static"
                      ng-bind="$ctrl.advertisement.preferences.style || '-'"></p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label text-semibold">Uwagi</label>
                <div class="col-lg-8">
                  <p class="form-control-static"
                      ng-bind="$ctrl.advertisement.preferences.comment || '-'"></p>
                </div>
              </div>

              <legend class="text-semibold">O sobie</legend>

              <div class="form-group">
                <label class="col-lg-4 control-label text-semibold">Doświadczenie taneczne</label>
                <div class="col-lg-8">
                  <p class="form-control-static"
                      ng-bind="$ctrl.advertisement.advertiser.experience || '-'"></p>
                </div>
              </div>
              <legend class="text-semibold">Dane kontaktowe</legend>

              <div class="form-group">
                <label class="col-lg-4 control-label text-semibold">Telefon</label>
                <div class="col-lg-8">
                  <p class="form-control-static"
                      ng-bind="$ctrl.advertisement.contact.mobile || '-'"></p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label text-semibold">Email</label>
                <div class="col-lg-8">
                  <p class="form-control-static"
                      ng-bind="$ctrl.advertisement.contact.email || '-'"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <advertisement-summary advertisement="$ctrl.advertisement"
            states="$ctrl.states"
            is-update-in-progress="$ctrl.isUpdateLoading"
            on-set-state-click="$ctrl.setState($event)"></advertisement-summary>

        <notes-table notes="$ctrl.advertisement.notes" on-add-click="$ctrl.addAdvertisementNote()"></notes-table>
      </div>

    </div>
  </div>
</div>
