<div class="course-list" ng-switch="$ctrl.isLoading">
  <view-header icon="icon-calendar" title-key="TEXTS.COURSE_LIST.TITLE"
      subtitle-key="TEXTS.COURSE_LIST.SUBTITLE"></view-header>

  <div class="content text-center" ng-switch-when="true">
    <i class="icon-spinner2 spinner position-left"></i>
    Ładowanie...
  </div>

  <div class="content animated fadeIn" ng-switch-when="false">
    <day-filter current-day="$ctrl.day"
        days="$ctrl.days"
        on-filter-change="$ctrl.filterByDay($event)"></day-filter>

    <day-courses ng-repeat="day in $ctrl.days | filter: {'id': $ctrl.day.id}"
        day="day"
        courses="$ctrl.courses"
        on-details-click="$ctrl.goToDetails($event)"
        on-delete-click="$ctrl.delete($event)"
        on-add-click="$ctrl.add($event)"
        on-toggle-public-click="$ctrl.toggleIsPublic($event)"
        on-toggle-registration-click="$ctrl.toggleIsRegistrationOpen($event)"></day-courses>
  </div>
</div>