<div class="competition-registration-list" ng-switch="$ctrl.isLoading">
  <div class="content text-center" ng-switch-when="true">
    <i class="icon-spinner2 spinner position-left"></i>
    Ładowanie...
  </div>

  <div class="content animated fadeIn" ng-switch-when="false">
    <div style="margin-bottom: 20px;">
      <button class="btn btn-default hidden-print pull-left" ng-click="$ctrl.print()">
        <i class="icon-printer"></i>
      </button>
      <div ng-bind="::$ctrl.school.email"></div>
      <h4 class="no-margin text-bold">
        <span ng-bind="::$ctrl.school.name"></span>
        -
        <span ng-bind="::$ctrl.school.city"></span>
        <span class="pull-right" ng-bind="::$ctrl.dancersAmount"></span>
      </h4>
    </div>

    <div ng-repeat="day in ::$ctrl.days">
      <div ng-repeat="block in day.blocks">
        <div class="panel panel-flat" style="margin-bottom: 10px; border-color: black"
            ng-if="::block.performances.length>0"
            ng-repeat="block in $ctrl.list | filter: {block: block.id, day: day.key} | orderBy: 'order'">
          <div class="panel-heading" style="padding: 10px 20px;">
            <h6 class="panel-title" style="font-size: 14px; margin: 0">
              <span class="text-bold"
                  translate="COMPETITION.STYLES.{{::block.style}}"
                  translate-default=""></span>
              -
              <span translate="COMPETITION.TYPES.{{::block.type}}" translate-default=""></span>
              <span ng-if="::block.expLevel">
                 -
                <span translate="COMPETITION.EXP_LEVELS.{{::block.expLevel}}"
                    translate-default=""></span>
              </span>
              (<span translate="COMPETITION.AGE_LEVELS.{{::block.ageLevel}}"
                translate-default=""></span>)
            </h6>
          </div>
          <table class="table table-condensed">
            <thead>
            <tr>
              <th style="width: 120px">Nr startowy</th>
              <th>Nazwa</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="performance in ::block.performances">
              <td style="padding-top: 0; padding-bottom: 0; font-size: 26px; width: 120px">
                <span ng-bind="::performance.number"></span>
              </td>
              <td ng-switch="::performance.type" style="text-transform: uppercase">
                <div ng-switch-when="SOLO">
                  <span ng-bind="::performance.dancers[0].firstName"></span>
                  <span ng-bind="::performance.dancers[0].lastName"></span>
                </div>
                <div ng-switch-when="DUO">
                  <div>
                    <span ng-bind="::performance.dancers[0].firstName"></span>
                    <span ng-bind="::performance.dancers[0].lastName"></span>
                  </div>
                  <div>
                    <span ng-bind="::performance.dancers[1].firstName"></span>
                    <span ng-bind="::performance.dancers[1].lastName"></span>
                  </div>
                </div>
                <div ng-switch-default ng-bind="::performance.name"></div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
</div>