<app-loading-container [loaded]="dancerFees">
  <div class="panel panel-white" *ngIf="dancerFees?.length>0; else alert">
    <div class="panel-body">
      <h6 class="no-margin-top">
        <span class="visible-xs">
        {{ 'competition-details.tabs.finances' | translate }}
        </span>
        <span class="pull-left" style="display: flex; flex-direction: column">
          <span class="text-bold ">RAZEM: {{ overallFee | number:'1.2-3' }} zł</span>

          <ng-container *ngIf="overallFee > 0">
              <span class="label label-success"
                  *ngIf="fullyPaid; else notPaid">Zapłacono</span>
              <ng-template #notPaid>
                <span class="label label-danger">Oczekuje na wpłatę</span>
              </ng-template>
            </ng-container>
        </span>
      </h6>
    </div>

    <div class="dataTables_wrapper no-footer">
      <div class="datatable-scroll">
        <div class="table-responsive">
          <table class="table dataTable table-hover table-striped table-bordered">
            <thead>
            <tr>
              <th style="width: 100px;">Lp</th>
              <ng-container [ngSwitch]="competition.paymentModel">
                <ng-container *ngSwitchCase="'DANCER_PERFORMANCE_AMOUNT'">
                  <th [class]="getSortingClass('firstName')"
                      (click)="sortBy('firstName')">
                    {{ 'competition-details.table.firstName' | translate }}
                  </th>
                  <th [class]="getSortingClass('lastName')"
                      (click)="sortBy('lastName')">
                    {{ 'competition-details.table.lastName' | translate }}
                  </th>
                  <th [class]="getSortingClass('performanceCount')"
                      (click)="sortBy('performanceCount')">
                    Ilość prezentacji
                  </th>
                </ng-container>
                <ng-container *ngSwitchCase="'SINGLE_DANCER_ENTRANCE'">
                  <th [class]="getSortingClass('firstName')"
                      (click)="sortBy('firstName')">
                    {{ 'competition-details.table.firstName' | translate }}
                  </th>
                  <th [class]="getSortingClass('lastName')"
                      (click)="sortBy('lastName')">
                    {{ 'competition-details.table.lastName' | translate }}
                  </th>
                </ng-container>
                <ng-container *ngSwitchCase="'PERFORMANCE_TYPE'">
                  <th [class]="getSortingClass('type')"
                      (click)="sortBy('type')">
                    Typ
                  </th>
                  <th [class]="getSortingClass('performanceCount')"
                      (click)="sortBy('performanceCount')">
                    Ilość prezentacji
                  </th>
                </ng-container>
              </ng-container>
              <th [class]="getSortingClass('fee')"
                  (click)="sortBy('fee')">
                {{ 'competition-details.table.fee' | translate }}
              </th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let fee of list; let $index=index">
              <tr>
                <td>{{ $index + 1 }}</td>
                <ng-container [ngSwitch]="competition.paymentModel">
                  <ng-container *ngSwitchCase="'DANCER_PERFORMANCE_AMOUNT'">
                    <td>
                      {{fee.firstName}}
                    </td>
                    <td>
                      {{fee.lastName}}
                    </td>
                    <td>
                      {{fee.performanceCount}}
                    </td>
                  </ng-container>
                  <ng-container *ngSwitchCase="'SINGLE_DANCER_ENTRANCE'">
                    <td>
                      {{fee.firstName}}
                    </td>
                    <td>
                      {{fee.lastName}}
                    </td>
                  </ng-container>
                  <ng-container *ngSwitchCase="'PERFORMANCE_TYPE'">
                    <td>
                      {{fee.type}}
                    </td>
                    <td>
                      {{fee.performanceCount}}
                    </td>
                  </ng-container>
                </ng-container>
                <td>
                  {{fee.fee | number:'1.2-3'}} zł
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <ng-template #alert>
    <div class="alert alert-info alert-styled-left no-margin-bottom no-shadow	"
        *ngIf="dancerFees?.length===0">
      Brak zgłoszonych występów
    </div>
  </ng-template>
</app-loading-container>