<div class="competition-registration-list" ng-switch="$ctrl.isLoading">
  <view-header icon="icon-theater" title-key="TEXTS.COMPETITION_REGISTRATION_LIST.TITLE"
      subtitle-key="TEXTS.COMPETITION_REGISTRATION_LIST.SUBTITLE"></view-header>

  <div class="content text-center" ng-switch-when="true">
    <i class="icon-spinner2 spinner position-left"></i>
    Ładowanie...
  </div>

  <div class="content animated fadeIn" ng-switch-when="false">
    <div class="panel panel-flat">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Lp</th>
          <th>Data</th>
          <th>Nazwa</th>
          <th>Email</th>
          <th>Miejscowość</th>
          <th class="text-center">Występy</th>
          <th class="text-right">Ost. zgłoszenie</th>
          <!--<th class="text-right">Opłata</th>-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="registration in $ctrl.list | orderBy: 'school.createdAt'"
            ng-class="{'active': registration.opened}">
          <td>{{$index + 1}}</td>
          <td>{{::registration.school.createdAt | date: 'dd-MM-yyyy HH:mm'}}</td>
          <td>
            <a href ng-click="$ctrl.toggle(registration)">{{::registration.school.name}}</a>
          </td>
          <td>{{::registration.school.email}}</td>
          <td>{{::registration.school.city}}</td>
          <td class="text-center">{{::registration.performances.length}}</td>
          <td class="text-right">{{::registration.performances[registration.performances.length-1].createdAt | date: 'dd-MM-yyyy HH:mm'}}</td>
          <!--<td class="text-right">{{::registration.charge | number: 2}} zł</td>-->
        </tr>
        <tr ng-repeat-end ng-show="registration.opened">
          <td colspan="8">
            <p>
              <a class="btn btn-default" ng-click="$ctrl.goToStartingNumbers(registration)">
                Numery startowe
              </a>
            </p>
            <p>
              Email:
              {{registration.school.email}}
            </p>
            <p>
              Telefon:
              {{registration.school.phone}}
            </p>
            <table class="table table-condensed">
              <thead>
              <tr>
                <th>Data</th>
                <th>Nr</th>
                <th>Nazwa</th>
                <th>Styl</th>
                <th>Kategoria</th>
                <th>Kat. wiekowa</th>
                <th>Poz. doświadczenia</th>
                <th class="text-right">Tancerze</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="performance in registration.performances">
                <td>{{::performance.createdAt | date: 'dd-MM-yyyy HH:mm'}}</td>
                <td>{{::performance.number}}</td>
                <td style="text-transform: uppercase;">
                  <span
                      ng-if="::performance.type==='FORMATION' || performance.type==='MINI_FORMATION'"
                      ng-bind="::performance.name"></span>
                  <span ng-if="::performance.type==='SOLO'">
                    {{performance.dancers[0].firstName}}
                    {{performance.dancers[0].lastName}}
                  </span>
                  <span ng-if="::performance.type==='DUO'">
                    <div>
                      {{performance.dancers[0].firstName}}
                      {{performance.dancers[0].lastName}}
                    </div>
                    <div>
                      {{performance.dancers[1].firstName}}
                      {{performance.dancers[1].lastName}}
                    </div>
                  </span>
                </td>
                <td translate="COMPETITION.STYLES.{{::performance.style}}"></td>
                <td translate="COMPETITION.TYPES.{{::performance.type}}"></td>
                <td translate="COMPETITION.AGE_LEVELS.{{::performance.ageLevel}}"></td>
                <td>
                  <span ng-if="performance.expLevel"
                      translate="COMPETITION.EXP_LEVELS.{{::performance.expLevel}}"></span>
                </td>
                <td class="text-right" ng-bind="performance.dancers.length"></td>
                <td class="text-right">
                  <a href class="btn btn-xs btn-default"
                      ng-really-click="$ctrl.deletePerformance(performance)"
                      ng-really-message="Czy na pewno?">
                    <i class="icon-trash"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
        <!--<tfoot>-->
        <!--<tr>-->
          <!--<td colspan="6">-->
            <!--<strong>RAZEM</strong>-->
          <!--</td>-->
          <!--<td class="text-center">-->
            <!--<strong>{{ $ctrl.performanceSum }}</strong>-->
          <!--</td>-->
          <!--<td class="text-right">-->
            <!--<strong>{{ $ctrl.chargeSum | number: 2 }} zł</strong>-->
          <!--</td>-->
        <!--</tr>-->
        <!--</tfoot>-->
      </table>
    </div>
  </div>
</div>