<ng-template #loading>
  <p class="text-center">
    <i class="icon-spinner4 spinner"></i>
  </p>
</ng-template>

<div class="animated fadeIn" *ngIf="loaded; else loading">
  <ng-content></ng-content>
</div>