@import '~styles/media';

@include xs-only {
  .competition-registration__performance-form,
  .competition-registration__performance-table {
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 0;
  }
}

.competition-registration__name-cell {
  p:last-of-type {
    margin-bottom: 0;
  }
}

.competition-registration__performance-details {
  @include xs-only {
    max-width: 100vw;
  }
}

.performance-number {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 26px;
  width: 120px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

//.inputfile + label {
//  font-size: 1.25em;
//  font-weight: 700;
//  color: white;
//  background-color: black;
//  display: inline-block;
//}
//
//.inputfile:focus + label,
//.inputfile + label:hover {
//  background-color: red;
//}
//
//.inputfile + label {
//  cursor: pointer; /* "hand" cursor */
//}
//
//.inputfile:focus + label {
//  outline: 1px dotted #000;
//  outline: -webkit-focus-ring-color auto 5px;
//}