<app-loading-container [loaded]="!!(competition$ | async)">
  <ng-container *ngIf="{
    competition: competition$ | async,
    dancers: dancers$ | async,
    performances: performances$ | async,
    registrationOpened: registrationOpened$ | async,
    musicUploadOpened: musicUploadOpened$ | async,
    stylesWithTitle: stylesWithTitle$ | async,
    types: types$ | async,
    canShowExperience: canShowExperience$ | async,
    firstSuccessVisible: firstSuccessVisible$ | async,
    dancersInitialized$: dancersInitialized$ | async
  } as data">

    <div class="alert alert-success alert-styled-left" *ngIf="data.firstSuccessVisible">
      To naprawdę wszystko! Organizator otrzymał Twoje zgłoszenie, możesz dodawać kolejne występy.
    </div>

    <div class="panel panel-white competition-registration__performance-form"
        *ngIf="addFormVisible">
      <div class="panel-body">
        <app-performance-form
            [competition]="data.competition"
            [rules]="rules$|async"
            [dancers]="data.dancers"
            [performance]="performanceToEdit"
            (cancel)="hideAddForm()"
            (save)="create($event)"></app-performance-form>
      </div>
    </div>

    <div class="alert alert-info alert-styled-left no-shadow" *ngIf="!data.registrationOpened">
      Zapisy zakończone
    </div>

    <div class="alert alert-info alert-styled-left no-shadow"
        *ngIf="data.dancersInitialized$ && data.dancers?.length===0 && data.registrationOpened">
      Nie dodałeś jeszcze tancerzy.
      <a routerLink="/dancers" class="text-bold">Dodaj tancerzy</a>
      i wróć tu z powrotem.
    </div>

    <div class="panel panel-flat competition-registration__performance-table">
      <div class="panel-body"
          *ngIf="!addFormVisible && data.registrationOpened && data.dancers.length>0">
        <h6 class="no-margin-top visible-xs">
          {{ 'competition-details.tabs.registration' | translate }}
        </h6>
        <button class="btn btn-primary animated fadeIn"
            (click)="showAddForm()">
          {{ 'competition-details.add-new' | translate }}
        </button>
      </div>

      <app-performance-song-speaker></app-performance-song-speaker>

      <div class="dataTables_wrapper no-footer" *ngIf="data.performances.length > 0">
        <div class="datatable-scroll">
          <div class="table-responsive no-border">
            <table class="table dataTable table-hover table-striped table-bordered">
              <thead>
              <tr>
                <th style="max-width: 70px;">Lp</th>
                <th>
                  {{ 'competition-details.table.name' | translate }}
                </th>
                <th *ngIf="data.stylesWithTitle.length"
                    [class]="getSortingClass('title')"
                    (click)="sortBy('title')">
                  Tytuł
                </th>
                <th [class]="getSortingClass('style')"
                    (click)="sortBy('style')">
                  {{ 'competition-details.table.style' | translate }}
                </th>
                <th [class]="getSortingClass('type')"
                    (click)="sortBy('type')">
                  {{ 'competition-details.table.type' | translate }}
                </th>
                <th *ngIf="data.canShowExperience"
                    [class]="getSortingClass('experience')"
                    (click)="sortBy('experience')">
                  {{ 'competition-details.table.experience' | translate }}
                </th>
                <th [class]="getSortingClass('ageLevel')"
                    (click)="sortBy('ageLevel')">
                  {{ 'competition-details.table.age' | translate }}
                </th>
                <th *ngIf="(licence$ | async)?.musicUpload" class="text-center">
                  Muzyka
                  <ng-container *ngIf="data.competition.audioUploadEnd">
                    <br/>
                    <span class="label label-danger"
                        tooltip='Po tym terminie zmiana muzyki do występu nie będzie możliwa'
                        container="body">do {{ data.competition.audioUploadEnd | date: 'd MMMM yyyy' }}</span>
                  </ng-container>
                </th>
                <th style="width: 100px" *ngIf="data.registrationOpened" class="text-center">
                  {{ 'competition-details.table.actions' | translate }}
                </th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let performance of data.performances; let $index=index">
                <tr>
                  <td style="max-width: 70px;">{{ $index + 1 }}</td>
                  <td class="competition-registration__name-cell">
                    <a (click)="performance.visible = !performance.visible">
                      <app-performance-name-cell
                          [types]="data.types"
                          [performance]="performance"></app-performance-name-cell>
                    </a>
                  </td>
                  <td *ngIf="data.stylesWithTitle?.length">
                    {{ performance.title }}
                  </td>
                  <td>
                    <span class="label label-striped">
                      {{ performance.style }}
                    </span>
                  </td>
                  <td>
                  <span class="label label-striped">{{ performance.type?.trim() }}</span>
                  </td>
                  <td *ngIf="data.canShowExperience">
                    <span class="label label-striped"
                        *ngIf="performance.experience">{{ performance.experience }}</span>
                  </td>
                  <td>
                    <span class="label label-striped">{{ performance.ageLevel }}</span>
                  </td>
                  <td class="text-center" *ngIf="(licence$ | async)?.musicUpload">
                    <div style="display: flex; justify-content: center">
                      <app-performance-song-player
                          class="position-left"
                          [performance]="performance"
                          [playing]="(playingSongSid$ | async) === performance.audioSid"
                      ></app-performance-song-player>

                      <ng-container *ngIf="data.musicUploadOpened">
                        <button *ngIf="performance.audioSid; else uploadBtn"
                            (click)="removeAudio(performance)"
                            container="body"
                            tooltip='Usuń'
                            class="btn btn-default btn-float btn-rounded" style="padding: 7px">
                          <i class="icon-cross3 text-danger"></i>
                        </button>

                        <ng-template #uploadBtn>
                          <button
                              (click)="showUploadModal(performance, uploadTemplate)"
                              class="btn btn-default btn-float btn-rounded" style="padding: 7px">
                            <i class="icon-upload"></i>
                          </button>
                        </ng-template>
                      </ng-container>
                    </div>
                  </td>
                  <td class="text-center" style="width: 100px"
                      *ngIf="data.registrationOpened">
                    <ul class="icons-list">
                      <li class="dropdown" dropdown container="body">
                        <a class="dropdown-toggle" dropdownToggle>
                          <i class="icon-menu9"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu
                            style="min-width: 200px">
                          <li>
                            <a (click)="edit(performance)">
                              <i class="icon-pencil7"></i>
                              Edytuj
                            </a>
                          </li>
                          <li>
                            <a (click)="delete(performance)">
                              <i class="icon-cross2 text-danger"></i>
                              Usuń
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr *ngIf="performance.visible">
                  <td colspan="7">
                    <div class="competition-registration__performance-details">
                      <div class="tokenfield form-control readonly">
                      <span class="token" *ngFor="let dancer of performance.dancers; let
                      $index=index">
                        <span class="token-label">
                          {{$index + 1}}.
                          {{dancer.firstName}}
                          {{dancer.lastName}}
                          ({{dancer.yearOfBirth}})
                        </span>
                      </span>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <ng-template #uploadTemplate>
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Wyślij muzykę
        </h4>
        <button type="button" class="close pull-right" (click)="uploadModalRef.hide()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="mb-20">
          <app-performance-name-cell
              [types]="data.types"
              [performance]="uploadPerformance"></app-performance-name-cell>
        </p>

        <p class="text-center">
          <input type="file" name="song" id="song"
              style="display:none;"
              ng2FileSelect
              [uploader]="uploader"
              accept="audio/mp3"/>
          <label for="song" class="btn btn-default">
            <i class="icon-file-plus"></i>
            Przeglądaj pliki
          </label>
        </p>
        <p class="text-center">{{ uploadFilename }}</p>
      </div>

      <div class="modal-footer text-center">
        <button type="button" (click)="upload()"
            class="btn btn-primary" [disabled]="uploadInProgress$ | async">
          <ng-template #notInProgress>
            <i class="icon-file-upload2 position-left"></i>
          </ng-template>
          <i class="icon-spinner4 spinner position-left"
              *ngIf="uploadInProgress$ | async; else notInProgress"></i>
          Wyślij
        </button>
        <button type="button" class="btn btn-link" (click)="hideUploadModal()">Anuluj</button>
      </div>
    </ng-template>
  </ng-container>
</app-loading-container>

