<div class="panel panel-flat no-margin" style="height: 100%">
  <div class="panel-body">
    <app-loading-container [loaded]="!loading">
      <div style="display: flex;flex-direction: column;align-items: center">
        <h2 class="no-margin-top mb-5 text-pink-400" style="font-size: 72px;">
          {{ count }}
        </h2>
        <span class="text-center">zgłoszonych występów</span>
      </div>
    </app-loading-container>
  </div>
</div>