<p>
  <button class="btn btn-xs btn-link position-left"
      (click)="onExpand(rule)">
    <i style="transition: all 150ms ease-out"
        class="admin-rule-node__expand-icon"
        [class.icon-circle-small]="rule.rules.length < 1"
        [class.icon-arrow-right32]="rule.rules.length > 0"
        [class.rotate-90]="rule.expanded"
    ></i>
  </button>
  <button class="btn btn-xs {{selected?'text-info-800 border-info btn-flat':'btn-link'}}"
      [class.text-danger]="rule.objectState==='INACTIVE'"
      (click)="onSelect(rule)"
      (dblclick)="onExpand(rule)"
  >
    <ng-container [ngSwitch]="rule?.ruleType">
      <span *ngSwitchCase="'STYLE'">Styl: {{ rule.style.name }}</span>
      <span *ngSwitchCase="'TYPE'">Kategoria: {{ rule.type.name }}</span>
      <span *ngSwitchCase="'EXPERIENCE'">Doświadczenie: {{ rule.experience.name }}</span>
      <span *ngSwitchCase="'AGE'">Wiek: {{ rule.age.name }}</span>
      <span *ngSwitchDefault>/</span>
    </ng-container>
    <span *ngIf="rule.rules.length>0"
        class="position-right">
      ({{rule.rules.length}})
    </span>
    <i class="position-right icon-cross text-danger" *ngIf="rule.objectState==='INACTIVE'"></i>
    <i class="position-right fa fa-music"
        *ngIf="rule.ownMusicAllowed"></i>
  </button>
</p>

<ul style="list-style: none; padding-left: 30px;">
  <ng-container *ngIf="rule.expanded">
    <li *ngFor="let childRule of rule?.rules; trackBy: trackByFn">
      <admin-rule-node [rule]="childRule"
          (expand)="onExpand($event)"
          (select)="onSelect($event)"></admin-rule-node>
    </li>
  </ng-container>
</ul>