<div ng-class="{'sidebar-xs': $ctrl.sidebarXs}" class="sidebar-mobile-main">
<!--<div ng-class="{'sidebar-xs': $ctrl.sidebarXs, 'sidebar-mobile-main': $ctrl.sidebarVisibleOnMobile}">-->
  <navbar on-toggler-click="$ctrl.toggleSidebar()"
          on-mobile-toggler-click="$ctrl.toggleSidebarOnMobile()"
          on-add-entrance-click="$ctrl.createEntrance()"></navbar>
  <div class="page-container">
    <div class="page-content">
      <sidebar class="sidebar sidebar-main" ng-class="{'opened': $ctrl.sidebarVisibleOnMobile}"></sidebar>
      <div class="content-wrapper" ui-view></div>
    </div>
  </div>
</div>
