<h5 class="content-group text-semibold hidden-print">
  Faktury
  <small class="display-block">
    Lista uczestników, które podały swoje dane do faktury wraz z wpłaconą kwotą.
  </small>
</h5>
<app-loading-container [loaded]="!!(invoiceDatas$ | async)">
  <div class="hidden-print">
    <button class="btn btn-link btn-float text-size-small has-text"
        (click)="print()">
      <i class="icon-printer2"></i>
      Drukuj
    </button>
  </div>

  <div class="panel panel-white panel-table" *ngIf="competition$ | async as competition">
    <div class="dataTables_wrapper no-footer">
      <div class="datatable-scroll">
        <div class="table-responsive no-border">
          <table class="table dataTable">
            <thead>
            <tr>
              <th></th>
              <th>Email</th>
              <th>NIP</th>
              <th>Nazwa</th>
              <th>Suma wpłat</th>
              <th>Ostatnia zmiana</th>
<!--              <th class="text-center">Faktura</th>-->
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let data of invoiceDatas$ | async; let $index=index">
              <td class="text-right">{{ $index + 1 }}</td>
              <td>{{ data.email }}</td>
              <td>{{ data.nip }}</td>
              <td>
                <a routerLink="../participants/{{ data.sid }}">
                  {{ data.name }}
                </a>
              </td>
              <td>{{ (data.payments || 0) | number:'1.2-3' }} zł</td>
              <td>{{ data.updated_at | date: 'dd MMMM yyyy' }}</td>
<!--              <td class="text-center">-->
<!--                  <button class="btn btn-xs btn-info position-left"-->
<!--                      *ngIf="!data.invoiceSid; else invoiceCreated"-->
<!--                      (click)="createInvoice(competition, data, template)">-->
<!--                    <i class="icon-plus3 position-left"></i>-->
<!--                    Wystaw-->
<!--                  </button>-->

<!--                  <ng-template #invoiceCreated>-->
<!--                    <div class="dropdown" dropdown container="body">-->
<!--                      <a class="dropdown-toggle" dropdownToggle>-->
<!--                        <i class="icon-menu9"-->
<!--                            *ngIf="(downloadingInvoiceSid$|async)!==data.sid; else downloading"></i>-->
<!--                      </a>-->

<!--                      <ul class="dropdown-menu dropdown-menu-right"-->
<!--                          *dropdownMenu-->
<!--                          style="min-width: 200px">-->
<!--                        <li>-->
<!--                          <a (click)="downloadInvoice(data)">-->
<!--                            <i class="icon-search4"></i>-->
<!--                            Podgląd-->
<!--                          </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                          <a >-->
<!--                            <i class="icon-mail5"></i>-->
<!--                            Wyślij-->
<!--                          </a>-->
<!--                        </li>-->
<!--                        <li class="divider"></li>-->
<!--                        <li>-->
<!--                          <a (click)="deleteInvoice(data)">-->
<!--                            <i class="icon-cross2 text-danger"></i>-->
<!--                            Usuń-->
<!--                          </a>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </ng-template>-->
<!--              </td>-->
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-loading-container>

<ng-template #downloading>
  <i class="icon-spinner4 spinner position-left"></i>
<!--  Pobieranie...-->
</ng-template>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Wystaw fakturę</h4>
    <button type="button" class="close pull-right" (click)="createInvoiceModalRef.hide()">
      <span>&times;</span>
    </button>
  </div>
  <form class="form-horizontal"
      [formGroup]="ngForm"
      autocomplete="off">
    <div class="modal-body">
      <app-labeled-field>
        <input type="text"
            appTextField
            [placeholder]="'Nazwa'"
            class="form-control"
            formControlName="name">
      </app-labeled-field>
      <app-labeled-field>
        <input type="text"
            appTextField
            [placeholder]="'NIP'"
            class="form-control"
            formControlName="nip">
      </app-labeled-field>
      <app-labeled-field>
        <input type="text"
            appTextField
            [placeholder]="'Ulica'"
            class="form-control"
            formControlName="street">
      </app-labeled-field>
      <app-labeled-field>
        <input type="text"
            appTextField
            [placeholder]="'Kod pocztowy'"
            class="form-control"
            formControlName="zip">
      </app-labeled-field>
      <app-labeled-field>
        <input type="text"
            appTextField
            [placeholder]="'Miejscowość'"
            class="form-control"
            formControlName="city">
      </app-labeled-field>
      <app-labeled-field>
        <input type="text"
            appTextField
            [placeholder]="'Tytuł'"
            class="form-control"
            formControlName="title">
      </app-labeled-field>
      <app-labeled-field>
        <input type="text"
            appTextField
            [placeholder]="'Kwota netto'"
            class="form-control"
            formControlName="netPrice">
      </app-labeled-field>
      <app-labeled-field>
        <input type="text"
            appTextField
            [placeholder]="'Podatek [%]'"
            class="form-control"
            formControlName="taxPrice">
      </app-labeled-field>
    </div>

    <div class="modal-footer text-left">
      <button type="submit" class="btn btn-info" (click)="saveInvoice(ngForm.value)">Wystaw</button>
      <button type="button" class="btn btn-link" (click)="createInvoiceModalRef.hide()">Anuluj</button>
    </div>
  </form>
</ng-template>
