<div class="panel panel-flat">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Data</th>
      <th>Imię i nazwisko</th>
      <th>Status</th>
      <th class="text-center">Wiek</th>
      <th class="text-center">Wzrost</th>
      <th>Styl</th>
      <th>Telefon</th>
      <th class="text-center">Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="advertisement in $ctrl.advertisements | orderBy: '-createdAt'">
      <td ng-bind="advertisement.createdAt | date: 'dd-MM-yyyy HH:mm'"></td>
      <td>
        <a href ng-click="$ctrl.goToDetails(advertisement)">
          <span ng-bind="advertisement.advertiser.firstName"></span>
          <span ng-bind="advertisement.advertiser.lastName"></span>
        </a>
      </td>
      <td translate="ADVERTISEMENTS.{{advertisement.state}}"></td>
      <td class="text-center" ng-bind="advertisement.advertiser.age"></td>
      <td class="text-center" ng-bind="advertisement.advertiser.height"></td>
      <td ng-bind="advertisement.preferences.style"></td>
      <td>
        <a href="tel:{{::advertisement.contact.mobile}}"
            ng-bind="::advertisement.contact.mobile.trim()"></a>
      </td>
      <td class="text-center">
        <ul class="icons-list">
          <li class="dropdown" uib-dropdown>
            <a class="dropdown-toggle" uib-dropdown-toggle>
              <i class="icon-menu7"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
              <li>
                <a href ng-click="$ctrl.goToDetails(advertisement)">
                  <i class="icon-cog3"></i>
                  Szczegóły
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href ng-click="$ctrl.addNote(advertisement)">
                  <i class="icon-bubble-lines4"></i>
                  Dodaj notatkę
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>