<view-header icon="icon-mustache" title-key="TEXTS.COMPETITION_DETAILS.TITLE"
    subtitle-key="TEXTS.COMPETITION_DETAILS.SUBTITLE"></view-header>

<div class="content animated fadeIn">
  <div class="tabbable">
    <ul class="nav nav-tabs nav-tabs-solid">
      <li ng-class="{active: $ctrl.isView('main.competition.details.info')}">
        <a ui-sref="main.competition.details.info({id: $ctrl.competitionId})">Informacje</a>
      </li>
      <li ng-class="{active: $ctrl.isView('main.competition.details.rules')}">
        <a ui-sref="main.competition.details.rules({id: $ctrl.competitionId})">Zasady</a>
      </li>
      <li ng-class="{active: $ctrl.isView('main.competition.details.schools')}">
        <a ui-sref="main.competition.details.schools({id: $ctrl.competitionId})">Uczestnicy</a>
      </li>
    </ul>
  </div>

  <div class="panel panel-flat">
    <div class="panel-body">
      <ui-view></ui-view>
    </div>
  </div>
</div>

