<div class="competition-registration-list" ng-switch="$ctrl.isLoading">

  <div class="content text-center" ng-switch-when="true">
    <i class="icon-spinner2 spinner position-left"></i>
    Ładowanie...
  </div>

  <!--<div>-->
    <!--<h4>Sobota</h4>-->
    <!--<ol>-->
      <!--<li ng-repeat="school in ::$ctrl.saturdaySchools | orderBy: '-amount'">-->
        <!--{{school.name}}:-->
        <!--{{school.amount}}-->
      <!--</li>-->
    <!--</ol>-->
    <!--<div class="pagebreak"> </div>-->
    <!--<h4>Niedziela</h4>-->
    <!--<ol>-->
      <!--<li ng-repeat="school in ::$ctrl.sundaySchools | orderBy: '-amount'">-->
        <!--{{school.name}}:-->
        <!--{{school.amount}}-->
      <!--</li>-->
    <!--</ol>-->
  <!--</div>-->

  <div class="content animated fadeIn" ng-switch-when="false">
    <div class="tabbable hidden-print">
      <ul class="nav nav-pills nav-pills-toolbar">
        <li ng-repeat="day in ::$ctrl.days" ng-class="{'active': $ctrl.day === day}">
          <a href ng-click="$ctrl.day=day" translate="DAYS.FULL.{{day.key}}"></a>
        </li>
      </ul>
    </div>

    <div>
      <h4 class="no-margin text-bold">
        <span translate="DAYS.FULL.{{$ctrl.day.key}}"></span>
        <button class="btn btn-default pull-right hidden-print" ng-click="$ctrl.print()">
          <i class="icon-printer"></i>
        </button>
      </h4>

      <div ng-repeat="block in $ctrl.day.blocks">
        <h5 class="text-uppercase">Blok {{block.id + 1}}
        </h5>

        <div class="panel panel-flat" style="margin-bottom: 10px; border-color: black"
            ng-if="::scheduleBlock.performances.length>0"
            ng-repeat="scheduleBlock in $ctrl.list | filter: {block: block.id, day: $ctrl.day.key} | orderBy: 'order'">
          <div class="panel-heading" style="padding: 10px 20px;">
            <h6 class="panel-title" style="font-size: 14px; margin: 0">
              <!--<span>{{scheduleBlock.order}}</span>-->
              <span class="text-bold"
                  translate="COMPETITION.STYLES.{{::scheduleBlock.style}}"
                  translate-default=""></span>
                -
              <span translate="COMPETITION.TYPES.{{::scheduleBlock.type}}" translate-default=""></span>
              <span ng-if="::scheduleBlock.expLevel">
                  -
                <span translate="COMPETITION.EXP_LEVELS.{{::scheduleBlock.expLevel}}"
                    translate-default=""></span>
              </span>
              (<span translate="COMPETITION.AGE_LEVELS.{{::scheduleBlock.ageLevel}}"
                translate-default=""></span>)
              <span class="pull-right" ng-bind="scheduleBlock.performances.length"></span>
            </h6>
          </div>
          <table class="table table-condensed" style="font-size: 12px;">
            <thead>
            </thead>
            <tbody>
            <tr ng-repeat="performance in ::scheduleBlock.performances">
              <td style="padding-top: 0; padding-bottom: 0; font-size: 26px; width: 120px" ng-bind="::performance.number"></td>
              <td ng-switch="::performance.type" style="text-transform: uppercase">
                <div ng-switch-when="SOLO">
                  <span ng-bind="::performance.dancers[0].firstName"></span>
                  <span ng-bind="::performance.dancers[0].lastName"></span>
                </div>
                <div ng-switch-when="DUO">
                  <div>
                    <span ng-bind="::performance.dancers[0].firstName"></span>
                    <span ng-bind="::performance.dancers[0].lastName"></span>
                  </div>
                  <div>
                    <span ng-bind="::performance.dancers[1].firstName"></span>
                    <span ng-bind="::performance.dancers[1].lastName"></span>
                  </div>
                </div>
                <div ng-switch-default ng-bind="::performance.name"></div>
              </td>
              <td ng-bind="::performance.school.name"></td>
              <td ng-bind="::performance.school.city"></td>
            </tr>
            <tr ng-if="::scheduleBlock.performances.length===0">
              <td colspan="4" style="border-top: 0">Brak zgłoszeń</td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>


  </div>
</div>