<app-loading-container [loaded]="!(loadingParticipants$ | async)">
  <ng-template #desktop>
    <div class="panel panel-white panel-table">
      <div class="dataTables_wrapper no-footer">
        <div class="datatable-scroll">
          <div class="table-responsive no-border">
            <table class="table dataTable">
              <thead>
              <tr>
                <th>

                </th>
                <th [class]="getSortingClass('name')"
                    (click)="sortBy('name')">
                  Klub
                </th>
                <th [class]="getSortingClass('city')"
                    (click)="sortBy('city')">
                  Miejscowość
                </th>
                <th [class]="getSortingClass('email')"
                    (click)="sortBy('email')">
                  Email
                </th>
                <th [class]="getSortingClass('dancers')"
                    (click)="sortBy('dancers')">
                  Tancerze
                </th>
                <th [class]="getSortingClass('performances')"
                    (click)="sortBy('performances')">
                  Prezentacje
                </th>
                <th [class]="getSortingClass('fee')"
                    (click)="sortBy('fee')">
                  Opłata startowa
                </th>
                <th [class]="getSortingClass('fee')"
                    (click)="sortBy('fee')">
                  Saldo
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let participant of participants$ | async; let $index=index">
                <td class="text-right">{{ $index + 1 }}</td>
                <td>
                  <a routerLink="{{ participant.sid }}">
                    {{participant.name}}
                  </a>
                </td>
                <td>{{participant.city}}</td>
                <td>{{participant.email}}</td>
                <td>{{participant.dancersAmount}}</td>
                <td>{{participant.performancesAmount}}</td>
                <td>{{participant.fee | number:'1.2-3'}} zł</td>
                <td [class.text-success]="isPaid(participant)"
                    [class.text-danger]="!isPaid(participant)">
                  {{getBalance(participant) | number:'1.2-3'}} zł
                </td>
              </tr>
              <tr>
                <td colspan="4" class="text-right">RAZEM</td>
                <td>{{ dancerSum(participants$ | async) }}</td>
                <td>{{ performanceSum(participants$ | async) }}</td>
                <td>{{ feeSum(participants$ | async) | number:'1.2-3' }} zł</td>
                <td></td>
                <!--              <td>{{ availableSum(participants$ | async) | number:'1.2-3' }} zł</td>-->
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="row" *ngIf="media$ | async | device:'MOBILE'; else desktop">
    <a routerLink="{{ participant.sid }}"
        *ngFor="let participant of participants$ | async">
      <div class="panel panel-flat mb-5 no-border-radius">
        <div class="panel-body">
          <div style="display: flex; justify-content: space-between; align-items: center">
            <strong>
              {{ participant.name }}
              -
              {{ participant.city }}
            </strong>
            <span [class.text-success]="isPaid(participant)"
                [class.text-danger]="!isPaid(participant)">
              {{participant.fee | number:'1.2-3'}} zł
            </span>
          </div>

          <p class="text-muted">{{participant.email}}</p>


          <div class="row">
            <div class="col-xs-6">
              Tancerze:
              {{participant.dancersAmount}}
            </div>
            <div class="col-xs-6">
              Prezentacje:
              {{participant.performancesAmount}}
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</app-loading-container>