<div class="panel panel-flat">
  <ul class="nav nav-tabs nav-tabs-solid nav-justified" style="margin-bottom: 0">
    <li ng-class="{'active': $ctrl.dayFilter===''}">
      <a href ng-click="$ctrl.dayFilter=''">Wszystkie</a>
    </li>
    <li ng-repeat="day in $ctrl.days" ng-class="{'active': $ctrl.dayFilter===day.id}">
      <a href translate="DAYS.LONG.DAY{{day.id}}" translate-default=""
         ng-click="$ctrl.dayFilter=day.id"></a>
    </li>
  </ul>
</div>

<div class="panel panel-flat" ng-repeat="day in $ctrl.days | filter: {'id': $ctrl.dayFilter}">
  <div class="panel-heading">
    <h6 class="panel-title" translate="DAYS.LONG.DAY{{day.id}}" translate-default=""></h6>
  </div>
  <div class="dataTables_wrapper">
    <div class="datatable-header" ng-class="{'alpha-primary': $ctrl.selection[day.id].length}" style="transition: all
    150ms ease-in-out">
      <div class="dataTables_filter" style="margin-top: 10px;margin-bottom: 10px;">
        <a href class="btn bg-primary btn-labeled" ng-class="{'hidden': $ctrl.selection[day.id].length}"
           ng-click="$ctrl.addCourse(day.id)">
          <b><i class="icon-file-plus"></i></b>
          <span translate="TEXTS.SCHEDULE.ADD_CLASS" translate-default=""></span>
        </a>

        <div ng-class="{'hidden': !$ctrl.selection[day.id].length}">
          <span uib-dropdown>
            <a href class="btn btn-default" uib-dropdown-toggle>
              Publiczny
              ({{$ctrl.selection[day.id].length}})
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li>
                <a href ng-click="$ctrl.setPublicOfSelected(day.id)">
                  Publiczny
                  <span class="label label-success pull-right">TAK</span>
                </a>
              </li>
              <li>
                <a href ng-click="$ctrl.setNotPublicOfSelected(day.id)">
                  Niepubliczny
                  <span class="label label-danger pull-right">NIE</span>
                </a>
              </li>
            </ul>
          </span>

          <span uib-dropdown>
            <a href class="btn btn-default" uib-dropdown-toggle>
              Zapisy
              ({{$ctrl.selection[day.id].length}})
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li>
                <a href ng-click="$ctrl.setRegistrationOpenOfSelected(day.id)">
                  Otwarte
                  <span class="label label-success pull-right">TAK</span>
                </a>
              </li>
              <li>
                <a href ng-click="$ctrl.setRegistrationClosedOfSelected(day.id)">
                  Zamknięte
                  <span class="label label-danger pull-right">NIE</span>
                </a>
              </li>
            </ul>
          </span>

          <a href class="btn btn-danger btn-labeled">
            <b><i class="icon-cross2"></i></b>
            Usuń zaznaczone
            ({{$ctrl.selection[day.id].length}})
          </a>
        </div>

      </div>
    </div>
    <div class="datatable-scroll table-responsive">
      <table class="table table-bordered table-hover datatable-basic dataTable no-footer">
        <thead>
        <tr class="active">
          <th class="text-center">
            <div class="checker border-primary text-primary">
              <span ng-class="{'checked': $ctrl.isAllSelected(day.id)}">
                <input type="checkbox" class="styled" checked="checked" ng-click="$ctrl.selectAll(day.id)">
              </span>
            </div>
          </th>
          <th translate="TEXTS.SCHEDULE.COURSE.TIME" translate-default=""
              ng-class="$ctrl.sortingColumnClass(day.id, 'timeFrom')"
              ng-click="$ctrl.toggleOrder(day.id, 'timeFrom')"></th>
          <th translate="TEXTS.SCHEDULE.COURSE.NAME" translate-default=""
              ng-class="$ctrl.sortingColumnClass(day.id, 'name')"
              ng-click="$ctrl.toggleOrder(day.id, 'name')"></th>
          <th translate="TEXTS.SCHEDULE.COURSE.LEVEL" translate-default=""
              ng-class="$ctrl.sortingColumnClass(day.id, 'level')"
              ng-click="$ctrl.toggleOrder(day.id, 'level')"></th>
          <th translate="TEXTS.SCHEDULE.COURSE.INSTRUCTOR" translate-default=""
              ng-class="$ctrl.sortingColumnClass(day.id, 'instructor')"
              ng-click="$ctrl.toggleOrder(day.id, 'instructor')"></th>
          <th translate="TEXTS.SCHEDULE.COURSE.STATE.LABEL" translate-default=""
              ng-class="$ctrl.sortingColumnClass(day.id, 'state')"
              ng-click="$ctrl.toggleOrder(day.id, 'state')"></th>
          <th class="text-center" translate="TEXTS.SCHEDULE.COURSE.PUBLIC" translate-default=""
              ng-class="$ctrl.sortingColumnClass(day.id, 'isPublic')"
              ng-click="$ctrl.toggleOrder(day.id, 'isPublic')"></th>
          <th class="text-center" translate="TEXTS.SCHEDULE.COURSE.REGISTRATION" translate-default=""></th>
        </tr>
        </thead>
        <tbody>
        <tr class="course-list__master-row"
            ng-repeat="course in $ctrl.courses | filter: { day : day.id } | orderBy: $ctrl.order[day.id].field : $ctrl.order[day.id].reverse"
            ng-class="{'alpha-primary': course.selected}">
          <td class="text-center">
            <div class="checker border-primary text-primary">
              <span ng-class="{'checked': course.selected}">
                <input type="checkbox" class="styled" checked="checked" ng-click="$ctrl.toggleSelect(course)">
              </span>
            </div>
          </td>
          <td class="course-list__cell course-list__cell--editable">
            <span ng-bind="course.timeFrom"></span>
            -
            <span ng-bind="course.timeTo"></span>
          </td>
          <td class="course-list__cell course-list__cell--editable">
            <a href ng-bind="course.name" ui-sref="main.course.details({id: course._id})"></a>
          </td>
          <td class="course-list__cell course-list__cell--editable" translate="LEVELS.{{course.level}}"
              translate-default="-"></td>
          <td class="course-list__cell course-list__cell--editable" ng-bind="course.instructor || '-'"></td>
          <td class="course-list__cell course-list__cell--editable">
            <span translate="TEXTS.SCHEDULE.COURSE.STATE.{{course.state}}.LABEL" translate-default=""></span>
          </td>
          <td class="course-list__cell course-list__cell--editable text-center">
            <span class="label {{ course.isPublic ? 'label-success' : 'label-danger' }}"
                  translate="TEXTS.COMMON.{{!!course.isPublic}}" translate-default=""></span>
          </td>
          <td class="course-list__cell course-list__cell--editable text-center">
            <span class="label {{ course.isRegistrationOpen ? 'label-success' : 'label-danger' }}"
                  translate="TEXTS.COMMON.{{!!course.isRegistrationOpen}}" translate-default=""></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <pre>{{$ctrl.selection[day.id]|json}}</pre>
</div>