@import "../../../../stylebase/variables";

.course-list {
  &__table {

  }

  &__master-row {
    &:hover {
      td {
        //background: @color-light-grey;
      }
    }

    //td {
    //  cursor: pointer;
    //}

    i.icon-chevron-right {
      transition: all 150ms ease-in-out;
    }

    &--selected {
      i.icon-chevron-right {
        transform: rotate(90deg);
      }
    }
  }

  &__details-row {
    td {
      padding: 0 !important;
      border: 0 !important;

      > div {
        transition: all 150ms ease-in-out;
        max-height: 0;
        overflow: hidden;
        background: @color-light-grey;
      }
    }

    &--selected {
      > td > div {
        padding: 12px 20px;
        max-height: 3000px !important;
      }
    }
  }
}

.course-list {
  &__cell {
    &--editable {
      &:hover {
        background: #ebebeb !important;
      }
    }
  }
}