<div class="user-type-list" ng-switch="$ctrl.isLoading">
  <view-header icon="icon-mustache" title-key="TEXTS.COMPETITION_LIST.TITLE"
      subtitle-key="TEXTS.COMPETITION_LIST.SUBTITLE"></view-header>

  <div class="content text-center" ng-switch-when="true">
    <i class="icon-spinner2 spinner position-left"></i>
    Ładowanie...
  </div>

  <div class="content animated fadeIn" ng-switch-when="false">
    <h6>
      <div class="btn-group">
        <button type="button" class="btn btn-primary"
            translate="TEXTS.COMPETITION_LIST.ADD" translate-default=""
            ng-click="$ctrl.add()"></button>
      </div>
    </h6>

    <div class="panel panel-flat">
      <table class="table table-striped">
        <thead>
        <tr>
          <th translate="TEXTS.COMPETITION_LIST.NAME" translate-default=""></th>
          <th>Początek</th>
          <th>Koniec</th>
          <th>Rejestracja do</th>
          <th translate="TEXTS.COMPETITION_LIST.USER" translate-default=""></th>
          <!--<th class="text-right"-->
              <!--translate="TEXTS.COMPETITION_LIST.ACTIONS" translate-default=""></th>-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="competition in $ctrl.competitions">
          <td>
            <a href ng-click="$ctrl.goToDetails(competition)" ng-bind="competition.name"></a>
          </td>
          <td>{{ competition.start | date: 'dd.MM.yyyy HH:mm'}}</td>
          <td>{{ competition.end | date: 'dd.MM.yyyy HH:mm'}}</td>
          <td>{{ competition.registrationEnd | date: 'dd.MM.yyyy HH:mm'}}</td>
          <td ng-bind="competition.user.login"></td>
          <!--<td class="text-right">-->
            <!--<ul class="icons-list">-->
              <!--<li class="dropdown" uib-dropdown>-->
                <!--<a class="dropdown-toggle" uib-dropdown-toggle>-->
                  <!--<i class="icon-menu7"></i>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>-->
                  <!--<li>-->
                    <!--<a href ng-really-click="$ctrl.delete(competition)"-->
                        <!--ng-really-message="{{ 'TEXTS.ARE_YOU_SURE' | translate }}">-->
                      <!--<i class="icon-cross2 text-danger"></i>-->
                      <!--Usuń-->
                    <!--</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>