@import '~styles/media';

@include xs-only {
  .user-profile__legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user-profile__legend-links {
    display: block;
  }

  .user-profile__legend-link-list {
    margin: 0 !important;
  }
}

.control-label {
  padding-top: 10px;
}