<div class="panel panel-white">
  <div class="panel-body">
    <app-loading-container [loaded]="!!user">
      <h6 class="no-margin-top visible-xs">
        {{ 'user.profile' | translate }}
      </h6>

      <div class="row">
        <div class="col-xs-12">
          <p style="height: 40px;">
            <a class="btn btn-primary"
                [class.hidden]="profileEdit"
                (click)="edit()">
              <i class="fa fa-pencil-square-o"></i>
              Edytuj
            </a>
          </p>
        </div>

        <div class="col-md-6">
          <ng-container *ngIf="profileEdit; else readOnly">
            <form [formGroup]="ngForm" (submit)="onSave(ngForm.value)" autocomplete="off">
              <app-labeled-field>
                <input appTextField
                    class="form-control"
                    type="text"
                    formControlName="firstName"
                    placeholder="{{ 'user.firstName' | translate }}"
                    [required]="true">
              </app-labeled-field>
              <app-labeled-field>
                <input appTextField
                    class="form-control"
                    type="text"
                    formControlName="lastName"
                    placeholder="{{ 'user.lastName' | translate }}"
                    [required]="true">
              </app-labeled-field>
              <app-labeled-field>
                <input appTextField
                    class="form-control"
                    type="text"
                    formControlName="name"
                    placeholder="{{ 'user.name' | translate }}"
                    [required]="true">
              </app-labeled-field>
              <app-labeled-field>
                <input appTextField
                    class="form-control"
                    type="text"
                    formControlName="city"
                    placeholder="{{ 'register.city' | translate }}"
                    [required]="true">
              </app-labeled-field>
              <div class="text-right" style="width: 100%">
                <div class="btn-group">
                  <button type="button" class="btn btn-default"
                      (click)="cancel()">
                    {{ 'user.cancel' | translate }}
                  </button>
                  <button type="submit"
                      [disabled]="loading"
                      class="btn btn-primary">
                    <i class="icon-spinner4 position-left"
                        [class.spinner]="loading"></i>
                    {{ 'user.submit' | translate }}
                  </button>
                </div>
              </div>
            </form>
          </ng-container>

          <ng-template #readOnly>
            <dl class="dl-horizontal" *ngIf="user">
              <dt>{{ 'user.email' | translate }}</dt>
              <dd>{{ user.email }}</dd>
              <dt>{{ 'user.firstName' | translate }}</dt>
              <dd>{{ user.firstName }}</dd>
              <dt>{{ 'user.lastName' | translate }}</dt>
              <dd>{{ user.lastName }}</dd>
              <dt>{{ 'user.name' | translate }}</dt>
              <dd>{{ user.name }}</dd>
              <dt>{{ 'register.city' | translate }}</dt>
              <dd>{{ user.city }}</dd>
            </dl>
          </ng-template>
        </div>
      </div>
    </app-loading-container>
  </div>
</div>