<div class="registration-list">
  <view-header icon="icon-quill2" title-key="TEXTS.REGISTRATION_LIST.TITLE"></view-header>

  <div class="content animated fadeIn">
    <div class="row">
      <div class="col-sm-12">


        <div class="panel panel-flat" ng-repeat="day in ::$ctrl.days">
          <div class="panel-heading">
            <h6 class="panel-title" translate="DAYS.LONG.DAY{{day.id}}" translate-default=""></h6>
          </div>
          <div class="dataTables_wrapper">
            <div class="datatable-scroll table-responsive">
              <table
                class="table table-bordered datatable-basic dataTable no-footer registration-list__master-table">
                <thead>
                <tr class="active">
                  <th>Ilość</th>
                  <th>Godzina</th>
                  <th>Nazwa</th>
                </tr>
                </thead>
                <tbody>
                <tr></tr>
                <tr
                  ng-repeat-start="course in ::$ctrl.courseList | filter: { day : day.id } | orderBy: 'timeFrom' as results"
                  ng-click="$ctrl.select(course)"
                  ng-class="{ 'alpha-slate': $ctrl.selected === course, 'text-muted': course.registrations.length < 1}">
                  <td ng-class="{'border-slate-800':$ctrl.selected === course}"
                      class="registration-list__master-table-cell">
                  <span class="badge"
                        ng-bind="course.registrations.length"
                        ng-class="::{'bg-pink':course.registrations.length>0, 'badge-default': course.registrations.length < 1}"></span>
                  </td>
                  <td ng-class="{'border-slate-800':$ctrl.selected === course}"
                      ng-bind="course.timeFrom"
                      class="registration-list__master-table-cell"></td>
                  <td ng-class="{'border-slate-800':$ctrl.selected === course}"
                      ng-bind="course.name"
                      class="registration-list__master-table-cell"></td>
                </tr>
                <tr ng-repeat-end ng-if="::course.registrations.length > 0"
                    class="alpha-slate registration-list__details-row">
                  <td colspan="3" ng-class="{'hidden': $ctrl.selected!==course}" class="registration-list__details-cell">
                    <div class="panel panel-flat">
                      <div class="dataTables_wrapper">
                        <div class="datatable-scroll table-responsive">
                          <table class="table table-bordered table-hover datatable-basic dataTable no-footer">
                            <tbody>
                            <tr ng-repeat="registration in ::course.registrations">
                              <td ng-bind="::registration.firstName"></td>
                              <td ng-bind="::registration.lastName"></td>
                              <td>
                                <a href="tel:{{::registration.phone}}"
                                   ng-bind="::registration.phone"></a>
                              </td>
                              <td ng-bind="::registration.email"></td>
                              <td ng-bind="::registration.createdAt | date: 'dd.MM.yyyy HH:mm'"></td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
