<div class="panel panel-flat timeline-content">
  <div class="panel-heading">
    <h6 class="panel-title">Notatki</h6>
    <div class="heading-elements">
      <a href class="btn btn-primary btn-sm heading-btn"
          translate="TEXTS.SCHEDULE.ADD_CLASS" translate-default="" ng-click="$ctrl.onAddClick()"></a>
    </div>
  </div>
  <div class="panel-body">
    <ul class="media-list media-list-bordered">
      <li class="text-center" ng-show="$ctrl.notes.length===0">
        Brak wyników
      </li>
      <li class="media" ng-repeat="note in $ctrl.notes | orderBy: '-createdAt'">
        <div class="media-left">
          <span class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm">
            <i class="icon-info3"></i>
          </span>
        </div>

        <div class="media-body">
          <span class="text-semibold" ng-bind="note.createdBy"></span>
          <span class="media-annotation pull-right"
              ng-bind="note.createdAt | date: 'dd-MM-yyyy HH:mm'"></span>
          <div ng-bind="note.value"></div>
        </div>
      </li>
    </ul>
  </div>
</div>