<div class="login-container">
  <div class="page-container">
    <div class="page-content">
      <div class="content-wrapper">

        <div class="content">
          <form ng-submit="$ctrl.register()">
            <div class="panel panel-body login-form">
              <div class="text-center">
                <h5 class="content-group">Aktywacja konta</h5>
                <h4 ng-if="$ctrl.result == 0"><i class="icon-spinner2 spinner"></i></h4>
                <div class="alert bg-success" ng-if="$ctrl.result == 2">
                  <h5>Sukces! Możesz teraz się <a href ui-sref="login">ZALOGOWAĆ</a></h5>
                </div>
                <div class="alert bg-danger" ng-if="$ctrl.result == 1">
                  <h5>Niepowodzenie!</h5>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
