<div class="modal-header">
  <button class="close" ng-click="$ctrl.cancel()">×</button>
  <h5 class="modal-title">Dodaj zajęcia</h5>
</div>

<form ng-submit="$ctrl.ok()" name="form">
  <div class="modal-body">

    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <label>
            Nazwa
            <span class="text-danger">*</span>
          </label>
          <input type="text" placeholder="Nazwa" class="form-control" ng-model="$ctrl.course.name"
              required autofocus>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <label class="display-block">Dzień</label>
          <div class="btn-group">
            <label class="btn btn-default"
                ng-repeat="day in $ctrl.days"
                ng-model="$ctrl.course.day"
                uib-btn-radio="{{day.id}}"
                translate="DAYS.SHORT.DAY{{day.id}}"
                translate-default="">
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label>Godzina rozpoczęcia</label>
          <div uib-timepicker
              ng-model="$ctrl.course.startTime"
              minute-step="15"
              show-meridian="false"
              mousewheel="false"></div>
        </div>

        <div class="col-sm-6">
          <label>Godzina zakończenia</label>
          <div uib-timepicker
              ng-model="$ctrl.course.endTime"
              minute-step="15"
              show-meridian="false"
              mousewheel="false"></div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <label>Instruktor</label>
          <input type="text" placeholder="Instruktor" class="form-control"
              ng-model="$ctrl.course.instructor">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <label class="display-block">Poziom trudności</label>
          <div class="btn-group">
            <label class="btn btn-default"
                ng-model="$ctrl.course.level"
                uib-btn-radio="level.name"
                ng-repeat="level in $ctrl.levels"
                uncheckable="false"
                translate="LEVELS.{{level.name}}"
                translate-default="">
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <label class="display-block">Bieżący status grupy</label>
          <div class="btn-group">
            <label class="btn btn-default"
                ng-model="$ctrl.course.state"
                uib-btn-radio="state.name"
                uncheckable="false"
                ng-repeat="state in $ctrl.states"
                translate="TEXTS.SCHEDULE.COURSE.STATE.{{state.name}}.LABEL"
                translate-default="">
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <label>
            Krótki opis
            <span class="text-muted">(pojawia się przy nazwie kursu)</span>
          </label>
          <input type="text" placeholder="Krótki opis" class="form-control"
              ng-model="$ctrl.course.shortDescription">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <label>
            Długi opis
            <span class="text-muted">(pojawia się po rozwinięciu szczegółów)</span>
          </label>
          <textarea placeholder="Dłuższy opis" class="form-control"
              ng-model="$ctrl.course.description"
              rows="5"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-link" ng-click="$ctrl.cancel()">Anuluj</button>
    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Zapisz</button>
  </div>
</form>
