<div class="page-header" style="border-bottom: 0;">
  <div class="page-header-content">
    <div class="page-title">
      <h4>
        <i class="icon-users2 position-left"></i>
        <span class="text-semibold">Partner do tańca</span>
      </h4>
      <ul class="breadcrumb position-right">
        <li>
          <a ui-sref="main.dashboard">Home</a>
        </li>
        <li class="active">Partner do tańca</li>
      </ul>
      <div class="heading-elements">
      </div>
    </div>
  </div>

  <div class="content"></div>
</div>
