:host {
  display: block;
  //margin-bottom: 1.5rem;
}

.labeled-field {
  width: 100%;
  margin-bottom: 2rem;
}

@mixin pinned-label {
  font-weight: 500;
  transform: translateY(-1.75rem) scale(0.85) perspective(100px);
  width: calc(130% - 2rem);
}

.labeled-field--pinned .labeled-field__label {
  color: #333;
  @include pinned-label;
}

.labeled-field.has-error .labeled-field__label {
  margin-bottom: 0;
}

.labeled-field__label {
  color: #999;
  margin: 0;
  position: absolute;
  top: 10px;
  transform-origin: 0 0;
  transition: transform 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  white-space: nowrap;
  width: calc(100% - 2rem);

  ::ng-deep input:-webkit-autofill ~ &,
  ::ng-deep input:focus ~ &,
  ::ng-deep select:focus ~ & {
    color: #3F51B5 !important;
    @include pinned-label;
  }
}