<label class="labeled-field has-feedback"
    [class.labeled-field--pinned]="pinned"
    [class.no-margin]="!margins"
    [class.has-error]="invalid">
  <ng-content></ng-content>
  <span class="labeled-field__label">
    {{ label }}
    <strong *ngIf="required" class="text-danger">*</strong>
  </span>
  <span class="help-block text-danger" *ngIf="invalid">
    {{ errorKey | translate }}
  </span>
</label>