.registration-panel {
  width: 480px;
  max-width: 100%;
  margin: 0 auto;
}

.register-box {

  &__title {
    margin-bottom: 20px;
  }

  .alert-primary::after {
    content: '\e9b9';
  }

  legend {
    border-bottom: 0;
    margin-bottom: 10px;
    margin-top: 20px;
  }
}

