<form class="register-box" [formGroup]="ngForm" (submit)="submit(ngForm.value)" autocomplete="off">
  <div class="panel registration-panel">
    <div class="panel-body">
      <div class="text-center">
        <h5 class="content-group">{{ 'register.title' | translate }}</h5>
        <div class="alert bg-danger" *ngIf="userAlreadyExists">
          Użytkownik o podanym adresie email już istnieje.
        </div>
      </div>

      <app-labeled-field [invalid]="isInvalid('firstName')"
          [error]="getError('firstName')">
        <input appTextField
            type="text"
            class="form-control"
            [placeholder]="'register.firstName' | translate"
            formControlName="firstName"
            [required]="true"
            autofocus>
      </app-labeled-field>

      <app-labeled-field [invalid]="isInvalid('lastName')" [error]="getError('lastName')">
        <input appTextField
            type="text"
            class="form-control"
            [placeholder]="'register.lastName' | translate"
            formControlName="lastName"
            [required]="true">
      </app-labeled-field>

      <app-labeled-field [invalid]="isInvalid('name')" [error]="getError('name')">
        <input appTextField
            type="text"
            class="form-control"
            [placeholder]="'register.name' | translate"
            formControlName="name"
            [required]="true">
      </app-labeled-field>

      <app-labeled-field [invalid]="isInvalid('city')" [error]="getError('city')">
        <input appTextField
            type="text"
            class="form-control"
            [placeholder]="'register.city' | translate"
            formControlName="city"
            [required]="true">
      </app-labeled-field>


      <app-labeled-field [invalid]="isInvalid('phone')" [error]="getError('phone')">
        <input appTextField
            type="text"
            class="form-control"
            [placeholder]="'register.phone' | translate"
            formControlName="phone"
            mask="000000000"
            [required]="true">
      </app-labeled-field>

      <app-labeled-field [invalid]="isInvalid('email')" [error]="getError('email')">
        <input appTextField
            type="email"
            class="form-control"
            [placeholder]="'register.email' | translate"
            formControlName="email"
            [required]="true">
      </app-labeled-field>

      <app-labeled-field [invalid]="isInvalid('password')" [error]="getError('password')">
        <input appTextField
            type="password"
            class="form-control"
            [placeholder]="'register.password' | translate"
            formControlName="password"
            [required]="true">
      </app-labeled-field>

      <app-labeled-field [invalid]="isInvalid('repassword')"
          [error]="getError('repassword')">
        <input appTextField
            type="password"
            class="form-control"
            [placeholder]="'register.repassword' | translate"
            formControlName="repassword"
            [required]="true">
      </app-labeled-field>

      <div class="form-group login-options">
        <label class="checkbox-inline">
          <input type="checkbox" [formControl]="ngForm.controls['agreement']" required>
          Oświadczam, iż zapoznałem się z treścią
          <a href="http://kartazgloszen.pl/privacy" target="_blank">
            Regulaminu oraz Polityki Prywatności
          </a>
          serwisu
        </label>
        <div *ngIf="isInvalid('agreement')">
        <span class="help-block text-danger" *ngIf="isError('agreement', 'required')">
          {{ 'common.labeled-field.error.required' | translate }}
        </span>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"
            [disabled]="isLoading">
          <i class="icon-spinner4 position-left"
              [class.spinner]="isLoading"></i>
          {{ 'register.submit' | translate }}
        </button>
      </div>

      <div class="content-divider text-muted form-group">
        <span>{{ 'register.already-have-account' | translate }}</span>
      </div>
      <a routerLink="/login" class="btn btn-default btn-block content-group">
        {{ 'register.login' | translate }}
      </a>
    </div>
  </div>
</form>