<h5 class="content-group text-semibold">
  Bloki startowe
  <small class="display-block">Zdefiniuj kolejność bloków, w jakiej będą generowane listy startowe.</small>
</h5>

<app-loading-container [loaded]="!!sections">

  <div class="row text-center" *ngIf="dayNumbers?.length < 1 && !editMode; else notEmpty">
    <button class="btn btn-primary btn-xs" (click)="editMode=true">
      Rozpocznij
    </button>
  </div>

  <ng-template #notEmpty>
    <div style="display: flex; justify-content: flex-end">
      <button class="btn btn-link btn-float text-size-small has-text"
          (click)="editMode=!editMode"
          *ngIf="editMode; else readonly">
        <i class="icon-cross2"></i>
        Zakończ edycję
      </button>
      <ng-template #readonly>
        <button class="btn btn-link btn-float text-size-small has-text"
            (click)="editMode=!editMode">
          <i class="icon-cog3"></i>
          Edycja
        </button>
      </ng-template>
    </div>

    <div class="panel panel-white" *ngFor="let dayNumber of dayNumbers">
      <div class="panel-heading pt-10 pb-10">
        <h4 class="panel-title text-uppercase" style="display: flex; justify-content: space-between;
      align-items:center">
          Dzień {{1 + +dayNumber}} -
          {{ getDayName(dayNumber) }}

          <button class="btn btn-link"
              (click)="daysExpanded[dayNumber]=!daysExpanded[dayNumber]">
            <ng-container *ngIf="daysExpanded[dayNumber]; else hidden">
              Zwiń
              <i class="icon-arrow-up12"></i>
            </ng-container>
            <ng-template #hidden>
              Rozwiń
              <i class="icon-arrow-down12"></i>
            </ng-template>
          </button>
        </h4>
      </div>

      <div class="panel-body no-padding-top" *ngIf="daysExpanded[dayNumber]">
        <ng-container *ngFor="let chapterNumber of getChapterNumbers(dayNumber) as chapterNumbers">
          <h5 class="text-uppercase mt-20">
            Blok {{1 + +chapterNumber}}
            <span class="pull-right">({{ getSectionsAmount(dayNumber, chapterNumber) }})
        </span>
          </h5>

          <ng-container *ngFor="let section of getSections(dayNumber, chapterNumber) as sections; let
        $index=index">
            <div class="well no-padding" style="margin-bottom: 5px;">
              <div class="panel-heading" style="display: flex; flex-direction: row; justify-content:
      space-between; align-items: center; padding-top: 5px; padding-bottom: 5px;">
                <div style="padding: 6px 0">
                  <h6 class="panel-title"
                      *ngFor="let block of section.blocks">
                    <span class="text-bold">{{ block.style | translate }}</span>
                    -
                    <span>{{ block.type | translate }}</span>
                    <span>
          -
            <span *ngIf="block.experience">{{ block.experience | translate }}</span>
          </span>
                    (<span>{{ block.age | translate }}</span>)

                  </h6>
                </div>
                <div class="btn-toolbar"
                    [class.hidden]="!editMode">

                  <div class="btn-group">
                    <a title="Przenieść do bloku powyżej"
                        class="btn btn-default"
                        *ngIf="$index === 0 && chapterNumber > 0"
                        (click)="changeChapter(section, +chapterNumber - 1)">
                      <i class="icon-arrow-up16"></i>
                    </a>

                    <a title="Przenieść do bloku poniżej"
                        class="btn btn-default"
                        *ngIf="$index === sections.length - 1"
                        (click)="changeChapter(section, +chapterNumber + 1)">
                      <i class="icon-arrow-down16"></i>
                    </a>
                  </div>

                  <div class="btn-group">
                    <a title="Połącz w górę"
                        class="btn btn-default"
                        *ngIf="$index>0"
                        (click)="mergeSections(section, sections[$index-1])">
                      <i class="icon-merge"></i>
                    </a>
                  </div>

                  <div class="btn-group">
                    <a title="Przenieś w górę"
                        class="btn btn-default"
                        *ngIf="$index>0"
                        (click)="swapSections(section, sections[$index-1])">
                      <i class="icon-arrow-up12"></i>
                    </a>
                    <a title="Przenieś w dół"
                        class="btn btn-default"
                        *ngIf="$index<sections.length - 1"
                        (click)="swapSections(section, sections[$index+1])">
                      <i class="icon-arrow-down12"></i>
                    </a>
                  </div>

                  <div class="btn-group">
                    <a title="Usuń"
                        class="btn btn-default text-danger"
                        (click)="removeSection(section)">
                      <i class="icon-cross3"></i>
                    </a>
                  </div>
                </div>
              </div>

              <table class="table table-condensed">
                <tbody>
                <tr *ngFor="let performance of section.performances">
                  <td class="performance-number">
                    {{performance.number}}
                  </td>
                  <td style="text-transform: uppercase">
                    {{performance.name}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </ng-container>

          <p *ngIf="editMode">
            <button class="btn btn-primary btn-xs" type="button"
                (click)="addToBlock(dayNumber, chapterNumber, template)">
              <i class="icon-plus-circle2"></i>
              Dodaj do bloku
            </button>
          </p>
        </ng-container>

        <ng-container *ngIf="editMode">
          <h5 class="text-uppercase text-muted mt-20">
            Blok {{getChaptersAmount(dayNumber) + 1}}
          </h5>
          <p>
            <button class="btn btn-default btn-xs" type="button"
                (click)="addToBlock(dayNumber, '' + getChaptersAmount(dayNumber), template)">
              <i class="icon-plus-circle2"></i>
              Dodaj do bloku
            </button>
          </p>
        </ng-container>
      </div>


    </div>

    <ng-container *ngIf="editMode">
      <h4 class="text-uppercase text-muted mt-20">
        Dzień {{ getDaysAmount() + 1 }} -
        {{ getDayName(getDaysAmount().toString()) }}
      </h4>

      <h5 class="text-uppercase text-muted">
        Blok 1
      </h5>

      <p>
        <button class="btn btn-default btn-xs" type="button"
            (click)="addToBlock('' + getDaysAmount(), '' + 0, template)">
          <i class="icon-plus-circle2"></i>
          Dodaj do bloku
        </button>
      </p>
    </ng-container>

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Dodaj do bloku {{1 + +selectedChapterId}}, dzień {{ 1 + +selectedDayId }}
        </h4>
        <button type="button" class="close pull-right" (click)="addToBlockModalRef.hide()">
          <span>&times;</span>
        </button>
      </div>
      <form class="form-horizontal"
          [formGroup]="ngForm"
          autocomplete="off">
        <div class="modal-body">
          <app-labeled-field *ngIf="styles.length > 0">
            <select appSelectField
                class="form-control"
                placeholder="{{ 'common.competition.style.title' | translate }}"
                formControlName="style">
              <option *ngFor="let style of styles" [value]="style.name">
                {{ style.name }}
              </option>
            </select>
          </app-labeled-field>

          <app-labeled-field *ngIf="types.length > 0">
            <select appSelectField
                class="form-control"
                placeholder="{{ 'common.competition.type.title' | translate }}"
                formControlName="type">
              <option *ngFor="let type of types" [value]="type.name">
                {{ type.name }}
              </option>
            </select>
          </app-labeled-field>

          <app-labeled-field *ngIf="experiences.length > 0">
            <select appSelectField
                class="form-control"
                placeholder="{{ 'common.competition.experience.title' | translate }}"
                formControlName="experience">
              <option *ngFor="let experience of experiences" [value]="experience.name">
                {{ experience.name }}
              </option>
            </select>
          </app-labeled-field>

          <app-labeled-field *ngIf="ages.length > 0">
            <select appSelectField
                class="form-control"
                placeholder="{{ 'competition-details.table.age' | translate }}"
                formControlName="age">
              <option *ngFor="let age of ages" [value]="age.name">
                {{ age.name }}
              </option>
            </select>
          </app-labeled-field>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-link" (click)="addToBlockModalRef.hide()">Anuluj
          </button>
          <button type="button" (click)="saveInChapter(ngForm.value)" class="btn btn-primary">Dodaj
          </button>
        </div>
      </form>
    </ng-template>
  </ng-template>
</app-loading-container>