<div class="login-container">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        Setenta CRM
      </a>
    </div>
  </div>

  <div class="page-container">
    <div class="page-content">
      <div class="content-wrapper">

        <div class="content">
          <form ng-submit="$ctrl.register()">
            <div class="panel panel-body login-form">
              <div class="text-center">
                <h5 class="content-group">Create account</h5>
              </div>

              <div class="form-group has-feedback has-feedback-left">
                <label for="email" class="text-semibold">Email</label>
                <input type="email" id="email" class="form-control" placeholder="Email"
                       ng-model="$ctrl.credentials.email">
                <div class="form-control-feedback">
                  <i class="icon-user-check text-muted"></i>
                </div>
              </div>

              <div class="form-group has-feedback has-feedback-left">
                <label for="password" class="text-semibold">Password</label>
                <input type="password" id="password" class="form-control" placeholder="Password"
                       ng-model="$ctrl.credentials.password">
                <div class="form-control-feedback">
                  <i class="icon-user-lock text-muted"></i>
                </div>
              </div>

              <div class="form-group has-feedback has-feedback-left">
                <label for="repassword" class="text-semibold">Re-password</label>
                <input type="password" id="repassword" class="form-control" placeholder="Re-password"
                       ng-model="$ctrl.credentials.repassword">
                <div class="form-control-feedback">
                  <i class="icon-user-lock text-muted"></i>
                </div>
              </div>
              <!--<div class="form-group">-->
                <!--<div-->
                  <!--vc-recaptcha-->
                  <!--ng-model="$ctrl.credentials.recaptcha"-->
                  <!--key="'6LfLvBsUAAAAAC57kmjzKcYh00uegSpnv9BfbJqw'"-->
                <!--&gt;</div>-->
                <!--<input type="hidden" ng-model="$ctrl.credentials.recaptcha" required>-->
              <!--</div>-->

              <div class="content-divider text-muted form-group"><span>Additions</span></div>

              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <div class="checker"><span class="checked"><input type="checkbox" class="styled" checked="checked"></span></div>
                    Send me <a href="#">test account settings</a>
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <div class="checker"><span class="checked"><input type="checkbox" class="styled" checked="checked"></span></div>
                    Subscribe to monthly newsletter
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                    Accept <a href="#">terms of service</a>
                  </label>
                </div>
              </div>

              <button type="submit" class="btn bg-teal btn-block btn-lg" ladda="$ctrl.registering">Register <i
                class="icon-circle-right2 position-right"></i></button>
            </div>
          </form>

          <!-- Footer -->
          <div class="footer text-muted text-center">
            &copy; 2015.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
