<div class="page-header page-header-default" style="border-bottom: 0;">
  <div class="page-header-content">
    <div class="page-title">
      <h5>
        <i class="icon-hat position-left"></i>
        <span class="text-semibold" translate="TEXTS.VISITOR_LIST.TITLE" translate-default=""></span>
      </h5>
    </div>
  </div>
</div>

<div class="content animated fadeIn">
  <div class="panel panel-flat">
    <ul class="nav nav-tabs nav-tabs-solid nav-justified" style="margin-bottom: 0">
      <li class="active">
        <a href>Dashboard</a>
      </li>
      <li>
        <a href>Klienci</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li ng-repeat="(key, value) in $ctrl.visitors">
          <pre>{{key}}: {{value.length}}</pre>
        </li>
      </ul>
    </div>
  </div>
</div>