<!--<ng-container [ngSwitch]="parentRule?.ruleType">-->
<!--  <span *ngSwitchCase="'STYLE'">Styl: {{ parentRule.style.name }}</span>-->
<!--  <span *ngSwitchCase="'TYPE'">Kategoria: {{ parentRule.type.name }}</span>-->
<!--  <span *ngSwitchCase="'EXPERIENCE'">Doświadczenie: {{ parentRule.experience.name }}</span>-->
<!--  <span *ngSwitchCase="'AGE'">Wiek: {{ parentRule.age.name }}</span>-->
<!--  <span *ngSwitchDefault>/</span>-->
<!--</ng-container>-->

<ng-container [ngSwitch]="parentRule?.ruleType">
  <div *ngSwitchCase="'STYLE'">
    <button class="btn btn-default btn-block"
        (click)="saveRule('EXPERIENCE',null,null,experience)"
        *ngFor="let experience of experiences">
      {{ experience.name }}
    </button>
  </div>

  <div *ngSwitchCase="'TYPE'">
    <button class="btn btn-default btn-block"
        (click)="saveRule('STYLE',style)"
        *ngFor="let style of styles">
      {{ style.name }}
    </button>
  </div>

  <div *ngSwitchCase="null">
    <button class="btn btn-default btn-block"
        (click)="saveRule('AGE',null,null,null,age)"
        *ngFor="let age of ages">
      {{ age.name }}
    </button>
  </div>

  <div *ngSwitchCase="'AGE'">
    <button class="btn btn-default btn-block"
        (click)="saveRule('TYPE',null,type)"
        *ngFor="let type of types">
      {{ type.name }}
    </button>
  </div>
</ng-container>