<div class="panel panel-flat course-registrations">
  <div class="panel-heading">
    <h6 class="panel-title">
      <span translate="TEXTS.SCHEDULE.COURSE.REGISTRATION" translate-default=""></span>
      <span class="label label-success position-right" ng-bind="$ctrl.registrations.length"></span>
    </h6>
  </div>
  <div class="panel-body course-registrations__panel-body"></div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Klient</th>
      <th>Telefon</th>
      <th>Email</th>
      <th>Data</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="registration in $ctrl.registrations | orderBy: '-createdAt'"
        ng-if="!$ctrl.isLoading">
      <td>
        <span ng-bind="::registration.firstName"></span>
        <span ng-bind="::registration.lastName"></span>
      </td>
      <td>
        <a href="tel:{{::registration.phone}}"
            ng-bind="::registration.phone"></a>
      </td>
      <td ng-bind="::registration.email"></td>
      <td ng-bind="::registration.createdAt | date: 'dd.MM.yyyy HH:mm'"></td>
    </tr>
    <tr>
      <td colspan="5" class="text-center">
        <span ng-if="$ctrl.registrations.length===0">Brak wyników</span>
        <span ng-if="$ctrl.isLoading">
          <i class="icon-spinner2 spinner position-left"></i>
          Ładowanie...
        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>