<div class="page-header page-header-default" style="border-bottom: 0;">
  <div class="page-header-content">
    <div class="page-title">
      <h5>
        <a href class="btn btn-link position-left" ui-sref="main.course.list">
          <i class="icon-arrow-left52"></i>
        </a>
        <span class="text-semibold" translate="TEXTS.COURSE_DETAILS.TITLE" translate-default=""></span>
      </h5>
    </div>
  </div>
</div>

<div class="content animated fadeIn">
  <div class="panel panel-flat">
    <ul class="nav nav-tabs nav-tabs-solid nav-justified" style="margin-bottom: 0">
      <li class="active">
        <a href>Ogólne</a>
      </li>
      <li>
        <a href>Klienci</a>
      </li>
      <li>
        <a href>Statystki</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h6 class="panel-title" ng-bind="$ctrl.course.name"></h6>
          <div class="heading-elements panel-nav">
            <ul class="nav nav-pills">
              <li ng-if="!$ctrl.editMode">
                <a href ng-click="$ctrl.editCourse()">
                  <i class="icon-pencil7 position-left"></i>
                  Edytuj
                </a>
              </li>
            </ul>
          </div>
          <!--<div class="heading-elements">-->
          <!--<ul class="icons-list">-->
          <!--<li ng-if="!$ctrl.editMode">-->
          <!--<a href ng-click="$ctrl.editCourse()"><i class="icon-pencil7"></i></a>-->
          <!--</li>-->
          <!--</ul>-->
          <!--</div>-->
        </div>
        <div class="panel-body">
          <form class="form-horizontal" ng-if="$ctrl.editMode">
            <div class="form-group">
              <label for="name" class="col-sm-4 control-label">Nazwa</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="name" placeholder="Nazwa"
                       ng-model="$ctrl.courseCopy.name">
              </div>
            </div>
            <div class="form-group">
              <label for="day" class="col-sm-4 control-label">Dzień</label>
              <div class="col-sm-8">
                <select class="form-control" id="day" ng-model="$ctrl.courseCopy.day">
                  <option ng-repeat="day in $ctrl.days"
                          ng-value="day.id"
                          translate="DAYS.LONG.DAY{{day.id}}"
                          translate-default=""></option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="timeFrom" class="col-sm-4 control-label">Godzina rozpoczęcia</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="timeFrom" placeholder="Godzina rozpoczęcia"
                       ng-model="$ctrl.courseCopy.timeFrom">
              </div>
            </div>
            <div class="form-group">
              <label for="timeTo" class="col-sm-4 control-label">Godzina zakończenia</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="timeTo" placeholder="Godzina zakończenia"
                       ng-model="$ctrl.courseCopy.timeTo">
              </div>
            </div>
            <div class="form-group">
              <label for="instructor" class="col-sm-4 control-label">Instruktor</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="instructor" placeholder="Instruktor"
                       ng-model="$ctrl.courseCopy.instructor">
              </div>
            </div>
            <div class="form-group">
              <label for="level" class="col-sm-4 control-label">Poziom trudności</label>
              <div class="col-sm-8">
                <select class="form-control" id="level" ng-model="$ctrl.courseCopy.level">
                  <option ng-repeat="level in $ctrl.levels"
                          ng-value="level.name"
                          translate="LEVELS.{{level.name}}"
                          translate-default=""></option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="state" class="col-sm-4 control-label">Bieżący status</label>
              <div class="col-sm-8">
                <select class="form-control" id="state" ng-model="$ctrl.courseCopy.state">
                  <option ng-repeat="state in $ctrl.states"
                          ng-value="state.name"
                          translate="TEXTS.SCHEDULE.COURSE.STATE.{{state.name}}.LABEL"
                          translate-default=""></option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="shortDescription" class="col-sm-4 control-label">Krótki opis</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="shortDescription" placeholder="Krótki opis"
                       ng-model="$ctrl.courseCopy.shortDescription">
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="col-sm-4 control-label">Dłuższy opis</label>
              <div class="col-sm-8">
            <textarea type="text" class="form-control" id="description" placeholder="Dłuższy opis"
                      ng-model="$ctrl.courseCopy.description" rows="5"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="color" class="col-sm-4 control-label">Kolor</label>
              <div class="col-sm-8">
                <select class="form-control" id="color" ng-model="$ctrl.courseCopy.color">
                  <option value="#FB8C00">
                    <span class="label bg-orange-600">Pomarańczowy</span>
                  </option>
                  <option value="#7CB342">
                    <span class="label bg-green-600">Zielony</span>
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group text-right">
              <button class="btn btn-default" ng-click="$ctrl.cancel()">Anuluj</button>
              <button type="submit" class="btn btn-primary" ng-click="$ctrl.update()">Zapisz</button>
            </div>
          </form>

          <form class="form-horizontal" ng-if="!$ctrl.editMode">
            <div class="form-group">
              <label class="col-sm-4 control-label">Nazwa</label>
              <div class="col-sm-8">
                <p class="form-control-static" ng-bind="$ctrl.course.name"></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Dzień</label>
              <div class="col-sm-8">
                <p class="form-control-static"
                   translate="DAYS.LONG.DAY{{$ctrl.course.day}}"
                   translate-default=""></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Godzina rozpoczęcia</label>
              <div class="col-sm-8">
                <p class="form-control-static" ng-bind="$ctrl.course.timeFrom"></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Godzina zakończenia</label>
              <div class="col-sm-8">
                <p class="form-control-static" ng-bind="$ctrl.course.timeTo"></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Instruktor</label>
              <div class="col-sm-8">
                <p class="form-control-static" ng-bind="$ctrl.course.instructor"></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Poziom trudności</label>
              <div class="col-sm-8">
                <p class="form-control-static"
                   translate="LEVELS.{{$ctrl.course.level}}"
                   translate-default=""></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Bieżący status</label>
              <div class="col-sm-8">
                <p class="form-control-static"
                   translate="TEXTS.SCHEDULE.COURSE.STATE.{{$ctrl.course.state}}.LABEL"
                   translate-default=""></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Krótki opis</label>
              <div class="col-sm-8">
                <p class="form-control-static" ng-bind="$ctrl.course.shortDescription"></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Dłuższy opis</label>
              <div class="col-sm-8">
                <p class="form-control-static" ng-bind="$ctrl.course.description"></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Kolor</label>
              <div class="col-sm-8">
                <p class="form-control-static">
                <span class="label border-left-grey label-striped" ng-bind="$ctrl.course.color"
                      ng-style="{'border-left-color': $ctrl.course.color}"></span>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h6 class="panel-title">Zapisy</h6>
        </div>
        <div class="dataTables_wrapper">
          <div class="datatable-scroll table-responsive">
            <table class="table table-bordered table-hover datatable-basic dataTable no-footer">
              <thead>
              <tr class="active">
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Telefon</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="registration in $ctrl.registrations">
                <td ng-bind="registration.firstName"></td>
                <td ng-bind="registration.lastName"></td>
                <td ng-bind="registration.email"></td>
                <td ng-bind="registration.phone"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--<div class="panel-body">-->
          <!--<div class="datatable-scroll table-responsive">-->
            <!--<table class="table table-bordered table-hover datatable-basic dataTable no-footer">-->
              <!--<thead>-->
              <!--<tr class="active">-->
              <!--</tr>-->
              <!--</thead>-->

            <!--</table>-->
            <!--<pre>{{$ctrl.registrations | json}}</pre>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>