<div class="course-details">
  <view-header icon="icon-calendar" title-key="TEXTS.COURSE_DETAILS.TITLE"
      subtitle-key="TEXTS.COURSE_DETAILS.SUBTITLE" back-to="main.course.list"></view-header>

  <div class="content animated fadeIn" >
    <div class="row">

      <div class="col-sm-5">
        <course-properties
            course="$ctrl.course"
            days="$ctrl.days"
            levels="$ctrl.levels"
            states="$ctrl.states"
            is-update-in-progress="$ctrl.isUpdateLoading"
            on-update-click="$ctrl.updateCourse($event)"></course-properties>
      </div>
      <div class="col-sm-7">
        <course-registrations registrations="$ctrl.registrationList"
            is-loading="$ctrl.isRegistrationsLoading"></course-registrations>
      </div>
    </div>
  </div>
</div>