<app-loading-container [loaded]="!!list">

  <app-performance-song-speaker></app-performance-song-speaker>

  <div class="alert alert-info alert-styled-left no-shadow"
      *ngIf="dayNumbers?.length < 1; else notEmpty">
    Zdefiniuj najpierw kolejność bloków startowych
    <a routerLink="../performance-block-list" class="text-bold">TUTAJ</a>
  </div>

  <ng-template #notEmpty>
    <div class="hidden-print">
      <ul class="nav nav-xs nav-pills">
        <li>
          <a routerLink="../performance-block-list">
            <i class="icon-server position-left"></i>
            Kolejność bloków
          </a>
        </li>
        <li>
          <a (click)="print()">
            <i class="icon-printer2 position-left"></i>
            Drukuj
          </a>
        </li>
        <li *ngIf="(licence$ | async)?.musicUpload">
          <a *ngIf="!(isDownloadingAudio | async); else downloading"
              (click)="downloadAudio()">
            <i class="position-left icon-download4"></i>
            Muzyka
          </a>

          <ng-template #downloading>
            <a>
              <i class="icon-spinner4 spinner position-left"></i>
              Pobieranie...
            </a>
          </ng-template>
        </li>
        <li [class.active]="resultsVisible"
          *ngIf="(licence$ | async)?.results">
          <a (click)="toggleResults()">
            <i class="icon-medal position-left"></i>
            Wyniki
          </a>
        </li>
        <li [class.active]="filterMode">
          <a (click)="filterMode ? clear() : filterMode=true">
            <i class="icon-filter4"></i>
            Filtruj
          </a>
        </li>
      </ul>

      <div class="btn-group" style="display: flex;align-items: center;">
        <ng-container *ngIf="filterMode">
          <div class="btn-group" dropdown>
            <button dropdownToggle
                type="button"
                class="btn btn-default btn-block dropdown-toggle">
              {{ selectedParticipantName }}
              <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li *ngFor="let participant of participants$ | async"
                  [class.active]="selectedParticipant === participant">
                <a class="dropdown-item"
                    (click)="select(participant)">
                  {{ participant.name }} - {{ participant.city }}
                </a>
              </li>
            </ul>
          </div>

          <button class="btn btn-link" (click)="clear()">
            <i class="icon-cross2"></i>
          </button>
        </ng-container>
      </div>
    </div>

    <h5 class="text-uppercase" *ngIf="selectedParticipant">
      {{ selectedParticipant?.name }} - {{ selectedParticipant?.city }}
    </h5>

    <ng-container *ngFor="let dayNumber of dayNumbers">
      <h4 class="text-uppercase">
        Dzień {{1 + +dayNumber}} -
        {{ getDayName(dayNumber) }}
      </h4>

      <ng-container *ngFor="let chapterNumber of getChapterNumbers(dayNumber)">
        <h5 class="text-uppercase" *ngIf="!selectedParticipant">Blok {{1 + +chapterNumber}}</h5>
        <ng-container *ngIf="getSections(dayNumber, chapterNumber) as sections">
          <div class="well well-sm" *ngIf="noPerformancesInside(sections) && !filterMode">
            Brak występów w danym bloku.
          </div>

          <ng-container *ngFor="let section of sections">
            <div class="panel panel-flat table-responsive"
                *ngIf="section.performances.length">
              <div class="panel-heading">
                <h6 class="panel-title"
                    *ngFor="let block of section.blocks">
                  <span class="text-bold">{{ block.style }}</span>
                  <ng-container *ngIf="block.type?.trim()">
                    -
                    <span>{{ block.type }}</span>
                  </ng-container>
                  <span>
                    <span *ngIf="block.experience">&nbsp;- {{ block.experience }}</span>
                    </span>
                  (<span>{{ block.age }}</span>)
<!--                  TO NIE TUTAJ - powtorzy sie dla kilku linii! patrz: ngFor-->
<!--                  <a class="pull-right"-->
<!--                      container="body"-->
<!--                      placement="left"-->
<!--                      tooltip='Pobierz muzykę'>-->
<!--                    <i class="position-left icon-download4"></i>-->
<!--                  </a>-->
                </h6>
              </div>

              <table class="table table-condensed">
                <tbody>
                <tr *ngFor="let performance of section.performances">
                  <td class="performance-number">
                    {{performance.number}}
                  </td>
                  <td style="text-transform: uppercase">
                    <app-performance-name-cell
                        [types]="types$ | async"
                        [performance]="performance"></app-performance-name-cell>
                  </td>

                  <td *ngIf="canShowTitle(section)">
                    {{ performance.title }}
                  </td>
                  <td style="text-transform: uppercase">
                    {{performance.user?.school.name}}
                  </td>
                  <td class="text-right text-uppercase hidden-print"
                      *ngIf="resultsVisible; else showCity">
                    <span *ngIf="performance.place"
                        class="label label-rounded label-default"
                        [class.bg-orange-300]="performance.place==='1'"
                        [class.bg-slate-300]="performance.place==='2'"
                        [class.bg-brown]="performance.place==='3'">
                      {{ performance.place }}
                    </span>
                  </td>

                  <ng-template #showCity>
                    <td style="text-transform: uppercase">
                      {{performance.user?.school?.address.city}}
                    </td>
                  </ng-template>

                  <td class="hidden-print">
                    <app-performance-song-player
                        class="position-left"
                        [performance]="performance"
                        [playing]="(playingSongSid$ | async) === performance.audioSid"
                    ></app-performance-song-player>
<!--                    <a class="position-right"-->
<!--                        container="body"-->
<!--                        tooltip='Pobierz muzykę'>-->
<!--                      <i class="position-left icon-download4"></i>-->
<!--                    </a>-->
                  </td>

                  <td class="hidden-print">
<!--                    <ul class="icons-list">-->
<!--                      <li class="dropdown" dropdown container="body">-->
<!--                        <a class="dropdown-toggle" dropdownToggle>-->
<!--                          <i class="icon-menu9"></i>-->
<!--                        </a>-->

<!--                        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu-->
<!--                            style="min-width: 200px">-->
<!--                          <li>-->
<!--                            <a >-->
<!--                              <i class="icon-download4"></i>-->
<!--                              Pobierz muzykę-->
<!--                            </a>-->
<!--                          </li>-->
<!--                          <li>-->
<!--                            <a >-->
<!--                              <i class="icon-medal"></i>-->
<!--                              Wprowadź wynik-->
<!--                            </a>-->
<!--                          </li>-->
<!--                          <li>-->
<!--                            <a >-->
<!--                              <i class="icon-pencil7"></i>-->
<!--                              Zmień kategorię-->
<!--                            </a>-->
<!--                          </li>-->
<!--                          <li>-->
<!--                            <a >-->
<!--                              <i class="icon-list-numbered"></i>-->
<!--                              Nadaj numer startowy-->
<!--                            </a>-->
<!--                          </li>-->
<!--                          <li class="divider"></li>-->
<!--                          <li>-->
<!--                            <a >-->
<!--                              <i class="icon-cross2 text-danger"></i>-->
<!--                              Usuń-->
<!--                            </a>-->
<!--                          </li>-->
<!--                        </ul>-->
<!--                      </li>-->
<!--                    </ul>-->
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
        </ng-container>

      </ng-container>

      <div class="pagebreak"></div>
    </ng-container>

    <div class="hidden-print mt-20">
      <ul class="nav nav-xs nav-pills">
        <li>
          <a (click)="generate()">
            <i class="icon-list-numbered position-left"></i>
            Generuj numery
          </a>
        </li>
      </ul>
    </div>
  </ng-template>

</app-loading-container>