<div class="panel panel-flat">
  <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <img
            src="https://api.adorable.io/avatars/90/{{::$ctrl.advertisement.contact.email}}.png"
            style="width: 90px; height: 90px;" class="img-circle img-md">
      </div>

      <div class="media-body">
        <h6 class="media-heading">
          <span ng-bind="$ctrl.advertisement.advertiser.firstName"></span>
          <span ng-bind="$ctrl.advertisement.advertiser.lastName"></span>
        </h6>
        <p class="text-muted" ng-bind="$ctrl.advertisement.contact.email"></p>

        <div class="btn-group" uib-dropdown>
          <button class="btn btn-primary dropdown-toggle"
              uib-dropdown-toggle ladda="$ctrl.isUpdateInProgress">
            <span translate="ADVERTISEMENTS.{{$ctrl.advertisement.state}}" translate-default=""></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="state in $ctrl.states">
              <a href translate="ADVERTISEMENTS.{{state.name}}" translate-default=""
                  ng-click="$ctrl.setState(state)"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>