<button class="btn btn-default btn-float btn-rounded" style="padding: 7px;"
    *ngIf="performance.audioSid"
    [class.btn-info]="playing"
    (click)="toggle()">
  <i class="icon-pause2" *ngIf="playing; else notPlaying"></i>
  <ng-template #notPlaying>
    <i class="icon-play4"></i>
  </ng-template>
</button>
