<div class="login-container">
  <div class="navbar navbar-default header-highlight navbar-component navbar-fixed-top">
    <div class="navbar-header bg-white">
      <a class="navbar-brand text-pink-700" href="index.html">
        <img src="http://setenta.wroclaw.pl/wp-content/themes/setenta-theme/assets/img/sys/logo.png" alt="setenta logo">
      </a>
    </div>
  </div>

  <div class="page-container">
    <div class="page-content">
      <div class="content-wrapper">

        <div class="content">
          <form ng-submit="$ctrl.login()">
            <div class="panel panel-body login-form">
              <div class="text-center">
                <h5 class="content-group">
                  <span translate="TEXTS.LOGIN.TITLE"
                        translate-default=""></span>
                  <small class="display-block"
                         translate="TEXTS.LOGIN.SUBTITLE"
                         translate-default=""></small>
                </h5>
              </div>

              <div class="alert alert-danger" ng-if="$ctrl.error">Niepoprawny login lub hasło</div>

              <div class="form-group has-feedback has-feedback-left">
                <input ng-model="$ctrl.credentials.login"
                       type="text"
                       class="form-control"
                       placeholder="{{ 'TEXTS.LOGIN.USERNAME' | translate }}"
                       autofocus>
                <div class="form-control-feedback">
                  <i class="icon-user text-muted"></i>
                </div>
              </div>

              <div class="form-group has-feedback has-feedback-left">
                <input ng-model="$ctrl.credentials.password"
                       type="password"
                       class="form-control"
                       placeholder="{{ 'TEXTS.LOGIN.PASSWORD' | translate }}">
                <div class="form-control-feedback">
                  <i class="icon-lock2 text-muted"></i>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" ladda="$ctrl.logging">
                  <span translate="TEXTS.LOGIN.SIGN_IN" translate-default=""></span>
                  <i class="icon-circle-right2 position-right"></i>
                </button>
              </div>
            </div>
          </form>

          <div class="footer text-muted text-center">
            &copy; 2017.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
