<div class="login page-container" style="min-height:577px; padding-top: 20px;">
  <div class="text-center">
    <img src="assets/logo-big.png" alt="logo" style="width: 200px; margin-bottom: 20px">
  </div>
  <app-login-box (onSubmit)="login($event)"
      [error]="error$ | async"
      [isLoading]="isLoading$ | async"></app-login-box>
  <app-footer></app-footer>
</div>