<div class="page-header page-header-default page-header-xs">
  <div class="page-header-content">
    <div class="page-title">
      <h5>
        <i class="{{$ctrl.icon}} position-left"></i>
        <span class="text-semibold" translate="{{$ctrl.titleKey}}"
            translate-default=""></span>
        <small class="display-block" ng-if="$ctrl.subtitleKey" translate="{{$ctrl.subtitleKey}}"></small>
      </h5>
    </div>
    <div class="heading-elements">
    </div>
  </div>
  <div class="breadcrumb-line" ng-if="$ctrl.backTo">
    <ul class="breadcrumb">
      <li>
        <a ui-sref="{{$ctrl.backTo}}">
          <i class="icon-circle-left2 position-left"></i>
          Powrót
        </a>
      </li>
    </ul>
  </div>
</div>