@import '~styles/animations';

.element-toggleable {
  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  transition: max-height 300ms $smooth-animation;
  will-change: max-height;

  &--visible {
    max-height: 700px;
  }
}

.panel.element-toggleable {
  &--visible {
    margin-bottom: 20px;
  }
}

.panel-body.element-toggleable {
  &--visible {
    padding: 20px;
  }
}

::ng-deep .panel-table .labeled-field {
  margin-bottom: 0 !important;
}