<app-main-page title="{{ 'common.sidebar.dancers' | translate }}" iconId="icon-theater">

  <app-loading-container [loaded]="!!(initialized$ | async)">
    <div class="panel panel-flat element-toggleable"
        [class.no-border-radius]="media$ | async | device:'MOBILE'"
        [class.row]="media$ | async | device:'MOBILE'"
        [class.element-toggleable--visible]="addFormVisible">
      <div class="panel-body">
        <div class="heading-elements">
          <ul class="icons-list">
            <li>
              <a (click)="hideAddForm()">
                <i class="icon-cross"></i>
              </a>
            </li>
          </ul>
        </div>

        <app-dancer-form (save)="onSubmit($event)"
            (cancel)="hideAddForm()"
            [loading]="submitInProgress$ | async"></app-dancer-form>
      </div>

      <div class="panel-footer">
        <div class="heading-elements performance-list__add-form-footer" style="display: block">
        <span class="heading-text ">
          <strong class="text-danger">*</strong>
          <span>
            {{ 'common.form.required-field' | translate }}
          </span>
        </span>
        </div>
      </div>
    </div>

    <ng-template #desktop>
      <div class="panel panel-flat panel-table">
        <div class="panel-heading" *ngIf="!addFormVisible">
          <button class="btn btn-primary animated fadeIn"
              (click)="showAddForm()">
            {{ 'dancers.add' | translate }}
          </button>
        </div>

        <ng-container *ngIf="(dancers$ | async)?.length>0">


          <div class="panel-body">
            <div class="row">
              <app-labeled-field class="col-xs-12 col-sm-5 col-md-3">
                <input type="text"
                    class="form-control"
                    appTextField
                    (keyup)="onDancerFilterInput($event)"
                    [placeholder]="'common.table.filter' | translate">
              </app-labeled-field>
            </div>
          </div>
          <div class="dataTables_wrapper no-footer">
            <div class="datatable-scroll">
              <div class="table-responsive no-border">
                <table class="table dataTable table-hover table-striped table-bordered">
                  <thead>
                  <tr *ngIf="{ asc: sortAscending$ | async, prop: sortProperty$ | async } as data">
                    <th style="width: 100px;">Lp</th>
                    <th [class]="getSortingClass('firstName', data.prop, data.asc)"
                        (click)="sortBy('firstName')">
                      {{ 'dancers.firstName' | translate }}
                    </th>
                    <th [class]="getSortingClass('lastName', data.prop, data.asc)"
                        (click)="sortBy('lastName')">
                      {{ 'dancers.lastName' | translate }}
                    </th>
                    <th [class]="getSortingClass('yearOfBirth', data.prop, data.asc)"
                        (click)="sortBy('yearOfBirth')">
                      {{ 'dancers.yearOfBirth' | translate }}
                    </th>
                    <th class="text-center">{{ 'dancers.actions' | translate }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let dancer of filteredDancers$ | async; let $index=index">
                    <td style="width: 100px;">{{ $index + 1 }}</td>
                    <td>{{ dancer.firstName }}</td>
                    <td>{{ dancer.lastName }}</td>
                    <td>{{ dancer.yearOfBirth }}</td>
                    <td class="text-center">
                      <ul class="icons-list">
                        <li class="dropdown" dropdown container="body">
                          <a class="dropdown-toggle" dropdownToggle>
                            <i class="icon-menu9"></i>
                          </a>

                          <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu
                              style="min-width: 200px">
                            <li>
                              <a (click)="delete(dancer)">
                                <i class="fa fa-trash-o"></i>
                                {{ 'common.table.remove' | translate }}
                              </a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr *ngIf="!(filteredDancers$ | async)?.length">
                    <td colspan="6" class="text-center">
                      {{ 'dancers.empty-list' | translate }}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </ng-container>
      </div>
    </ng-template>

    <div class="row" *ngIf="media$ | async | device:'MOBILE'; else desktop">

      <div class="ml-10 mb-10">
        <app-labeled-field>
          <input type="text"
              class="form-control"
              appTextField
              (keyup)="onDancerFilterInput($event)"
              [placeholder]="'common.table.filter' | translate">
        </app-labeled-field>
      </div>

      <div class="mt-10 mb-10 ml-10 mr-10" *ngIf="!addFormVisible">
        <button class="btn btn-primary animated fadeIn btn-block"
            (click)="showAddForm()">
          {{ 'dancers.add' | translate }}
        </button>
      </div>


      <div class="panel panel-flat mb-5 no-border-radius"
          *ngFor="let dancer of filteredDancers$ | async">
        <div class="panel-body">
          <div style="display: flex; justify-content: space-between; align-items: center">
            <div>
              <strong>
                {{ dancer.firstName }}
                {{ dancer.lastName }}
              </strong>
              <p class="no-margin text-muted">{{ dancer.yearOfBirth }}</p>
            </div>
            <span class="dropdown" dropdown container="body">
                  <a class="dropdown-toggle" dropdownToggle>
                    <i class="icon-menu9"></i>
                  </a>

                  <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu
                      style="min-width: 200px">
                    <li>
                      <a (click)="delete(dancer)">
                        <i class="icon-cross2 text-danger"></i>
                        {{ 'common.table.remove' | translate }}
                      </a>
                    </li>
                  </ul>
                </span>
          </div>
        </div>
      </div>
    </div>
  </app-loading-container>
</app-main-page>