<div class="page-header page-header-inverse">
  <nav class="navbar navbar-inverse" style="box-shadow: none; width: 100vw;">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href='/'>
          <img src="assets/logo-karta.png" alt="Logo">
        </a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="page-title">
      <h5>
        III Turniej Tańca Nowoczesnego "GOLD CONTEST 2020”
      </h5>
      <a class="heading-elements-toggle"><i class="icon-more"></i></a>
    </div>
  </div>
  <div class="navbar navbar-inverse navbar-transparent" id="navbar-second">
    <div class="container">
      <ul class="nav navbar-nav visible-xs-block">
        <li><a class="text-center legitRipple collapsed" data-toggle="collapse"
            data-target="#navbar-second-toggle" aria-expanded="false"><i
            class="icon-paragraph-justify3"></i></a></li>
      </ul>

      <div class="navbar-collapse collapse" id="navbar-second-toggle" aria-expanded="false"
          style="height: 2px;">
        <ul class="nav navbar-nav navbar-nav-material no-margin-left">
          <li class="active"><a href="index.html" class="legitRipple">Szczegóły<span
              class="legitRipple-ripple"
              style="left: 49.7383%; top: 52%; transform: translate3d(-50%, -50%, 0px); transition-duration: 0.2s, 0.5s; width: 224.285%;"></span></a>
          </li>

          <li class="dropdown mega-menu mega-menu-wide">
            <a href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown">Zapisy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>