.panel-heading {
  padding: 10px 20px;
}

.panel-title {
  font-size: 14px;
  margin: 0;
}

.table-condensed {
  font-size: 12px;
}

.performance-number {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 26px;
  width: 120px;
}

@media print {
  .panel-flat {
    border-color: #777;
    border-width: 1px;
  }
}