<app-loading-container [loaded]="!(resultsLoading$ | async)">
  <ng-container class="animated fadeIn" *ngIf="{
    competition: competition$ | async,
    list: results$ | async,
    stylesWithTitle: stylesWithTitle$ | async,
    types: types$ | async
    } as data">
    <div class="alert alert-info alert-styled-left no-shadow"
        *ngIf="!data.competition?.resultPublished">
      Wyniki zostaną udostępnione po zakończeniu turnieju.
    </div>

    <ng-container *ngIf="data.competition?.resultPublished && data.list">
      <ng-container *ngFor="let dayNumber of getDayNumbers(data.list)">
        <h4 class="text-uppercase">
          Dzień {{1 + +dayNumber}} -
          {{ getDayName(dayNumber, data.competition) }}
        </h4>

        <ng-container
            *ngFor="let chapterNumber of getChapterNumbers(data.list, dayNumber)">
          <h5 class="text-uppercase">Blok {{1 + +chapterNumber}}</h5>

          <ng-container *ngIf="getSections(data.list, dayNumber, chapterNumber) as sections">
            <div class="well well-sm" *ngIf="noPerformancesInside(sections)">
              Brak występów w danym bloku.
            </div>
            <ng-container *ngFor="let section of sections">
              <div class="panel panel-flat table-responsive"
                  *ngIf="section.performances.length">
                <div class="panel-heading">
                  <h6 class="panel-title"
                      *ngFor="let block of section.blocks">
                    <span class="text-bold">{{ block.style }}</span>
                    -
                    <span>{{ block.type }}</span>
                    <span>
                <span *ngIf="block.experience">&nbsp;- {{ block.experience }}</span>
              </span>
                    (<span>{{ block.age }}</span>)
                  </h6>
                </div>

                <table class="table table-condensed">
                  <tbody>
                  <tr *ngFor="let performance of section.performances"
                      [class.alpha-orange]="performance.place==='1'"
                      [class.alpha-slate]="performance.place==='2'"
                      [class.alpha-brown]="performance.place==='3'"
                  >
                    <td>
                      <span class="label label-rounded label-default"
                          [class.bg-orange-300]="performance.place==='1'"
                          [class.bg-slate-300]="performance.place==='2'"
                          [class.bg-brown]="performance.place==='3'">
                        {{performance.place}}
                      </span>
                      <ng-container *ngFor="let price of performance.prices">
                        <i *ngIf="price.type==='GRAND_PRIX'"
                            class="icon-star-full2 position-right text-warning"
                            [tooltip]="price.description"></i>
                      </ng-container>
                    </td>

                    <td class="text-uppercase">
                      <app-performance-name-cell
                          [types]="data.types"
                          [performance]="performance"></app-performance-name-cell>
                    </td>
                    <td *ngIf="canShowTitle(section, data.stylesWithTitle)"
                        class="text-uppercase">
                      {{ performance.title }}
                    </td>
                    <td class="text-uppercase">
                      {{performance.user?.school.name}}
                    </td>
                    <td class="text-uppercase">
                      {{performance.user?.school?.address.city}}
                    </td>
                    <td class="performance-number">
                      {{performance.number}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</app-loading-container>