@import "../../../stylebase/variables";
.sidebar {

  @media(max-width: 768px) {
    overflow: hidden;
    max-height: 0;
    transition: all 150ms ease-in-out;

    &.opened {
      max-height: 1000px;
    }
  }

  .navigation {
    >li.active>a {
      &,
      &:focus,
      &:hover {
        background: @color-pink;

        @media(min-width: 767px) {
          & {
            border-top-right-radius: 4px;
            margin-right: -8px;
          }

          &::after {
            border-color: lighten(@color-pink, 20%) transparent transparent lighten(@color-pink, 20%);
            border-style: solid;
            border-width: 3px 4px;
            content: ' ';
            height: 0;
            position: absolute;
            right: -8px;
            top: 100%;
            width: 0;
          }
        }
      }
    }

    li a {
      transition: none;
    }
  }
}
