  <div class="sidebar-content">
    <div class="sidebar-category sidebar-category-visible">
      <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">
          <li class="navigation-header">
            <span>Szkoła tańca Setenta</span>
            <i class="icon-menu" title="Main pages"></i>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="main.dashboard">
              <i class="icon-home4"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li ng-class="{active: $ctrl.$state.includes('main.course')}">
            <a ui-sref="main.course.list">
              <i class="icon-calendar"></i>
              <span translate="TEXTS.SCHEDULE.TITLE" translate-default=""></span>
            </a>
          </li>
          <li ng-class="{active: $ctrl.$state.includes('main.advertisement')}">
            <a ui-sref="main.advertisement.list">
              <i class="icon-mustache"></i>
              <span translate="TEXTS.ADVERTISEMENT_LIST.TITLE" translate-default=""></span>
            </a>
          </li>
          <li class="navigation-header" ng-if="$ctrl.isAdmin">
            <span>Turniej tańca TOP</span>
            <i class="icon-menu" title="" data-original-title="Layout options"></i>
          </li>
          <li ng-class="{active: $ctrl.$state.includes('main.competition-registration')}" ng-if="$ctrl.isAdmin">
            <a ui-sref="main.competition-registration.list">
              <i class="icon-theater"></i>
              <span translate="TEXTS.COMPETITION_REGISTRATION_LIST.TITLE" translate-default=""></span>
            </a>
          </li>
          <li ng-class="{active: $ctrl.$state.includes('main.competition.starting-list')}" ng-if="$ctrl.isAdmin">
            <a ui-sref="main.competition.starting-list">
              <i class="icon-theater"></i>
              <span translate="TEXTS.COMPETITION_STARTING_LIST.TITLE" translate-default=""></span>
            </a>
          </li>
          <li ng-class="{active: $ctrl.$state.includes('main.competition.judge-cards')}" ng-if="$ctrl.isAdmin">
            <a ui-sref="main.competition.judge-cards">
              <i class="icon-theater"></i>
              <span translate="TEXTS.COMPETITION_JUDGE_CARDS.TITLE" translate-default=""></span>
            </a>
          </li>

          <li class="navigation-header" ng-if="$ctrl.isAdmin">
            <span>Administracja</span>
            <i class="icon-menu" title="" data-original-title="Layout options"></i>
          </li>
          <li ng-class="{active: $ctrl.$state.includes('main.userType')}" ng-if="$ctrl.isAdmin">
            <a ui-sref="main.userType.list">
              <i class="icon-theater"></i>
              <span translate="TEXTS.USER_TYPE_LIST.TITLE" translate-default=""></span>
            </a>
          </li>
          <li ng-class="{active: $ctrl.$state.includes('main.user')}" ng-if="$ctrl.isAdmin">
            <a ui-sref="main.user.list">
              <i class="icon-theater"></i>
              <span translate="TEXTS.USER_LIST.TITLE" translate-default=""></span>
            </a>
          </li>
          <li ng-class="{active: $ctrl.$state.includes('main.school')}" ng-if="$ctrl.isAdmin">
            <a ui-sref="main.school.list">
              <i class="icon-theater"></i>
              <span translate="TEXTS.SCHOOL_LIST.TITLE" translate-default=""></span>
            </a>
          </li>
          <li ng-class="{active: $ctrl.$state.includes('main.competition')}" ng-if="$ctrl.isAdmin">
            <a ui-sref="main.competition.list">
              <i class="icon-theater"></i>
              <span translate="TEXTS.COMPETITION_LIST.TITLE" translate-default=""></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
