<div class="panel panel-flat">
  <div class="panel-heading">
    <h5 class="panel-title">Lista zgłoszeń</h5>
  </div>
  <div class="panel-body">
    Zgłoszenia wysłane przez stronę internetową.
  </div>
  <div class="datatable-header">
    <div id="DataTables_Table_0_filter" class="dataTables_filter">
      <label>
        <span>Filter:</span>
        <input type="search"
               class=""
               placeholder="Type to filter..."
               aria-controls="DataTables_Table_0"></label>
    </div>
  </div>
  <dance-partner-list list="$ctrl.partnerList"></dance-partner-list>
</div>

<table class="table table-hover datatable-basic dataTable no-footer">
  <thead>
  <th>Imię</th>
  <th>Wiek</th>
  <th>Wzrost2</th>
  </thead>
  <tbody>
  <tr ng-repeat="advertisement in $ctrl.list">
    <td ng-bind="advertisement.advertiser.firstName"></td>
    <td ng-bind="advertisement.advertiser.age"></td>
    <td ng-bind="advertisement.advertiser.height"></td>
  </tr>
  </tbody>
</table>
