<app-main-page [title]="(competition$ | async)?.name"
    [menu]="true"
    [subtitle]="(competition$ | async)?.start | date: 'dd MMMM yyyy'"
    backTo="../"
    iconId="icon-trophy2">

  <ng-container menu>
    <ul class="nav nav-tabs nav-tabs-bottom nav-tabs-toolbar no-margin"
        [class.menu__mobile--opened]="mobileMenuVisible">
      <li routerLinkActive="active">
        <a routerLink="info">
          <i class="icon-info3 position-left"></i>
          <span>Szczegóły</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="participants">
          <i class="icon-users2 position-left"></i>
          <span>Uczestnicy</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="performance-list">
          <i class="icon-clipboard2 position-left"></i>
          <span>Zestawienia</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="starting-list">
          <i class="icon-file-spreadsheet2 position-left"></i>
          <span>Listy startowe</span>
        </a>
      </li>
      <li class="menu-item__more visible-xs">
        <a (click)="toggleMobileMenu()">
          <i class="icon-more2 position-left"></i>
          <span>Więcej</span>
          <span>Zamknij</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="judge-cards">
          <i class="icon-user-tie position-left"></i>
          <span>Arkusze jury</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="invoices">
          <i class="icon-calculator position-left"></i>
          <span>Faktury</span>
        </a>
      </li>
<!--      <li routerLinkActive="active">-->
<!--        <a routerLink="invoices">-->
<!--          <i class="icon-gear position-left"></i>-->
<!--          <span>Ustawienia</span>-->
<!--        </a>-->
<!--      </li>-->
    </ul>
  </ng-container>

  <router-outlet></router-outlet>
</app-main-page>