<ul class="nav nav-tabs nav-tabs-bottom">
  <li ng-class="{'active': !$ctrl.currentDay}">
    <a href translate="DAYS.ALL" translate-default=""
        ng-click="$ctrl.setFilter()"></a>
  </li>
  <li ng-repeat="day in $ctrl.days" ng-class="{'active': $ctrl.currentDay.id===day.id}">
    <a href translate="DAYS.LONG.DAY{{day.id}}" translate-default=""
        ng-click="$ctrl.setFilter(day)"></a>
  </li>
</ul>