<div class="row">
  <div class="col-lg-9">

    <!-- Task overview -->
    <div class="panel panel-flat">
      <div class="panel-heading mt-5">
        <h5 class="panel-title">#23: Support tickets list doesn't support commas<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
        <div class="heading-elements">
          <a href="#" class="btn bg-teal-400 btn-sm btn-labeled btn-labeled-right heading-btn">Check in <b><i class="icon-alarm-check"></i></b></a>
        </div>
      </div>

      <div class="panel-body">
        <h6 class="text-semibold">Overview</h6>
        <p class="content-group">Then sluggishly this camel learned woodchuck far stretched unspeakable notwithstanding the walked owing stung mellifluously glumly rooster more examined one that combed until a less less witless pouted up voluble timorously glared elaborate giraffe steady while grinned and got one beaver to walked. Connected picked rashly ocelot flirted while wherever unwound much more one inside emotionally well much woolly amidst upon far burned ouch sadistically became.</p>

        <h6 class="text-semibold">What we need</h6>
        <p class="content-group-lg">Some cow goose out and sweeping wow the skillfully goodness one crazily far some jeez darn well so peevish pending nudged categorically in between about much alas handsome intolerable devotedly helpfully smiled momentously next much this this next sweepingly far. Together prim and limpet much extravagantly quail longing a ouch that walking a jeepers flamingo more.</p>

        <div class="row container-fluid">
          <div class="col-sm-6">
            <div class="content-group">
              <dl>
                <dt class="text-size-small text-primary text-uppercase">1. Salamander much that on much</dt>
                <dd>Like partook magic this enthusiastic tasteful far crud otter this the ferret honey iguana.</dd>

                <dt class="text-size-small text-primary text-uppercase">2. Well far some raccoon</dt>
                <dd>Python laudably euphemistically since this copious much human this briefly hello ouch less one diligent however impotently made gave a slick up much.</dd>

                <dt class="text-size-small text-primary text-uppercase">3. Goldfish rapidly that far</dt>
                <dd>Well far some raccoon knew goose and crud behind salmon amenable oh the poignant sufficiently yikes a naked showed far reindeer imminently.</dd>
              </dl>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="content-group">
              <dl>
                <dt class="text-size-small text-primary text-uppercase">1. Misunderstood cuffed more depending</dt>
                <dd>And earthworm dear arose bald agilely sad so below cowered within ceremonially therefore via much this symbolically and newt capably.</dd>

                <dt class="text-size-small text-primary text-uppercase">2. Voluble much saddled mechanic</dt>
                <dd>Much took between less goodness jay mallard kneeled gnashed this up strong cooperative.</dd>

                <dt class="text-size-small text-primary text-uppercase">3. Before some one more</dt>
                <dd>Pending some contrary rabbit up that the more conditionally ouch confidently far so was darn logic thus dove the juicily because that placed otter.</dd>
              </dl>
            </div>
          </div>
        </div>

        <h6 class="text-semibold">Requirements</h6>
        <p class="content-group">So slit more darn hey well wore submissive savage this shark aardvark fumed thoughtfully much drank when angelfish so outgrew some alas vigorously therefore warthog superb less oh groundhog less alas gibbered barked some hey despicably with aesthetic hamster jay by luckily.</p>

        <div class="table-responsive content-group">
          <table class="table table-framed">
            <thead>
            <tr>
              <th style="width: 20px;">#</th>
              <th class="col-xs-3">Task</th>
              <th class="col-xs-2">Due date</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td><span class="text-semibold">Design mockup</span></td>
              <td>
                <div class="input-group input-group-transparent">
                  <div class="input-group-addon"><i class="icon-calendar22 position-left"></i></div>
                  <input type="text" class="form-control datepicker hasDatepicker" value="21 January, 15" id="dp1492112057445">
                </div>
              </td>
              <td>Create design mockups for a new app, must be delivered before 1st of March</td>
            </tr>
            <tr>
              <td>2</td>
              <td><span class="text-semibold">User interface research</span></td>
              <td>
                <div class="input-group input-group-transparent">
                  <div class="input-group-addon"><i class="icon-calendar22 position-left"></i></div>
                  <input type="text" class="form-control datepicker hasDatepicker" value="24 January, 15" id="dp1492112057446">
                </div>
              </td>
              <td>Create a focus group with random people, provide a research statement</td>
            </tr>
            <tr>
              <td>3</td>
              <td><span class="text-semibold">New icons set</span></td>
              <td>
                <div class="input-group input-group-transparent">
                  <div class="input-group-addon"><i class="icon-calendar22 position-left"></i></div>
                  <input type="text" class="form-control datepicker hasDatepicker" value="28 January, 15" id="dp1492112057447">
                </div>
              </td>
              <td>Create a full set of icons required for the iOS application, send them to team lead for review</td>
            </tr>
            <tr>
              <td>4</td>
              <td><span class="text-semibold">Loading optimization</span></td>
              <td>
                <div class="input-group input-group-transparent">
                  <div class="input-group-addon"><i class="icon-calendar22 position-left"></i></div>
                  <input type="text" class="form-control datepicker hasDatepicker" value="1 February, 15" id="dp1492112057448">
                </div>
              </td>
              <td>Review image sizes, compress them as much as possible, make sure page loading time is less than 1 second</td>
            </tr>
            </tbody>
          </table>
        </div>

        <h6 class="text-semibold">Uploaded files</h6>
        <p>A much goodness between destructive that save stupid firefly destructively dog goldfinch continually alas pinched for outside flailed inescapably hey brought rid crud and awakened sobbed extraordinarily wherever deer before tenable yet into dalmatian opposite save close ahead next independent mindful but far.</p>

        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <div class="thumb">
                <img src="assets/images/demo/images/4.png" alt="">
                <div class="caption-overflow">
														<span>
															<a href="#" class="btn bg-success-300 btn-xs btn-icon"><i class="icon-zoomin3"></i></a>
															<a href="#" class="btn bg-success-300 btn-xs btn-icon"><i class="icon-download"></i></a>
														</span>
                </div>
              </div>

              <div class="caption text-center">
                dashboard_draft.png
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <div class="thumb">
                <img src="assets/images/demo/images/5.png" alt="">
                <div class="caption-overflow">
														<span>
															<a href="#" class="btn bg-success-300 btn-xs btn-icon"><i class="icon-zoomin3"></i></a>
															<a href="#" class="btn bg-success-300 btn-xs btn-icon"><i class="icon-download"></i></a>
														</span>
                </div>
              </div>

              <div class="caption text-center">
                profile_page.png
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <div class="thumb">
                <img src="assets/images/demo/images/6.png" alt="">
                <div class="caption-overflow">
														<span>
															<a href="#" class="btn bg-success-300 btn-xs btn-icon"><i class="icon-zoomin3"></i></a>
															<a href="#" class="btn bg-success-300 btn-xs btn-icon"><i class="icon-download"></i></a>
														</span>
                </div>
              </div>

              <div class="caption text-center">
                shopping_cart.png
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <div class="thumb">
                <img src="assets/images/demo/images/7.png" alt="">
                <div class="caption-overflow">
														<span>
															<a href="#" class="btn bg-success-300 btn-xs btn-icon"><i class="icon-zoomin3"></i></a>
															<a href="#" class="btn bg-success-300 btn-xs btn-icon"><i class="icon-download"></i></a>
														</span>
                </div>
              </div>

              <div class="caption text-center">
                sales_statistics.png
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-footer"><a class="heading-elements-toggle"><i class="icon-more"></i></a>
        <div class="heading-elements">
          <ul class="list-inline list-inline-condensed heading-text">
            <li><span class="status-mark border-blue position-left"></span> Status:</li>
            <li class="dropdown">
              <a href="#" class="text-default text-semibold dropdown-toggle" data-toggle="dropdown">Open <span class="caret"></span></a>
              <ul class="dropdown-menu active">
                <li class="active"><a href="#">Open</a></li>
                <li><a href="#">On hold</a></li>
                <li><a href="#">Resolved</a></li>
                <li><a href="#">Closed</a></li>
                <li class="divider"></li>
                <li><a href="#">Dublicate</a></li>
                <li><a href="#">Invalid</a></li>
                <li><a href="#">Wontfix</a></li>
              </ul>
            </li>
          </ul>

          <ul class="list-inline list-inline-condensed heading-text pull-right">
            <li><a href="#" class="text-default"><i class="icon-compose"></i></a></li>
            <li><a href="#" class="text-default"><i class="icon-trash"></i></a></li>
            <li class="dropdown">
              <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-grid-alt"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
                <li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
                <li><a href="#"><i class="icon-user-plus"></i> Assign users</a></li>
                <li><a href="#"><i class="icon-warning2"></i> Report</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /task overview -->


    <!-- Comments -->
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h5 class="panel-title text-semiold"><i class="icon-bubbles4 position-left"></i> Comments<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
        <div class="heading-elements">
          <a href="#" class="btn bg-blue btn-xs btn-icon"><i class="icon-plus2"></i></a>
        </div>
      </div>

      <div class="panel-body">
        <ul class="media-list content-group-lg stack-media-on-mobile">
          <li class="media">
            <div class="media-left">
              <a href="#"><img src="assets/images/demo/users/face2.jpg" class="img-circle img-sm" alt=""></a>
            </div>

            <div class="media-body">
              <div class="media-heading">
                <a href="#" class="text-semibold">William Jennings</a>
                <span class="media-annotation dotted">Just now</span>
              </div>

              <p>He moonlight difficult engrossed an it sportsmen. Interested has all devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to.</p>

              <ul class="list-inline list-inline-separate text-size-small">
                <li>114 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                <li><a href="#">Reply</a></li>
                <li><a href="#">Edit</a></li>
              </ul>
            </div>
          </li>

          <li class="media">
            <div class="media-left">
              <a href="#"><img src="assets/images/demo/users/face3.jpg" class="img-circle img-sm" alt=""></a>
            </div>

            <div class="media-body">
              <div class="media-heading">
                <a href="#" class="text-semibold">Margo Baker</a>
                <span class="media-annotation dotted">5 minutes ago</span>
              </div>

              <p>Place voice no arise along to. Parlors waiting so against me no. Wishing calling are warrant settled was luckily. Express besides it present if at an opinion visitor.</p>

              <ul class="list-inline list-inline-separate text-size-small">
                <li>90 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                <li><a href="#">Reply</a></li>
                <li><a href="#">Edit</a></li>
              </ul>
            </div>
          </li>

          <li class="media">
            <div class="media-left">
              <a href="#"><img src="assets/images/demo/users/face1.jpg" class="img-circle img-sm" alt=""></a>
            </div>

            <div class="media-body">
              <div class="media-heading">
                <a href="#" class="text-semibold">James Alexander</a>
                <span class="media-annotation dotted">7 minutes ago</span>
              </div>

              <p>Savings her pleased are several started females met. Short her not among being any. Thing of judge fruit charm views do. Miles mr an forty along as he.</p>

              <ul class="list-inline list-inline-separate text-size-small">
                <li>70 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                <li><a href="#">Reply</a></li>
                <li><a href="#">Edit</a></li>
              </ul>

              <div class="media">
                <div class="media-left">
                  <a href="#"><img src="assets/images/demo/users/face24.jpg" class="img-circle img-sm" alt=""></a>
                </div>

                <div class="media-body">
                  <div class="media-heading">
                    <a href="#" class="text-semibold">Jack Cooper</a>
                    <span class="media-annotation dotted">10 minutes ago</span>
                  </div>

                  <p>She education get middleton day agreement performed preserved unwilling. Do however as pleased offence outward beloved by present. By outward neither he so covered.</p>

                  <ul class="list-inline list-inline-separate text-size-small">
                    <li>67 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                    <li><a href="#">Reply</a></li>
                    <li><a href="#">Edit</a></li>
                  </ul>

                  <div class="media">
                    <div class="media-left">
                      <a href="#"><img src="assets/images/demo/users/face13.jpg" class="img-circle img-sm" alt=""></a>
                    </div>

                    <div class="media-body">
                      <div class="media-heading">
                        <a href="#" class="text-semibold">Natalie Wallace</a>
                        <span class="media-annotation dotted">1 hour ago</span>
                      </div>

                      <p>Juvenile proposal betrayed he an informed weddings followed. Precaution day see imprudence sympathize principles. At full leaf give quit to in they up.</p>

                      <ul class="list-inline list-inline-separate text-size-small">
                        <li>54 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                        <li><a href="#">Reply</a></li>
                        <li><a href="#">Edit</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="media">
                    <div class="media-left">
                      <a href="#"><img src="assets/images/demo/users/face19.jpg" class="img-circle img-sm" alt=""></a>
                    </div>

                    <div class="media-body">
                      <div class="media-heading">
                        <a href="#" class="text-semibold">Nicolette Grey</a>
                        <span class="media-annotation dotted">2 hours ago</span>
                      </div>

                      <p>Although moreover mistaken kindness me feelings do be marianne. Son over own nay with tell they cold upon are. Cordial village and settled she ability law herself.</p>

                      <ul class="list-inline list-inline-separate text-size-small">
                        <li>41 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                        <li><a href="#">Reply</a></li>
                        <li><a href="#">Edit</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="media">
            <div class="media-left">
              <a href="#"><img src="assets/images/demo/users/face11.jpg" class="img-circle img-sm" alt=""></a>
            </div>

            <div class="media-body">
              <div class="media-heading">
                <a href="#" class="text-semibold">Victoria Johnson</a>
                <span class="media-annotation dotted">3 hours ago</span>
              </div>

              <p>Finished why bringing but sir bachelor unpacked any thoughts. Unpleasing unsatiable particular inquietude did nor sir.</p>

              <ul class="list-inline list-inline-separate text-size-small">
                <li>32 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                <li><a href="#">Reply</a></li>
                <li><a href="#">Edit</a></li>
              </ul>
            </div>
          </li>
        </ul>

        <h6 class="text-semibold"><i class="icon-pencil7 position-left"></i> Your comment</h6>
        <div class="content-group">
          <div id="add-comment" style="visibility: hidden; display: none;">Get his declared appetite distance his together now families. Friends am himself at on norland it viewing. Suspected elsewhere you belonging continued commanded she...</div><div id="cke_add-comment" class="cke_1 cke cke_reset cke_chrome cke_editor_add-comment cke_ltr cke_browser_webkit cke_hidpi" dir="ltr" lang="en-gb" role="application" aria-labelledby="cke_add-comment_arialbl"><span id="cke_add-comment_arialbl" class="cke_voice_label">Rich Text Editor, add-comment</span><div class="cke_inner cke_reset" role="presentation"><span id="cke_1_top" class="cke_top cke_reset_all" role="presentation" style="height: auto; user-select: none;"><span id="cke_8" class="cke_voice_label">Editor toolbars</span><span id="cke_1_toolbox" class="cke_toolbox" role="group" aria-labelledby="cke_8" onmousedown="return false;"><span id="cke_11" class="cke_toolbar" aria-labelledby="cke_11_label" role="toolbar"><span id="cke_11_label" class="cke_voice_label">Styles</span><span class="cke_toolbar_start"></span><span id="cke_9" class="cke_combo cke_combo__styles cke_combo_off" role="presentation"><span id="cke_9_label" class="cke_combo_label">Styles</span><a class="cke_combo_button" title="Formatting Styles" tabindex="-1" href="javascript:void('Formatting Styles')" hidefocus="true" role="button" aria-labelledby="cke_9_label" aria-haspopup="true" onkeydown="return CKEDITOR.tools.callFunction(3,event,this);" onfocus="return CKEDITOR.tools.callFunction(4,event);" onclick="CKEDITOR.tools.callFunction(2,this);return false;"><span id="cke_9_text" class="cke_combo_text cke_combo_inlinelabel">Styles</span><span class="cke_combo_open"><span class="cke_combo_arrow"></span></span></a></span><span id="cke_10" class="cke_combo cke_combo__format cke_combo_off" role="presentation"><span id="cke_10_label" class="cke_combo_label">Format</span><a class="cke_combo_button" title="Paragraph Format" tabindex="-1" href="javascript:void('Paragraph Format')" hidefocus="true" role="button" aria-labelledby="cke_10_label" aria-haspopup="true" onkeydown="return CKEDITOR.tools.callFunction(6,event,this);" onfocus="return CKEDITOR.tools.callFunction(7,event);" onclick="CKEDITOR.tools.callFunction(5,this);return false;"><span id="cke_10_text" class="cke_combo_text cke_combo_inlinelabel">Format</span><span class="cke_combo_open"><span class="cke_combo_arrow"></span></span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_12" class="cke_toolbar" aria-labelledby="cke_12_label" role="toolbar"><span id="cke_12_label" class="cke_voice_label">Forms</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_13" class="cke_button cke_button__form cke_button_off" href="javascript:void('Form')" title="Form" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_13_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(8,event);" onfocus="return CKEDITOR.tools.callFunction(9,event);" onclick="CKEDITOR.tools.callFunction(10,this);return false;"><span class="cke_button_icon cke_button__form_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -1128px;background-size:16px;">&nbsp;</span><span id="cke_13_label" class="cke_button_label cke_button__form_label" aria-hidden="false">Form</span></a><a id="cke_14" class="cke_button cke_button__checkbox cke_button_off" href="javascript:void('Checkbox')" title="Checkbox" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_14_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(11,event);" onfocus="return CKEDITOR.tools.callFunction(12,event);" onclick="CKEDITOR.tools.callFunction(13,this);return false;"><span class="cke_button_icon cke_button__checkbox_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -1104px;background-size:16px;">&nbsp;</span><span id="cke_14_label" class="cke_button_label cke_button__checkbox_label" aria-hidden="false">Checkbox</span></a><a id="cke_15" class="cke_button cke_button__radio cke_button_off" href="javascript:void('Radio Button')" title="Radio Button" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_15_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(14,event);" onfocus="return CKEDITOR.tools.callFunction(15,event);" onclick="CKEDITOR.tools.callFunction(16,this);return false;"><span class="cke_button_icon cke_button__radio_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -1200px;background-size:16px;">&nbsp;</span><span id="cke_15_label" class="cke_button_label cke_button__radio_label" aria-hidden="false">Radio Button</span></a><a id="cke_16" class="cke_button cke_button__textfield cke_button_off" href="javascript:void('Text Field')" title="Text Field" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_16_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(17,event);" onfocus="return CKEDITOR.tools.callFunction(18,event);" onclick="CKEDITOR.tools.callFunction(19,this);return false;"><span class="cke_button_icon cke_button__textfield_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -1344px;background-size:16px;">&nbsp;</span><span id="cke_16_label" class="cke_button_label cke_button__textfield_label" aria-hidden="false">Text Field</span></a><a id="cke_17" class="cke_button cke_button__textarea cke_button_off" href="javascript:void('Textarea')" title="Textarea" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_17_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(20,event);" onfocus="return CKEDITOR.tools.callFunction(21,event);" onclick="CKEDITOR.tools.callFunction(22,this);return false;"><span class="cke_button_icon cke_button__textarea_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -1296px;background-size:16px;">&nbsp;</span><span id="cke_17_label" class="cke_button_label cke_button__textarea_label" aria-hidden="false">Textarea</span></a><a id="cke_18" class="cke_button cke_button__select cke_button_off" href="javascript:void('Selection Field')" title="Selection Field" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_18_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(23,event);" onfocus="return CKEDITOR.tools.callFunction(24,event);" onclick="CKEDITOR.tools.callFunction(25,this);return false;"><span class="cke_button_icon cke_button__select_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -1248px;background-size:16px;">&nbsp;</span><span id="cke_18_label" class="cke_button_label cke_button__select_label" aria-hidden="false">Selection Field</span></a><a id="cke_19" class="cke_button cke_button__button cke_button_off" href="javascript:void('Button')" title="Button" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_19_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(26,event);" onfocus="return CKEDITOR.tools.callFunction(27,event);" onclick="CKEDITOR.tools.callFunction(28,this);return false;"><span class="cke_button_icon cke_button__button_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -1080px;background-size:16px;">&nbsp;</span><span id="cke_19_label" class="cke_button_label cke_button__button_label" aria-hidden="false">Button</span></a><a id="cke_20" class="cke_button cke_button__imagebutton cke_button_off" href="javascript:void('Image Button')" title="Image Button" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_20_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(29,event);" onfocus="return CKEDITOR.tools.callFunction(30,event);" onclick="CKEDITOR.tools.callFunction(31,this);return false;"><span class="cke_button_icon cke_button__imagebutton_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -1176px;background-size:16px;">&nbsp;</span><span id="cke_20_label" class="cke_button_label cke_button__imagebutton_label" aria-hidden="false">Image Button</span></a><a id="cke_21" class="cke_button cke_button__hiddenfield cke_button_off" href="javascript:void('Hidden Field')" title="Hidden Field" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_21_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(32,event);" onfocus="return CKEDITOR.tools.callFunction(33,event);" onclick="CKEDITOR.tools.callFunction(34,this);return false;"><span class="cke_button_icon cke_button__hiddenfield_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -1152px;background-size:16px;">&nbsp;</span><span id="cke_21_label" class="cke_button_label cke_button__hiddenfield_label" aria-hidden="false">Hidden Field</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_22" class="cke_toolbar" aria-labelledby="cke_22_label" role="toolbar"><span id="cke_22_label" class="cke_voice_label">Basic Styles</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_23" class="cke_button cke_button__bold cke_button_off" href="javascript:void('Bold')" title="Bold" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_23_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(35,event);" onfocus="return CKEDITOR.tools.callFunction(36,event);" onclick="CKEDITOR.tools.callFunction(37,this);return false;"><span class="cke_button_icon cke_button__bold_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -24px;background-size:16px;">&nbsp;</span><span id="cke_23_label" class="cke_button_label cke_button__bold_label" aria-hidden="false">Bold</span></a><a id="cke_24" class="cke_button cke_button__italic cke_button_off" href="javascript:void('Italic')" title="Italic" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_24_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(38,event);" onfocus="return CKEDITOR.tools.callFunction(39,event);" onclick="CKEDITOR.tools.callFunction(40,this);return false;"><span class="cke_button_icon cke_button__italic_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -48px;background-size:16px;">&nbsp;</span><span id="cke_24_label" class="cke_button_label cke_button__italic_label" aria-hidden="false">Italic</span></a><a id="cke_25" class="cke_button cke_button__underline cke_button_off" href="javascript:void('Underline')" title="Underline" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_25_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(41,event);" onfocus="return CKEDITOR.tools.callFunction(42,event);" onclick="CKEDITOR.tools.callFunction(43,this);return false;"><span class="cke_button_icon cke_button__underline_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -144px;background-size:16px;">&nbsp;</span><span id="cke_25_label" class="cke_button_label cke_button__underline_label" aria-hidden="false">Underline</span></a><a id="cke_26" class="cke_button cke_button__strike cke_button_off" href="javascript:void('Strike Through')" title="Strike Through" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_26_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(44,event);" onfocus="return CKEDITOR.tools.callFunction(45,event);" onclick="CKEDITOR.tools.callFunction(46,this);return false;"><span class="cke_button_icon cke_button__strike_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -72px;background-size:16px;">&nbsp;</span><span id="cke_26_label" class="cke_button_label cke_button__strike_label" aria-hidden="false">Strike Through</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_27" class="cke_toolbar" aria-labelledby="cke_27_label" role="toolbar"><span id="cke_27_label" class="cke_voice_label">Paragraph</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_28" class="cke_button cke_button__numberedlist cke_button_off" href="javascript:void('Insert/Remove Numbered List')" title="Insert/Remove Numbered List" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_28_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(47,event);" onfocus="return CKEDITOR.tools.callFunction(48,event);" onclick="CKEDITOR.tools.callFunction(49,this);return false;"><span class="cke_button_icon cke_button__numberedlist_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -648px;background-size:16px;">&nbsp;</span><span id="cke_28_label" class="cke_button_label cke_button__numberedlist_label" aria-hidden="false">Insert/Remove Numbered List</span></a><a id="cke_29" class="cke_button cke_button__bulletedlist cke_button_off" href="javascript:void('Insert/Remove Bulleted List')" title="Insert/Remove Bulleted List" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_29_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(50,event);" onfocus="return CKEDITOR.tools.callFunction(51,event);" onclick="CKEDITOR.tools.callFunction(52,this);return false;"><span class="cke_button_icon cke_button__bulletedlist_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -600px;background-size:16px;">&nbsp;</span><span id="cke_29_label" class="cke_button_label cke_button__bulletedlist_label" aria-hidden="false">Insert/Remove Bulleted List</span></a><span class="cke_toolbar_separator" role="separator"></span><a id="cke_30" class="cke_button cke_button__blockquote cke_button_off" href="javascript:void('Block Quote')" title="Block Quote" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_30_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(53,event);" onfocus="return CKEDITOR.tools.callFunction(54,event);" onclick="CKEDITOR.tools.callFunction(55,this);return false;"><span class="cke_button_icon cke_button__blockquote_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -168px;background-size:16px;">&nbsp;</span><span id="cke_30_label" class="cke_button_label cke_button__blockquote_label" aria-hidden="false">Block Quote</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_31" class="cke_toolbar" aria-labelledby="cke_31_label" role="toolbar"><span id="cke_31_label" class="cke_voice_label">Links</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_32" class="cke_button cke_button__link cke_button_off" href="javascript:void('Link')" title="Link" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_32_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(56,event);" onfocus="return CKEDITOR.tools.callFunction(57,event);" onclick="CKEDITOR.tools.callFunction(58,this);return false;"><span class="cke_button_icon cke_button__link_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -528px;background-size:16px;">&nbsp;</span><span id="cke_32_label" class="cke_button_label cke_button__link_label" aria-hidden="false">Link</span></a><a id="cke_33" class="cke_button cke_button__unlink cke_button_disabled " href="javascript:void('Unlink')" title="Unlink" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_33_label" aria-haspopup="false" aria-disabled="true" onkeydown="return CKEDITOR.tools.callFunction(59,event);" onfocus="return CKEDITOR.tools.callFunction(60,event);" onclick="CKEDITOR.tools.callFunction(61,this);return false;"><span class="cke_button_icon cke_button__unlink_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -552px;background-size:16px;">&nbsp;</span><span id="cke_33_label" class="cke_button_label cke_button__unlink_label" aria-hidden="false">Unlink</span></a><a id="cke_34" class="cke_button cke_button__anchor cke_button_off" href="javascript:void('Anchor')" title="Anchor" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_34_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(62,event);" onfocus="return CKEDITOR.tools.callFunction(63,event);" onclick="CKEDITOR.tools.callFunction(64,this);return false;"><span class="cke_button_icon cke_button__anchor_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -504px;background-size:16px;">&nbsp;</span><span id="cke_34_label" class="cke_button_label cke_button__anchor_label" aria-hidden="false">Anchor</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_35" class="cke_toolbar" aria-labelledby="cke_35_label" role="toolbar"><span id="cke_35_label" class="cke_voice_label">Insert</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_36" class="cke_button cke_button__image cke_button_off" href="javascript:void('Image')" title="Image" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_36_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(65,event);" onfocus="return CKEDITOR.tools.callFunction(66,event);" onclick="CKEDITOR.tools.callFunction(67,this);return false;"><span class="cke_button_icon cke_button__image_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -360px;background-size:16px;">&nbsp;</span><span id="cke_36_label" class="cke_button_label cke_button__image_label" aria-hidden="false">Image</span></a><a id="cke_37" class="cke_button cke_button__table cke_button_off" href="javascript:void('Table')" title="Table" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_37_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(68,event);" onfocus="return CKEDITOR.tools.callFunction(69,event);" onclick="CKEDITOR.tools.callFunction(70,this);return false;"><span class="cke_button_icon cke_button__table_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -912px;background-size:16px;">&nbsp;</span><span id="cke_37_label" class="cke_button_label cke_button__table_label" aria-hidden="false">Table</span></a><a id="cke_38" class="cke_button cke_button__horizontalrule cke_button_off" href="javascript:void('Insert Horizontal Line')" title="Insert Horizontal Line" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_38_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(71,event);" onfocus="return CKEDITOR.tools.callFunction(72,event);" onclick="CKEDITOR.tools.callFunction(73,this);return false;"><span class="cke_button_icon cke_button__horizontalrule_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -336px;background-size:16px;">&nbsp;</span><span id="cke_38_label" class="cke_button_label cke_button__horizontalrule_label" aria-hidden="false">Insert Horizontal Line</span></a><a id="cke_39" class="cke_button cke_button__specialchar cke_button_off" href="javascript:void('Insert Special Character')" title="Insert Special Character" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_39_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(74,event);" onfocus="return CKEDITOR.tools.callFunction(75,event);" onclick="CKEDITOR.tools.callFunction(76,this);return false;"><span class="cke_button_icon cke_button__specialchar_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -864px;background-size:16px;">&nbsp;</span><span id="cke_39_label" class="cke_button_label cke_button__specialchar_label" aria-hidden="false">Insert Special Character</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_40" class="cke_toolbar" aria-labelledby="cke_40_label" role="toolbar"><span id="cke_40_label" class="cke_voice_label">Tools</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_41" class="cke_button cke_button__maximize cke_button_off" href="javascript:void('Maximise')" title="Maximise" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_41_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(77,event);" onfocus="return CKEDITOR.tools.callFunction(78,event);" onclick="CKEDITOR.tools.callFunction(79,this);return false;"><span class="cke_button_icon cke_button__maximize_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -672px;background-size:16px;">&nbsp;</span><span id="cke_41_label" class="cke_button_label cke_button__maximize_label" aria-hidden="false">Maximise</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_42" class="cke_toolbar" aria-labelledby="cke_42_label" role="toolbar"><span id="cke_42_label" class="cke_voice_label">Document</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_43" class="cke_button cke_button__source cke_button_off" href="javascript:void('Source')" title="Source" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_43_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(80,event);" onfocus="return CKEDITOR.tools.callFunction(81,event);" onclick="CKEDITOR.tools.callFunction(82,this);return false;"><span class="cke_button_icon cke_button__source_icon" style="background-image:url(http://demo.interface.club/limitless/layout_2/LTR/default/ckeditor/plugins/icons_hidpi.png?t=F969);background-position:0 -840px;background-size:16px;">&nbsp;</span><span id="cke_43_label" class="cke_button_label cke_button__source_label" aria-hidden="false">Source</span></a></span><span class="cke_toolbar_end"></span></span></span></span><div id="cke_1_contents" class="cke_contents cke_reset" role="presentation" style="height: 200px;"><span id="cke_47" class="cke_voice_label">Press ALT 0 for help</span><iframe src="" frameborder="0" class="cke_wysiwyg_frame cke_reset" title="Rich Text Editor, add-comment" aria-describedby="cke_47" tabindex="0" allowtransparency="true" style="width: 100%; height: 100%;"></iframe></div><span id="cke_1_bottom" class="cke_bottom cke_reset_all" role="presentation" style="user-select: none;"><span id="cke_1_resizer" class="cke_resizer cke_resizer_vertical cke_resizer_ltr" title="Drag to resize" onmousedown="CKEDITOR.tools.callFunction(0, event)">◢</span><span id="cke_1_path_label" class="cke_voice_label">Elements path</span><span id="cke_1_path" class="cke_path" role="group" aria-labelledby="cke_1_path_label"><span class="cke_path_empty">&nbsp;</span></span></span></div></div>
        </div>

        <div class="text-right">
          <button type="button" class="btn bg-blue"><i class="icon-plus22"></i> Add comment</button>
        </div>
      </div>
    </div>
    <!-- /comments -->

  </div>

  <div class="col-lg-3">

    <!-- Timer -->
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-watch position-left"></i> Task timer<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
        <div class="heading-elements">
          <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
            <li><a data-action="close"></a></li>
          </ul>
        </div>
      </div>

      <div class="panel-body">
        <ul class="timer-weekdays mb-10">
          <li><a href="#" class="label label-default">Mon</a></li>
          <li class="active"><a href="#" class="label label-danger">Tue</a></li>
          <li><a href="#" class="label label-default">Wed</a></li>
          <li><a href="#" class="label label-default">Thu</a></li>
          <li><a href="#" class="label label-default">Fri</a></li>
          <li><a href="#" class="label label-default">Sat</a></li>
          <li><a href="#" class="label label-default">Sun</a></li>
        </ul>

        <ul class="timer mb-10">
          <li>
            09 <span>hours</span>
          </li>
          <li class="dots">:</li>
          <li>
            54 <span>minutes</span>
          </li>
          <li class="dots">:</li>
          <li>
            29 <span>seconds</span>
          </li>
        </ul>
      </div>

      <div class="panel-footer panel-footer-transparent"><a class="heading-elements-toggle"><i class="icon-more"></i></a>
        <div class="heading-elements">
          <ul class="list-inline list-inline-condensed heading-text">
            <li><a href="#" class="text-default"><i class="icon-play3"></i></a></li>
            <li><a href="#" class="text-default"><i class="icon-pause"></i></a></li>
            <li><a href="#" class="text-default"><i class="icon-stop"></i></a></li>
          </ul>

          <ul class="list-inline list-inline-condensed heading-text pull-right">
            <li class="dropdown">
              <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown">
                <span class="status-mark border-success position-left"></span>
                Open
                <span class="caret"></span>
              </a>

              <ul class="dropdown-menu dropdown-menu-right active">
                <li class="active"><a href="#">Open</a></li>
                <li><a href="#">On hold</a></li>
                <li><a href="#">Resolved</a></li>
                <li><a href="#">Closed</a></li>
                <li class="divider"></li>
                <li><a href="#">Dublicate</a></li>
                <li><a href="#">Invalid</a></li>
                <li><a href="#">Wontfix</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /timer -->


    <!-- Task details -->
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-files-empty position-left"></i> Task details<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
        <div class="heading-elements">
          <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
            <li><a data-action="close"></a></li>
          </ul>
        </div>
      </div>

      <table class="table table-borderless table-xs content-group-sm">
        <tbody>
        <tr>
          <td><i class="icon-briefcase position-left"></i> Project:</td>
          <td class="text-right"><span class="pull-right"><a href="#">Singular app</a></span></td>
        </tr>
        <tr>
          <td><i class="icon-alarm-add position-left"></i> Updated:</td>
          <td class="text-right">12 May, 2015</td>
        </tr>
        <tr>
          <td><i class="icon-alarm-check position-left"></i> Created:</td>
          <td class="text-right">25 Feb, 2015</td>
        </tr>
        <tr>
          <td><i class="icon-circles2 position-left"></i> Priority:</td>
          <td class="text-right">
            <div class="btn-group">
              <a href="#" class="label label-danger dropdown-toggle" data-toggle="dropdown">Highest <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#"><span class="status-mark position-left bg-danger"></span> Highest priority</a></li>
                <li><a href="#"><span class="status-mark position-left bg-info"></span> High priority</a></li>
                <li><a href="#"><span class="status-mark position-left bg-primary"></span> Normal priority</a></li>
                <li><a href="#"><span class="status-mark position-left bg-success"></span> Low priority</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td><i class="icon-history position-left"></i> Revisions:</td>
          <td class="text-right">29</td>
        </tr>
        <tr>
          <td><i class="icon-file-plus position-left"></i> Added by:</td>
          <td class="text-right"><a href="#">Winnie</a></td>
        </tr>
        <tr>
          <td><i class="icon-file-check position-left"></i> Status:</td>
          <td class="text-right">Published</td>
        </tr>
        </tbody>
      </table>

      <div class="panel-footer panel-footer-condensed"><a class="heading-elements-toggle"><i class="icon-more"></i></a>
        <div class="heading-elements">
          <ul class="list-inline list-inline-condensed heading-text">
            <li><a href="#" class="text-default"><i class="icon-pencil7"></i></a></li>
            <li><a href="#" class="text-default"><i class="icon-bin"></i></a></li>
          </ul>

          <ul class="list-inline list-inline-condensed heading-text pull-right">
            <li><a href="#" class="text-default"><i class="icon-statistics"></i></a></li>
            <li class="dropdown">
              <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-gear"></i><span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
                <li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
                <li><a href="#"><i class="icon-user-plus"></i> Assign users</a></li>
                <li><a href="#"><i class="icon-warning2"></i> Report</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /task details -->


    <!-- Task settings -->
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-cog3 position-left"></i> Task settings<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
        <div class="heading-elements">
          <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
            <li><a data-action="close"></a></li>
          </ul>
        </div>
      </div>

      <div class="panel-body">
        <form action="#">
          <div class="form-group">
            <div class="checkbox checkbox-switchery checkbox-right switchery-xs">
              <label class="display-block">
                <input type="checkbox" class="switchery" checked="checked" data-switchery="true" style="display: none;"><span class="switchery switchery-default" style="background-color: rgb(100, 189, 99); border-color: rgb(100, 189, 99); box-shadow: rgb(100, 189, 99) 0px 0px 0px 8px inset; transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;"><small style="left: 14px; background-color: rgb(255, 255, 255); transition: background-color 0.4s, left 0.2s;"></small></span>
                Publish after save
              </label>
            </div>

            <div class="checkbox checkbox-switchery checkbox-right switchery-xs">
              <label class="display-block">
                <input type="checkbox" class="switchery" data-switchery="true" style="display: none;"><span class="switchery switchery-default" style="box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s, box-shadow 0.4s;"><small style="left: 0px; transition: background-color 0.4s, left 0.2s;"></small></span>
                Allow comments
              </label>
            </div>

            <div class="checkbox checkbox-switchery checkbox-right switchery-xs">
              <label class="display-block">
                <input type="checkbox" class="switchery" checked="checked" data-switchery="true" style="display: none;"><span class="switchery switchery-default" style="background-color: rgb(100, 189, 99); border-color: rgb(100, 189, 99); box-shadow: rgb(100, 189, 99) 0px 0px 0px 8px inset; transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;"><small style="left: 14px; background-color: rgb(255, 255, 255); transition: background-color 0.4s, left 0.2s;"></small></span>
                Allow users to edit the task
              </label>
            </div>

            <div class="checkbox checkbox-switchery checkbox-right switchery-xs">
              <label class="display-block">
                <input type="checkbox" class="switchery" checked="checked" data-switchery="true" style="display: none;"><span class="switchery switchery-default" style="background-color: rgb(100, 189, 99); border-color: rgb(100, 189, 99); box-shadow: rgb(100, 189, 99) 0px 0px 0px 8px inset; transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;"><small style="left: 14px; background-color: rgb(255, 255, 255); transition: background-color 0.4s, left 0.2s;"></small></span>
                Use task timer
              </label>
            </div>

            <div class="checkbox checkbox-switchery checkbox-right switchery-xs">
              <label class="display-block">
                <input type="checkbox" class="switchery" data-switchery="true" style="display: none;"><span class="switchery switchery-default" style="box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s, box-shadow 0.4s;"><small style="left: 0px; transition: background-color 0.4s, left 0.2s;"></small></span>
                Auto saving
              </label>
            </div>

            <div class="checkbox checkbox-switchery checkbox-right switchery-xs">
              <label class="display-block">
                <input type="checkbox" class="switchery" checked="checked" data-switchery="true" style="display: none;"><span class="switchery switchery-default" style="background-color: rgb(100, 189, 99); border-color: rgb(100, 189, 99); box-shadow: rgb(100, 189, 99) 0px 0px 0px 8px inset; transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;"><small style="left: 14px; background-color: rgb(255, 255, 255); transition: background-color 0.4s, left 0.2s;"></small></span>
                Allow attachments
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <p><button class="btn btn-default btn-sm btn-block" type="button">Reset</button></p>
            </div>

            <div class="col-md-6">
              <p><button class="btn btn-primary btn-sm btn-block" type="button">Save</button></p>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- /task settings -->


    <!-- Revisions -->
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-git-commit position-left"></i> Revisions<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
        <div class="heading-elements">
          <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
            <li><a data-action="close"></a></li>
          </ul>
        </div>
      </div>

      <div class="panel-body">
        <ul class="media-list">
          <li class="media">
            <div class="media-left"><a href="#" class="btn border-primary text-primary btn-icon btn-flat btn-sm btn-rounded"><i class="icon-git-pull-request"></i></a></div>
            <div class="media-body">
              Drop the IE <a href="#">specific hacks</a> for temporal inputs
              <div class="media-annotation">4 minutes ago</div>
            </div>
          </li>

          <li class="media">
            <div class="media-left"><a href="#" class="btn border-warning text-warning btn-icon btn-flat btn-sm btn-rounded"><i class="icon-git-commit"></i></a></div>
            <div class="media-body">
              Add full font overrides for popovers and tooltips
              <div class="media-annotation">36 minutes ago</div>
            </div>
          </li>

          <li class="media">
            <div class="media-left"><a href="#" class="btn border-info text-info btn-icon btn-flat btn-sm btn-rounded"><i class="icon-git-branch"></i></a></div>
            <div class="media-body">
              <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch
              <div class="media-annotation">2 hours ago</div>
            </div>
          </li>

          <li class="media">
            <div class="media-left"><a href="#" class="btn border-success text-success btn-icon btn-flat btn-sm btn-rounded"><i class="icon-git-merge"></i></a></div>
            <div class="media-body">
              <a href="#">Eugene Kopyov</a> merged <span class="text-semibold">Master</span> and <span class="text-semibold">Dev</span> branches
              <div class="media-annotation">Dec 18, 18:36</div>
            </div>
          </li>

          <li class="media">
            <div class="media-left"><a href="#" class="btn border-primary text-primary btn-icon btn-flat btn-sm btn-rounded"><i class="icon-git-pull-request"></i></a></div>
            <div class="media-body">
              Have Carousel ignore keyboard events
              <div class="media-annotation">Dec 12, 05:46</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- /revisions -->


    <!-- Attached files -->
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-link position-left"></i> Attached files<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
        <div class="heading-elements">
          <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
            <li><a data-action="close"></a></li>
          </ul>
        </div>
      </div>

      <div class="panel-body">
        <ul class="media-list">
          <li class="media">
            <div class="media-left media-middle">
              <i class="icon-file-word icon-2x text-muted"></i>
            </div>

            <div class="media-body">
              <a href="#" class="media-heading text-semibold">Overdrew_scowled.doc</a>
              <ul class="list-inline list-inline-separate list-inline-condensed text-size-mini text-muted">
                <li>Size: 1.2Mb</li>
                <li>Added by <a href="#">Winnie</a></li>
              </ul>
            </div>

            <div class="media-right media-middle">
              <ul class="icons-list">
                <li><a href="#"><i class="icon-download"></i></a></li>
              </ul>
            </div>
          </li>

          <li class="media">
            <div class="media-left media-middle">
              <i class="icon-file-stats icon-2x text-muted"></i>
            </div>

            <div class="media-body">
              <a href="#" class="media-heading text-semibold">And_less_maternally.pdf</a>
              <ul class="list-inline list-inline-separate list-inline-condensed text-size-mini text-muted">
                <li>Size: 0.9Mb</li>
                <li>Added by <a href="#">Eugene</a></li>
              </ul>
            </div>

            <div class="media-right media-middle">
              <ul class="icons-list">
                <li><a href="#"><i class="icon-download"></i></a></li>
              </ul>
            </div>
          </li>

          <li class="media">
            <div class="media-left media-middle">
              <i class="icon-file-pdf icon-2x text-muted"></i>
            </div>

            <div class="media-body">
              <a href="#" class="media-heading text-semibold">The_less_overslept.pdf</a>
              <ul class="list-inline list-inline-separate list-inline-condensed text-size-mini text-muted">
                <li>Size: 4.3Mb</li>
                <li>Added by <a href="#">Natalie</a></li>
              </ul>
            </div>

            <div class="media-right media-middle">
              <ul class="icons-list">
                <li><a href="#"><i class="icon-download"></i></a></li>
              </ul>
            </div>
          </li>

          <li class="media">
            <div class="media-left media-middle">
              <i class="icon-file-video icon-2x text-muted"></i>
            </div>

            <div class="media-body">
              <a href="#" class="media-heading text-semibold">Well_equitably.mov</a>
              <ul class="list-inline list-inline-separate list-inline-condensed text-size-mini text-muted">
                <li>Size: 14.8Mb</li>
                <li>Added by <a href="#">Jenny</a></li>
              </ul>
            </div>

            <div class="media-right media-middle">
              <ul class="icons-list">
                <li><a href="#"><i class="icon-download"></i></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- /attached files -->


    <!-- Assigned users -->
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-users position-left"></i> Assigned users<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
        <div class="heading-elements">
          <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
            <li><a data-action="close"></a></li>
          </ul>
        </div>
      </div>

      <div class="panel-body">
        <ul class="media-list">
          <li class="media">
            <div class="media-left">
              <a href="#">
                <img src="assets/images/demo/users/face11.jpg" class="img-sm img-circle" alt="">
                <span class="badge bg-warning-400 media-badge">6</span>
              </a>
            </div>

            <div class="media-body media-middle text-semibold">
              Rebecca Jameson
              <div class="media-annotation">Web developer</div>
            </div>

            <div class="media-right media-middle">
              <ul class="icons-list text-nowrap">
                <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-more2"></i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-comment-discussion pull-right"></i> Start chat</a></li>
                    <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a call</a></li>
                    <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-statistics pull-right"></i> Statistics</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>

          <li class="media">
            <div class="media-left">
              <a href="#">
                <img src="assets/images/demo/users/face25.jpg" class="img-sm img-circle" alt="">
                <span class="badge bg-warning-400 media-badge">9</span>
              </a>
            </div>

            <div class="media-body media-middle text-semibold">
              Walter Sommers
              <div class="media-annotation">Lead developer</div>
            </div>

            <div class="media-right media-middle">
              <ul class="icons-list text-nowrap">
                <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-more2"></i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-comment-discussion pull-right"></i> Start chat</a></li>
                    <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a call</a></li>
                    <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-statistics pull-right"></i> Statistics</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>

          <li class="media">
            <div class="media-left">
              <a href="#"><img src="assets/images/demo/users/face10.jpg" class="img-sm img-circle" alt=""></a>
            </div>

            <div class="media-body media-middle text-semibold">
              Otto Gerwald
              <div class="media-annotation">Front end developer</div>
            </div>

            <div class="media-right media-middle">
              <ul class="icons-list text-nowrap">
                <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-more2"></i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-comment-discussion pull-right"></i> Start chat</a></li>
                    <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a call</a></li>
                    <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-statistics pull-right"></i> Statistics</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>

          <li class="media">
            <div class="media-left">
              <a href="#"><img src="assets/images/demo/users/face14.jpg" class="img-sm img-circle" alt=""></a>
            </div>

            <div class="media-body media-middle text-semibold">
              Vince Satmann
              <div class="media-annotation">UX expert</div>
            </div>

            <div class="media-right media-middle">
              <ul class="icons-list text-nowrap">
                <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-more2"></i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-comment-discussion pull-right"></i> Start chat</a></li>
                    <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a call</a></li>
                    <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-statistics pull-right"></i> Statistics</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>

          <li class="media">
            <div class="media-left">
              <a href="#"><img src="assets/images/demo/users/face24.jpg" class="img-sm img-circle" alt=""></a>
            </div>

            <div class="media-body media-middle text-semibold">
              Jason Leroy
              <div class="media-annotation">SEO specialist</div>
            </div>

            <div class="media-right media-middle">
              <ul class="icons-list text-nowrap">
                <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-more2"></i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-comment-discussion pull-right"></i> Start chat</a></li>
                    <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a call</a></li>
                    <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-statistics pull-right"></i> Statistics</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- /assigned users -->


    <!-- Latest comments -->
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-bubbles3 position-left"></i> Latest comments<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
        <div class="heading-elements">
          <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
            <li><a data-action="close"></a></li>
          </ul>
        </div>
      </div>

      <ul class="media-list media-list-linked">
        <li class="media">
          <a href="#" class="media-link">
            <div class="media-left"><img src="assets/images/demo/users/face10.jpg" class="img-sm img-circle" alt=""></div>
            <div class="media-body">
              <div class="media-heading"><span class="text-semibold">Will Samuel</span> <span class="media-annotation pull-right">Just now</span></div>
              <span class="text-muted">And he looked over at the alarm clock, ticking..</span>
            </div>
          </a>
        </li>

        <li class="media">
          <a href="#" class="media-link">
            <div class="media-left"><img src="assets/images/demo/users/face11.jpg" class="img-sm img-circle" alt=""></div>
            <div class="media-body">
              <div class="media-heading"><span class="text-semibold">Margo Baker</span> <span class="media-annotation pull-right">1 hour ago</span></div>
              <span class="text-muted">However hard he threw himself onto..</span>

            </div>
          </a>
        </li>

        <li class="media">
          <a href="#" class="media-link">
            <div class="media-left"><img src="assets/images/demo/users/face12.jpg" class="img-sm img-circle" alt=""></div>
            <div class="media-body">
              <div class="media-heading"><span class="text-semibold">Monica Smith</span> <span class="media-annotation pull-right">2 days ago</span></div>
              <span class="text-muted">Yes, but was it possible to quietly sleep through..</span>
            </div>
          </a>
        </li>

        <li class="media">
          <a href="#" class="media-link">
            <div class="media-left"><img src="assets/images/demo/users/face13.jpg" class="img-sm img-circle" alt=""></div>
            <div class="media-body">
              <div class="media-heading"><span class="text-semibold">Jordana Mills</span> <span class="media-annotation pull-right">Monday</span></div>
              <span class="text-muted">What should he do now? The next train went at..</span>
            </div>
          </a>
        </li>

        <li class="media">
          <a href="#" class="media-link">
            <div class="media-left"><img src="assets/images/demo/users/face14.jpg" class="img-sm img-circle" alt=""></div>
            <div class="media-body">
              <div class="media-heading"><span class="text-semibold">John Craving</span> <span class="media-annotation pull-right">May 24</span></div>
              <span class="text-muted">Gregor then turned to look out the window..</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!-- /latest comments -->

  </div>
</div>
