<app-loading-container [loaded]="!!(rules$ | async)">
<!--  <div class="btn-toolbar mb-10">-->
<!--    <div class="btn-group position-left">-->
<!--      <button class="btn btn-primary"-->
<!--          (click)="showAddModal(template)">-->
<!--        <i class="icon-file-plus"></i>-->
<!--        Dodaj regułę-->
<!--      </button>-->

<!--      <button class="btn btn-default"-->
<!--          *ngIf="somethingSelected"-->
<!--          (click)="removeSelected()">-->
<!--        <i class="icon-database-remove"></i>-->
<!--        Usuń-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->

  <div class="row" *ngIf="newRules$ | async as rules">
    <div class="col-sm-6">
      <div class="panel panel-flat">
        <div class="panel-heading">
          <div class="btn-group">
            <button class="btn btn-xs btn-info"
                (click)="showAddModal(template)">Dodaj</button>
<!--            <button class="btn btn-xs btn-default"-->
<!--                *ngIf="somethingSelected"-->
<!--                (click)="removeSelected()">Usuń</button>-->
          </div>
        </div>
        <div class="panel-body">
          <div class="ui-fancytree fancytree-container fancytree-treefocus fancytree-plain">
            <p *ngIf="rules && rules.length<1"
                class="">Brak zdefiniowanych reguł</p>
            <admin-rule-node *ngFor="let rule of rules"
                [rule]="rule"
                (select)="onSelect($event)"></admin-rule-node>
          </div>
        </div>
      </div>
    </div>

<!--    <div class="col-sm-6">-->
<!--      <div class="panel panel-flat">-->
<!--        <div class="panel-body">dupa</div>-->
<!--      </div>-->
<!--    </div>-->
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Dodaj regułę</h4>
      <button type="button" class="close pull-right" (click)="addModalRef.hide()">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <div class="btn-group" dropdown>
          <button dropdownToggle
              type="button"
              class="btn btn-default btn-block dropdown-toggle">
            {{ selectedTypeName || 'Typ reguły' }}
            <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"
                *ngFor="let ruleType of types"
                [class.active]="selectedTypeName === ruleType.name">
              <a class="dropdown-item"
                  (click)="selectedTypeName = ruleType.name">
                {{ 'common.competition.rules.' + ruleType.name | translate }}
              </a>
            </li>
          </ul>
        </div>
      </div>

      <ng-container [ngSwitch]="selectedTypeName">
        <ng-container *ngSwitchCase="'STYLE'">
          <button class="btn btn-default btn-block"
              (click)="saveRule('STYLE',style)"
              *ngFor="let style of styles$ | async">
            {{ style.name }}
          </button>
        </ng-container>
        <ng-container *ngSwitchCase="'TYPE'">
          <button class="btn btn-default btn-block"
              (click)="saveRule('TYPE',null,type)"
              *ngFor="let type of types$ | async">
            {{ type.name }}
          </button>
        </ng-container>
        <ng-container *ngSwitchCase="'EXPERIENCE'">
          <button class="btn btn-default btn-block"
              (click)="saveRule('EXPERIENCE',null,null,experience)"
              *ngFor="let experience of experiences$ | async">
            {{ experience.name }}
          </button>
        </ng-container>
        <ng-container *ngSwitchCase="'AGE'">
          <button class="btn btn-default btn-block"
              (click)="saveRule('AGE',null,null,null,age)"
              *ngFor="let age of ages$ | async">
            {{ age.name }}
          </button>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>
</app-loading-container>