<h5 class="content-group text-semibold">
  Reguły zapisów
  <small class="display-block">
    Ustal reguły, wg których uczestnicy będą zapisywali się na Twój turniej.
  </small>
</h5>
<div class="row">
  <div class="col-sm-6">

    <div class="panel panel-flat">
      <div class="panel-heading" style="display: flex;justify-content: space-between;">
        <div class="btn-group position-left">
          <button class="btn btn-xs btn-info"
              (click)="showAddModal(template)">
            Dodaj regułę
          </button>
          <button class="btn btn-xs btn-default"
              *ngIf="selectedRule$ | async"
              (click)="remove()">Usuń
          </button>
        </div>
        <div>
          <button class="btn btn-xs btn-default" (click)="generate()">
            Wygeneruj reguły
          </button>
          <button class="btn btn-xs btn-link"
              container="body"
              tooltip='Kliknięcie w przycisk wygeneruje reguły automatycznie zgodnie ze zdefiniowanymi stylami i kategoriami, na zasadzie "każdy z każdym"'>
            <i class="icon-question3"></i>
          </button>
        </div>

      </div>
      <div class="panel-body">
        <app-loading-container [loaded]="!(isRulesLoading$ | async)">
          <admin-rule-node *ngFor="let rule of rules$ | async; trackBy: trackByFn"
              [rule]="rule"
              (expand)="toggleExpansion($event)"
              (select)="toggleSelection($event)"></admin-rule-node>
        </app-loading-container>
      </div>
    </div>
  </div>

  <div class="col-sm-6" *ngIf="selectedRule$ | async as selected"
      style="position: sticky; top:20px">
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="panel-title">
          <ng-container [ngSwitch]="selected?.ruleType">
            <span *ngSwitchCase="'STYLE'">Styl: {{ selected.style.name }}</span>
            <span *ngSwitchCase="'TYPE'">Kategoria: {{ selected.type.name }}</span>
            <span *ngSwitchCase="'EXPERIENCE'">Doświadczenie: {{ selected.experience.name }}</span>
            <span *ngSwitchCase="'AGE'">Wiek: {{ selected.age.name }}</span>
            <span *ngSwitchDefault>/</span>
          </ng-container>
        </h6>
      </div>
      <div class="panel-body">
<!--        <div class="checkbox mb-20">-->
<!--          <label>-->
<!--            <div class="checker">-->
<!--              <span [class.checked]="selected.ownMusicAllowed">-->
<!--                <input type="checkbox" class="styled"-->
<!--                    (click)="toggleOwnMusicAllowed(selected)"-->
<!--                    [checked]="selected.ownMusicAllowed">-->
<!--              </span>-->
<!--            </div>-->
<!--            Muzyka własna-->
<!--          </label>-->
<!--        </div>-->

        <div class="checkbox"
            [class.text-danger]="selected.objectState==='INACTIVE'">
          <label>
            <div class="checker">
              <span [class.checked]="selected.objectState==='ACTIVE'">
                <input type="checkbox" class="styled"
                    (click)="toggleObjectState(selected)"
                    [checked]="selected.objectState==='ACTIVE'">
              </span>
            </div>
            Zapisy aktywne
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Dodaj regułę</h4>
    <button type="button" class="close pull-right" (click)="addModalRef.hide()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-add-rule [parentRule]="selectedRule$ | async"
        [styles]="styles$ | async"
        [types]="types$ | async"
        [ages]="ages$ | async"
        [experiences]="experiences$ | async"
        (save)="add($event)"></app-add-rule>
  </div>
</ng-template>
