<div class="modal-header">
  <button class="close" ng-click="$ctrl.cancel()">×</button>
  <h5 class="modal-title">Dodaj typ użytkownika</h5>
</div>

<form ng-submit="$ctrl.ok()" name="form">
  <div class="modal-body">

    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <label>
            Nazwa
            <span class="text-danger">*</span>
          </label>
          <input type="text" placeholder="Nazwa" class="form-control" ng-model="$ctrl.userType.name"
              required autofocus>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-link" ng-click="$ctrl.cancel()">Anuluj</button>
    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Zapisz</button>
  </div>
</form>
