<div class="panel panel-flat">
  <div class="panel-heading">
    <h6 class="panel-title">Szczegóły</h6>
    <div class="heading-elements panel-nav">
      <ul class="nav nav-pills">
        <li ng-if="!$ctrl.isEditMode">
          <a href ng-click="$ctrl.editCourse()" uib-tooltip="Edytuj" tooltip-placement="left">
            <i class="icon-pencil7"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="panel-body">
    <form ng-if="$ctrl.isEditMode">
      <div class="form-group">
        <label for="name" class="text-semibold">Nazwa</label>
          <input type="text" class="form-control" id="name" placeholder="Nazwa"
              ng-model="$ctrl.courseCopy.name">
      </div>
      <div class="form-group">
        <label for="day" class="text-semibold">Dzień</label>
          <select class="form-control" id="day" ng-model="$ctrl.courseCopy.day">
            <option ng-repeat="day in $ctrl.days"
                ng-value="day.id"
                translate="DAYS.LONG.DAY{{day.id}}"
                translate-default=""></option>
          </select>
      </div>
      <div class="form-group">
        <label for="timeFrom" class="text-semibold">Godzina rozpoczęcia</label>
          <input type="text" class="form-control" id="timeFrom" placeholder="Godzina rozpoczęcia"
              ng-model="$ctrl.courseCopy.timeFrom">
      </div>
      <div class="form-group">
        <label for="timeTo" class="text-semibold">Godzina zakończenia</label>
          <input type="text" class="form-control" id="timeTo" placeholder="Godzina zakończenia"
              ng-model="$ctrl.courseCopy.timeTo">
      </div>
      <div class="form-group">
        <label for="instructor" class="text-semibold">Instruktor</label>
          <input type="text" class="form-control" id="instructor" placeholder="Instruktor"
              ng-model="$ctrl.courseCopy.instructor">
      </div>
      <div class="form-group">
        <label for="level" class="text-semibold">Poziom trudności</label>
          <select class="form-control" id="level" ng-model="$ctrl.courseCopy.level">
            <option ng-repeat="level in $ctrl.levels"
                ng-value="level.name"
                translate="LEVELS.{{level.name}}"
                translate-default=""></option>
          </select>
      </div>
      <div class="form-group">
        <label for="state" class="text-semibold">Bieżący status</label>
          <select class="form-control" id="state" ng-model="$ctrl.courseCopy.state">
            <option ng-repeat="state in $ctrl.states"
                ng-value="state.name"
                translate="TEXTS.SCHEDULE.COURSE.STATE.{{state.name}}.LABEL"
                translate-default=""></option>
          </select>
      </div>
      <div class="form-group">
        <label for="shortDescription" class="text-semibold">Krótki opis</label>
          <input type="text" class="form-control" id="shortDescription" placeholder="Krótki opis"
              ng-model="$ctrl.courseCopy.shortDescription">
      </div>
      <div class="form-group">
        <label for="description" class="text-semibold">Dłuższy opis</label>
            <textarea type="text" class="form-control" id="description" placeholder="Dłuższy opis"
                ng-model="$ctrl.courseCopy.description" rows="5"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.update()"
            ladda="$ctrl.isUpdateInProgress">Zapisz</button>
        <button class="btn btn-default" ng-click="$ctrl.cancel()">Anuluj</button>
      </div>
    </form>

    <form ng-if="!$ctrl.isEditMode">
      <div class="form-group">
        <label class="text-semibold">Nazwa</label>
        <p class="form-control-static" ng-bind="$ctrl.course.name"></p>
      </div>
      <div class="form-group">
        <label class="text-semibold">Dzień</label>
        <p class="form-control-static"
            translate="DAYS.LONG.DAY{{$ctrl.course.day}}"
            translate-default=""></p>
      </div>
      <div class="form-group">
        <label class="text-semibold">Godzina rozpoczęcia</label>
        <p class="form-control-static" ng-bind="$ctrl.course.timeFrom"></p>
      </div>
      <div class="form-group">
        <label class="text-semibold">Godzina zakończenia</label>
        <p class="form-control-static" ng-bind="$ctrl.course.timeTo"></p>
      </div>
      <div class="form-group">
        <label class="text-semibold">Instruktor</label>
        <p class="form-control-static" ng-bind="$ctrl.course.instructor"></p>
      </div>
      <div class="form-group">
        <label class="text-semibold">Poziom trudności</label>
        <p class="form-control-static"
            translate="LEVELS.{{$ctrl.course.level}}"
            translate-default=""></p>
      </div>
      <div class="form-group">
        <label class="text-semibold">Bieżący status</label>
        <p class="form-control-static"
            translate="TEXTS.SCHEDULE.COURSE.STATE.{{$ctrl.course.state}}.LABEL"
            translate-default=""></p>
      </div>
      <div class="form-group">
        <label class="text-semibold">Krótki opis</label>
        <p class="form-control-static" ng-bind="$ctrl.course.shortDescription"></p>
      </div>
      <div class="form-group">
        <label class="text-semibold">Dłuższy opis</label>
        <p class="form-control-static" ng-bind="$ctrl.course.description"></p>
      </div>
    </form>
  </div>
</div>