<div class="login-box panel panel-default">
  <div class="panel-body">

    <div class="text-center">
      <h5 class="login-box__title">
        {{ 'login.title' | translate }}
      </h5>
    </div>
    <form class="form-horizontal" [formGroup]="ngForm" (submit)="submit(ngForm.value)">
      <div class="alert bg-danger" *ngIf="error">
        {{ 'login.error' | translate }}
      </div>

      <app-labeled-field [invalid]="isInvalid('login')" [error]="getError('login')">
        <input appTextField
            type="email"
            class="form-control"
            [placeholder]="'login.email' | translate"
            formControlName="login" autofocus>
      </app-labeled-field>

      <app-labeled-field [invalid]="isInvalid('password')" [error]="getError('password')">
        <input appTextField
            type="password"
            class="form-control"
            [placeholder]="'login.password' | translate"
            formControlName="password">
      </app-labeled-field>

      <p class="text-right mb-20">
        <a routerLink="/password/reset">Nie pamiętam hasła</a>
      </p>

      <div class="form-group">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block"
              [disabled]="isLoading">
            <i class="icon-spinner4 position-left" [class.spinner]="isLoading"></i>
            {{ 'login.submit' | translate }}
          </button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <div class="text-center text-muted content-divider">
            <span>{{ 'login.no-account' | translate }}</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <a routerLink="/register" class="btn btn-default btn-block" style="white-space: normal">
            {{ 'login.register' | translate }}
          </a>
        </div>
      </div>
    </form>
  </div>
</div>