<form [formGroup]="ngForm" (ngSubmit)="submit(ngForm.value)">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edytuj prezentację</h4>
    <button type="button" class="close pull-right" (click)="cancelClick()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="">
        <div class="mb-5">
          <app-labeled-field>
            <input appTextField
                class="form-control"
                type="text"
                formControlName="name"
                placeholder="Nazwa">
          </app-labeled-field>
        </div>

        <div class="mb-5" *ngIf="styles && styles.length > 0">
          <app-labeled-field *ngIf="styles && styles.length > 0">
            <select appSelectField
                class="form-control"
                placeholder="Styl"
                formControlName="style">
              <option *ngFor="let style of styles" [value]="style.name">
                {{ style.name }}
              </option>
            </select>
          </app-labeled-field>
        </div>

        <div class="mb-5" *ngIf="types && types.length > 0">
          <app-labeled-field *ngIf="types && types.length > 0">
            <select appSelectField
                class="form-control"
                placeholder="Kategoria"
                formControlName="type">
              <option *ngFor="let type of types" [value]="type.name">
                {{ type.name }}
              </option>
            </select>
          </app-labeled-field>
        </div>


        <div class="mb-5" *ngIf="experiences && experiences.length > 0">
          <app-labeled-field>
            <select appSelectField
                class="form-control"
                placeholder="Poziom doświadczenia"
                formControlName="experience">
              <option *ngFor="let experience of experiences" [value]="experience.name">
                {{ experience.name }}
              </option>
            </select>
          </app-labeled-field>
        </div>


        <div class="mb-5" *ngIf="ages && ages.length > 0">
          <app-labeled-field>
            <select appSelectField
                class="form-control"
                placeholder="Kategoria wiekowa"
                formControlName="ageLevel">
              <option *ngFor="let ageLevel of ages" [value]="ageLevel.name">
                {{ ageLevel.name }}
              </option>
            </select>
          </app-labeled-field>
        </div>

        <div class="mb-5" *ngIf="canShowTitle(ngForm.value.style)">
          <app-labeled-field>
            <input appTextField
                class="form-control"
                type="text"
                formControlName="title"
                placeholder="Tytuł">
          </app-labeled-field>
        </div>

      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-link" (click)="cancelClick()">Anuluj
    </button>
    <button type="submit" class="btn btn-primary">Zapisz</button>
  </div>
</form>