<app-navbar [simpleVersion]="true"></app-navbar>
<div class="page-container" style="min-height:118px">
  <div class="page-content">
    <div class="content-wrapper">
      <div class="container">
        <div class="content">
          <h1 class="text-light text-center">Nie pamiętam hasła</h1>
          <div class="panel panel-body reset-password__panel">
            <ng-container *ngIf="!success && !error">
              <div class="text-center">
                <h5 class="reset-password__title">
                  Wprowadź adres email podany podczas rejestracji
                </h5>
              </div>

              <form class="form-horizontal" [formGroup]="ngForm" (submit)="submit(ngForm.value)">
                <div class="form-group has-feedback" [ngClass]="{'has-error':error}">
                  <div class="col-sm-12">
                    <input type="email" class="form-control" placeholder="Email"
                        formControlName="email" autofocus>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">
                      <i class="icon-spinner4 position-left" [ngClass]="{'spinner':loading}"></i>
                      Wyślij
                    </button>
                  </div>
                </div>

                <p class="content-divider text-muted mb-20">
                  <span>Jednak pamiętasz hasło?</span>
                </p>
                <a routerLink="/login" class="btn btn-default btn-block content-group">
                  Zaloguj się
                </a>
              </form>
            </ng-container>

            <ng-container *ngIf="success">
              <h6 class="text-center">
                <i class="icon-checkmark3 text-success mb-10"></i>
                <br>
                Wysłano. Sprawdź swoją skrzynkę mailową w celu zmiany hasła
              </h6>
            </ng-container>

            <ng-container *ngIf="error">
              <h6 class="text-center">
                <i class="icon-bug2 text-danger mb-10"></i>
                <br>
                Coś poszło nie tak. Skontaktuj się z Administratorem.
              </h6>
            </ng-container>
          </div>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>