<div class="panel panel-flat">
  <div class="panel-heading">
    <h6 class="panel-title" translate="DAYS.LONG.DAY{{::$ctrl.day.id}}" translate-default=""></h6>
  </div>
  <div class="panel-body">
    <div class="btn-toolbar">
      <div class="btn-group">
        <button type="button" class="btn btn-primary"
            translate="TEXTS.SCHEDULE.ADD_CLASS" translate-default=""
            ng-click="$ctrl.addNew()"></button>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th translate="TEXTS.SCHEDULE.COURSE.TIME" translate-default=""></th>
      <th translate="TEXTS.SCHEDULE.COURSE.NAME" translate-default=""></th>
      <th class="text-center"
          translate="TEXTS.SCHEDULE.COURSE.LEVEL" translate-default=""></th>
      <th translate="TEXTS.SCHEDULE.COURSE.INSTRUCTOR" translate-default=""></th>
      <th translate="TEXTS.SCHEDULE.COURSE.STATE.LABEL" translate-default=""></th>
      <th class="text-center"
          translate="TEXTS.SCHEDULE.COURSE.PUBLIC" translate-default=""></th>
      <th class="text-center"
          translate="TEXTS.SCHEDULE.COURSE.REGISTRATION" translate-default=""></th>
      <th class="text-center"
          translate="TEXTS.SCHEDULE.COURSE.ACTIONS" translate-default=""></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="course in $ctrl.courses | filter: { day : $ctrl.day.id } | orderBy: 'timeFrom'">
      <td>
        <span ng-bind="::course.timeFrom"></span>
        -
        <span ng-bind="::course.timeTo"></span>
      </td>
      <td>
        <a href ng-click="$ctrl.goToDetails(course)" ng-bind="::course.name"></a>
      </td>
      <td class="text-center">
        <span class="label" translate="LEVELS.SHORT.{{::course.level}}" translate-default=""
            uib-tooltip="{{'LEVELS.' + course.level | translate}}" tooltip-placement="left"
            ng-class="{'label-success': course.level==='BEG','label-info': course.level==='INT','label-primary': course.level==='ADV'}"></span>
      </td>
      <td ng-bind="::course.instructor || '-'"></td>
      <td translate="TEXTS.SCHEDULE.COURSE.STATE.{{::course.state}}.LABEL"
          translate-default=""></td>
      <td class="text-center">
        <span uib-tooltip="{{'TEXTS.SCHEDULE.COURSE.IS_PUBLIC.' + course.isPublic | translate}}"
            tooltip-placement="left" ng-switch="course.isPublic">
          <span class="icon-shield-check text-success" ng-switch-when="true"></span>
          <span class="icon-shield-notice text-danger" ng-switch-when="false"></span>
        </span>
      </td>
      <td class="text-center">
        <span uib-tooltip="{{'TEXTS.SCHEDULE.COURSE.IS_REGISTRATION_OPEN.' + course.isRegistrationOpen | translate}}"
            tooltip-placement="left" ng-switch="course.isRegistrationOpen">
          <span class="icon-user-check text-success" ng-switch-when="true"></span>
          <span class="icon-user-block text-danger" ng-switch-when="false"></span>
        </span>
      </td>
      <td class="text-center">
        <ul class="icons-list">
          <li class="dropdown" uib-dropdown>
            <a class="dropdown-toggle" uib-dropdown-toggle>
              <i class="icon-menu7"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
              <li>
                <a href ng-click="$ctrl.goToDetails(course)">
                  <i class="icon-cog3"></i>
                  Szczegóły
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href ng-click="$ctrl.toggleIsPublic(course)">
                  <i class="icon-shield-check {{course.isPublic ? 'text-danger':'text-success'}}"></i>
                  Zmień widoczność
                </a>
              </li>
              <li>
                <a href ng-click="$ctrl.toggleIsRegistrationOpen(course)">
                  <i
                      class="icon-user {{course.isRegistrationOpen ? 'text-danger':'text-success'}}"></i>
                  Zmień zapisy
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href ng-really-click="$ctrl.delete(course)" ng-really-message="Czy na pewno?">
                  <i class="icon-cross2 text-danger"></i>
                  Usuń
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>