<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-4 control-label">Nazwa</label>
    <div class="col-sm-8">
      <p class="form-control-static" ng-bind="$ctrl.competition.name"></p>
    </div>
  </div>
</form>