<app-main-page [title]="(competition$ | async)?.name"
    [menu]="true"
    [subtitle]="(competition$ | async) ? ((competition$ | async)?.city + ' - ' + ((competition$ | async)?.start | date:'dd MMMM yyyy')) : ''"
    backTo="../"
    iconId="icon-trophy2">

  <ng-container menu>
    <ul class="nav nav-tabs nav-tabs-bottom nav-tabs-toolbar no-margin">
      <li routerLinkActive="active">
        <a routerLink="info">
          <i class="icon-info3 position-left"></i>
          <span>{{ 'competition-details.tabs.info' | translate }}</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="registration">
          <i class="icon-file-spreadsheet2 position-left"></i>
          <span>Zapisy</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="finances">
          <i class="icon-coins position-left"></i>
          <span>{{ 'competition-details.tabs.finances' | translate }}</span>
        </a>
      </li>
      <li routerLinkActive="active"
          *ngIf="(licence$ | async)?.results && (competition$ | async)?.resultPublished">
        <a routerLink="results">
          <i class="icon-medal-first position-left"></i>
          <span>Wyniki</span>
        </a>
      </li>
    </ul>
  </ng-container>

  <router-outlet></router-outlet>

</app-main-page>