<app-main-page title="Ustawienia konta" iconId="icon-user">

  <p class="competition-details__toolbar no-margin-bottom">
    <a class="btn text-size-small competition-details__toolbar-button"
        (click)="selectedTab=0"
        [class.bg-white]="selectedTab===0">
      <i class="icon-info3 text-primary"></i>
      <span>{{ 'user.profile' | translate }}</span>
    </a>
    <a class="btn text-size-small competition-details__toolbar-button"
        (click)="selectedTab=1"
        [class.bg-white]="selectedTab===1">
      <i class="icon-coins text-primary"></i>
      <span>{{ 'user.invoiceData' | translate }}</span>
    </a>
<!--    <a class="btn text-size-small competition-details__toolbar-button"-->
<!--        (click)="selectedTab=2"-->
<!--        [class.bg-white]="selectedTab===2">-->
<!--      <i class="icon-bubble-notification text-primary"></i>-->
<!--      <span>Powiadomienia</span>-->
<!--    </a>-->
  </p>

  <app-user-profile *ngIf="selectedTab===0"
      [user]="user$ | async"
      [loading]="userLoading"
      (save)="onUserSave($event)"></app-user-profile>

  <app-user-invoice-data *ngIf="selectedTab===1"
      [invoiceData]="invoiceData$ | async"
      [loading]="invoiceLoading"
      (save)="onInvoiceDataSave($event)"></app-user-invoice-data>

  <div class="panel panel-white" *ngIf="selectedTab===2">
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Powiadom mnie o zaksięgowaniu mojej wpłaty w systemie</dt>
        <dd>TAK</dd>

        <dt>Powiadom mnie o pojawieniu się nowego turnieju</dt>
        <dd>TAK</dd>

        <dt>Powiadom mnie o zapisie na nowy turniej</dt>
        <dd>TAK</dd>
      </dl>
    </div>
  </div>
</app-main-page>