@import '~styles/media';

.nav-tabs {
  margin-bottom: 40px;
}

.competition-details__toolbar {
  padding-left: 10px;
}

.competition-details__toolbar-button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &.btn.bg-white:hover,
  &.btn.bg-white:focus {
    box-shadow: none !important;
    color: black;
  }

  & > span {
    margin-left: 5px;
  }

  @include xs-only {
    span {
      display: none;
    }
  }
}
