<div class="panel panel-flat no-margin" style="height: 100%">
  <div class="panel-body">
    <app-loading-container [loaded]="!loading">
      <div style="display: flex;flex-direction: column;align-items: center">
        <h2 class="no-margin-top mb-5 text-teal-400" style="font-size: 72px;">{{ days }}</h2>
        <span class="text-center">dni pozostało</span>
      </div>
    </app-loading-container>
  </div>
</div>