<ng-template #template>
  <app-admin-performance-form [performance]="selectedPerformance"
      [styles]="styles$ | async"
      [types]="types$ | async"
      [ages]="ages$ | async"
      [experiences]="experiences$ | async"
      (cancel)="editPerformanceModalRef.hide()"
      (save)="updatePerformance($event)"
  ></app-admin-performance-form>
</ng-template>

<app-performance-song-speaker></app-performance-song-speaker>

<app-loading-container [loaded]="!!(payments$ | async)">

  <ng-container *ngIf="(school$|async) as school">
    <div class="media admin-competition-participant__school-header">
      <div>
        <div class="media-left pt-10">
        <span class="profile-thumb">
          <img src="https://avatars.dicebear.com/v2/jdenticon/{{ school.email }}.svg"
              class="img-circle img-md">
        </span>
        </div>

        <div class="media-body">
          <h1 class="no-margin-top">
            {{ school.name }}
            <small class="display-block">{{ school.address?.city }}</small>
          </h1>
        </div>
      </div>

      <div style="display: flex">
        <button class="btn btn-link btn-float text-size-small has-text"
            (click)="printSchoolCard()">
          <i class="icon-printer2"></i>
          Karta szkoły
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-flat">
          <div class="panel-heading">
            <h6 class="panel-title">Informacje</h6>
          </div>
          <div class="panel-body">
            <dl *ngIf="(school$| async) as school">
              <dt>Miejscowość</dt>
              <dd>{{ school.address.city }}</dd>
              <dt>Email</dt>
              <dd>{{ school.email }}</dd>
              <dt>Telefon</dt>
              <dd>{{ school.phone }}</dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-flat">
          <div class="panel-heading">
            <h6 class="panel-title">Dane do faktury</h6>
          </div>
          <div class="panel-body">
            <dl *ngIf="(invoiceData$| async) as invoiceData; else noInvoiceData">
              <dt>Nazwa</dt>
              <dd>{{ invoiceData.name }}</dd>
              <dt>NIP</dt>
              <dd>{{ invoiceData.nip }}</dd>
              <dt>Adres</dt>
              <dd>{{ invoiceData.street }}</dd>
              <dd>{{ invoiceData.zip }} {{ invoiceData.city }}</dd>
            </dl>
            <ng-template #noInvoiceData>
              <p>Brak.</p>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <admin-user-payments [payments]="payments$ | async"
            (delete)="deletePayment($event)"
            (save)="savePayment($event)"></admin-user-payments>

      </div>
    </div>

    <div class="panel panel-white panel-table" *ngIf="performances$ | async as performances">
      <div class="panel-heading pb-10 pt-10" style="display: flex; justify-content: space-between;
      align-items: center">
        <h6 class="panel-title">
          Zgłoszone występy ({{ performances ? performances.length : 0}})
        </h6>
          <span class="dropdown" dropdown container="body">
            <a class="btn btn-info btn-xs" dropdownToggle>
              <i class="icon-printer2 position-left"></i>
              Drukuj numery
              <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" *dropdownMenu
                style="min-width: 200px">
              <li>
                <a (click)="printNumbersA5()">
                  <i class="icon-copy3"></i>
                  A5
                </a>
              </li>
              <li>
                <a (click)="printNumbersA4()">
                  <i class="icon-file-empty"></i>
                  A4
                </a>
              </li>
            </ul>
          </span>
      </div>
      <div class="table-responsive">
        <table class="table table-condensed datatable-basic dataTable no-footer">
          <thead>
          <tr>
            <th></th>
            <th>
              {{ 'competition-details.table.name' | translate }}
            </th>
            <th *ngIf="canShowTitle(performances)"
                [class]="getSortingClass('style')"
                (click)="sortBy('style')">
              Tytuł
            </th>
            <th [class]="getSortingClass('style')"
                (click)="sortBy('style')">
              {{ 'competition-details.table.style' | translate }}
            </th>
            <th [class]="getSortingClass('type')"
                (click)="sortBy('type')">
              {{ 'competition-details.table.type' | translate }}
            </th>
            <th *ngIf="canShowExperience(performances)"
                [class]="getSortingClass('experience')"
                (click)="sortBy('experience')">
              {{ 'competition-details.table.experience' | translate }}
            </th>
            <th [class]="getSortingClass('ageLevel')"
                (click)="sortBy('ageLevel')">
              {{ 'competition-details.table.age' | translate }}
            </th>
            <th *ngIf="canAddMusic">Muzyka</th>
            <th class="text-center">Akcje</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let performance of performances">
            <tr>
              <td>
                {{ performance.number }}
              </td>
              <td>
                <a (click)="performance.visible = !performance.visible">
                  <app-performance-name-cell
                      [performance]="performance"
                      [types]="types$ | async"></app-performance-name-cell>
                </a>
              </td>
              <td *ngIf="canShowTitle(performances)">
                {{ performance.title }}
              </td>
              <td>
                <span class="label label-striped">{{ performance.style }}</span>
              </td>
              <td>
                <span class="label label-striped">{{ performance.type?.trim() }}</span>
              </td>
              <td *ngIf="canShowExperience(performances)">
              <span class="label label-striped"
                  *ngIf="performance.experience">
                {{ performance.experience }}
              </span>
              </td>
              <td>
                <span class="label label-striped">{{ performance.ageLevel }}</span>
              </td>
              <td *ngIf="canAddMusic">
                <app-performance-song-player
                    class="position-left"
                    [performance]="performance"
                    [playing]="(playingSongSid$ | async) === performance.audioSid"
                ></app-performance-song-player>
              </td>
              <td class="text-center">
                <ul class="icons-list">
                  <li class="dropdown" dropdown container="body">
                    <a class="dropdown-toggle" dropdownToggle>
                      <i class="icon-menu9"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu
                        style="min-width: 200px">
                      <li>
                        <a (click)="edit(performance, template)">
                          <i class="icon-pencil5"></i>
                          Edytuj
                        </a>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a (click)="remove(performance)">
                          <i class="icon-cross2 text-danger"></i>
                          Usuń
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
            <tr *ngIf="performance.visible">
              <td colspan="7">
                <div class="competition-registration__performance-details">
                  <div class="tokenfield form-control readonly">
                      <span class="token" *ngFor="let dancer of performance.dancers; let
                      $index=index">
                        <span class="token-label">
                          {{$index + 1}}.
                          {{dancer.firstName}}
                          {{dancer.lastName}}
                          ({{dancer.yearOfBirth}})
                        </span>
                      </span>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" *ngIf="media$ | async | device:'MOBILE'; else dancersDesktop">
      <div>
        <h6 class="ml-10 mb-10">Zgłoszeni tancerze</h6>
      </div>

      <div class="panel panel-flat mb-5 no-border-radius" *ngFor="let dancer of dancers$ | async">
        <div class="panel-body" style="display: flex; align-items: center">
          <div>
            <strong>
              {{ dancer.firstName }}
              {{ dancer.lastName }}
            </strong>
            &nbsp;
            <span class="text-muted">({{dancer.yearOfBirth}})
            </span>
          </div>

          <span class="text-muted no-margin-bottom" style="margin-left: auto">
            Liczba występów:
            {{dancer.performanceAmount}}
          </span>
        </div>
      </div>
    </div>

    <ng-template #dancersDesktop>
      <div class="panel panel-white panel-table">
        <div class="panel-heading">
          <h6 class="panel-title">
            Zgłoszeni tancerze
          </h6>
        </div>
        <div class="table-responsive">
          <table class="table table-condensed table-bordered">
            <thead>
            <tr>
              <th style="width: 100px;">Lp</th>
              <th>Imię</th>
              <th>Nazwisko</th>
              <th>Rok urodzenia</th>
              <th>Liczba występów</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dancer of dancers$ | async; let $index = index">
              <td>{{ $index + 1 }}</td>
              <td>{{ dancer.firstName }}</td>
              <td>{{ dancer.lastName }}</td>
              <td>{{ dancer.yearOfBirth }}</td>
              <td>{{ dancer.performanceAmount }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </ng-container>
</app-loading-container>

