<div class="mt-10 text-muted">
  <div class="text-center">
    <a href="http://www.kartazgloszen.pl">Karta zgłoszeń</a>
    © 2018. Pomoc techniczna:
    <a href="tel:793432042">
      793 432 042
      <i class="fa fa-phone"></i>
    </a>
  </div>
</div>