<div class="judge-cards" ng-switch="$ctrl.isLoading">

  <div class="content text-center" ng-switch-when="true">
    <i class="icon-spinner2 spinner position-left"></i>
    Ładowanie...
  </div>

  <div class="content animated fadeIn" ng-switch-when="false">
    <div ng-repeat="block in $ctrl.list | orderBy: 'order'" ng-if="::block.performances.length>0">
      <div class="panel panel-flat" style="margin-bottom: 10px; border: 0">
        <div class="panel-heading" style="padding: 10px 20px;">
          <h6 style="border-bottom: 1px solid #bbb; padding-bottom: 15px;">
            Imię i nazwisko sędziego:
          </h6>
        </div>
        <div class="panel-heading" style="padding: 10px 20px;">
          <h6 class="panel-title" style="font-size: 14px; margin: 0 0 -20px;">
            <span class="text-bold" ng-bind="::block.stage" style="font-size: 24px"></span>
            <span class="text-semibold" style="margin-left: 10px"
                translate="COMPETITION.STYLES.{{::block.style}}"
                translate-default=""></span>
            -
            <span translate="COMPETITION.TYPES.{{::block.type}}" translate-default=""></span>
            <span ng-if="::block.expLevel">
                 -
                <span translate="COMPETITION.EXP_LEVELS.{{::block.expLevel}}"
                    translate-default=""></span>
              </span>
            (<span translate="COMPETITION.AGE_LEVELS.{{::block.ageLevel}}"
              translate-default=""></span>)
          </h6>
          <p class="text-right" style="font-size: 10px; margin: 0">
            <span>T - Technika</span>
            <span style="margin-left: 10px">C - Choreografia</span>
            <span style="margin-left: 10px">I - Image</span>
          </p>
        </div>

        <table class="table table-bordered table-condensed" style="font-size: 12px;">
          <thead>
          <tr>
            <th class="col-xs-1 text-center" style="padding: 8px 2px">Nr startowy</th>
            <th class="col-xs-7 text-center" style="padding: 8px 2px">Notatki</th>
            <th class="col-xs-1 text-center" style="padding: 8px 2px">T</th>
            <th class="col-xs-1 text-center" style="padding: 8px 2px">C</th>
            <th class="col-xs-1 text-center" style="padding: 8px 2px">I</th>
            <th class="text-center" style="padding: 8px 2px">Suma</th>
            <th class="text-center" style="padding: 8px 2px" ng-switch="::block.stage">
              <span ng-switch-when="F">Miejsce</span>
              <span ng-switch-default>Awans</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="performance in block.performances">
            <td class="text-center" style="padding: 0 2px; font-size: 20px; width: 120px"
                ng-bind="::performance.number"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="pagebreak"></div>
    </div>

  </div>
</div>
