<div class="modal-header">
  <button class="close" ng-click="$ctrl.cancel()">×</button>
  <h5 class="modal-title">Dodaj notatkę</h5>
</div>

<form ng-submit="$ctrl.ok()" name="form">
  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <label>Treść</label>
          <textarea placeholder="Treść" class="form-control" ng-model="$ctrl.note.value"
              rows="5" required autofocus></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-link" ng-click="$ctrl.cancel()">Anuluj</button>
    <button type="submit" class="btn btn-primary">Zapisz</button>
  </div>
</form>
