<div class="page-header page-header-default" style="border-bottom: 0;">
  <div class="page-header-content">
    <div class="page-title">
      <h5>
        <i class="icon-bubbles4 position-left"></i>
        <span class="text-semibold" translate="TEXTS.LIVE_CHAT.TITLE" translate-default=""></span>
      </h5>
    </div>
  </div>
</div>

<div class="content animated fadeIn">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-flat">
        <ul class="media-list media-list-linked media-list-bordered">
          <li class="media">
            <a href="#" class="media-link">
              <div class="media-left">
                <img src="https://api.adorable.io/avatars/120/p4welo5.png" class="img-circle img-md" alt="">
              </div>

              <div class="media-body">
                <h6 class="media-heading">Margo Baker</h6>
                <span class="text-muted">Treść ostatniej wiadomości...</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#" class="media-link">
              <div class="media-left">
                <img src="https://api.adorable.io/avatars/120/p4welo4.png" class="img-circle img-md" alt="">
              </div>

              <div class="media-body">
                <h6 class="media-heading">Margo Baker</h6>
                <span class="text-muted">Treść ostatniej wiadomości...</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#" class="media-link">
              <div class="media-left">
                <img src="https://api.adorable.io/avatars/120/p4welo3.png" class="img-circle img-md" alt="">
              </div>

              <div class="media-body">
                <h6 class="media-heading">Margo Baker</h6>
                <span class="text-muted">Treść ostatniej wiadomości...</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#" class="media-link">
              <div class="media-left">
                <img src="https://api.adorable.io/avatars/120/p4welo2.png" class="img-circle img-md" alt="">
              </div>

              <div class="media-body">
                <h6 class="media-heading">Margo Baker</h6>
                <span class="text-muted">Treść ostatniej wiadomości...</span>
              </div>
            </a>
          </li>
          <li class="media">
            <a href="#" class="media-link">
              <div class="media-left">
                <img src="https://api.adorable.io/avatars/120/p4welo1.png" class="img-circle img-md" alt="">
              </div>

              <div class="media-body">
                <h6 class="media-heading">Margo Baker</h6>
                <span class="text-muted">Treść ostatniej wiadomości...</span>
              </div>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h6 class="panel-title">Default layout<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
          <div class="heading-elements">
            <ul class="icons-list">
              <li><a data-action="collapse"></a></li>
              <li><a data-action="reload"></a></li>
              <li><a data-action="close"></a></li>
            </ul>
          </div>
        </div>

        <div class="panel-body">
          <ul class="media-list chat-list content-group">
            <li class="media date-step">
              <span>Monday, Feb 10</span>
            </li>

            <li class="media">
              <div class="media-left">
                <a href>
                  <img src="https://api.adorable.io/avatars/120/p4welo5.png" class="img-circle img-md" alt="">
                </a>
              </div>

              <div class="media-body">
                <div class="media-content">Below mounted advantageous spread yikes bat stubbornly crud a and a excepting</div>
                <span class="media-annotation display-block mt-10">Mon, 9:54 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
              </div>
            </li>

            <li class="media reversed">
              <div class="media-body">
                <div class="media-content">Far squid and that hello fidgeted and when. As this oh darn but slapped casually husky sheared that cardinal hugely one and some unnecessary factiously hedgehog a feeling one rudely much but one owing sympathetic regardless more astonishing evasive tasteful much.</div>
                <span class="media-annotation display-block mt-10">Mon, 10:24 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
              </div>

              <div class="media-right">
                <a href>
                  <img src="https://api.adorable.io/avatars/120/p4welo4.png" class="img-circle img-md" alt="">
                </a>
              </div>
            </li>

            <li class="media">
              <div class="media-left">
                <a href>
                  <img src="https://api.adorable.io/avatars/120/p4welo5.png" class="img-circle img-md" alt="">
                </a>
              </div>

              <div class="media-body">
                <div class="media-content">Darn over sour then cynically less roadrunner up some cast buoyant. Macaw krill when and upon less contrary warthog jeez some koala less since therefore minimal.</div>
                <span class="media-annotation display-block mt-10">Mon, 10:56 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
              </div>
            </li>

            <li class="media reversed">
              <div class="media-body">
                <div class="media-content">Some upset impious a and submissive when far crane the belched coquettishly. More the puerile dove wherever</div>
                <span class="media-annotation display-block mt-10">Mon, 11:29 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
              </div>

              <div class="media-right">
                <a href>
                  <img src="https://api.adorable.io/avatars/120/p4welo4.png" class="img-circle img-md" alt="">
                </a>
              </div>
            </li>

            <li class="media date-step">
              <span>Yesterday</span>
            </li>

            <li class="media">
              <div class="media-left">
                <a href>
                  <img src="https://api.adorable.io/avatars/120/p4welo5.png" class="img-circle img-md" alt="">
                </a>
              </div>

              <div class="media-body">
                <div class="media-content">Regardless equitably hello heron glum cassowary jocosely before reliably a jeepers wholehearted shuddered more that some where far by koala.</div>
                <span class="media-annotation display-block mt-10">Tue, 6:40 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
              </div>
            </li>

            <li class="media">
              <div class="media-left">
                <a href>
                  <img src="https://api.adorable.io/avatars/120/p4welo5.png" class="img-circle img-md" alt="">
                </a>
              </div>

              <div class="media-body">
                <div class="media-content">Crud reran and while much withdrew ardent much crab hugely met dizzily that more jeez gent equivalent unsafely far one hesitant so therefore.</div>
                <span class="media-annotation display-block mt-10">Tue, 10:28 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
              </div>
            </li>

            <li class="media reversed">
              <div class="media-body">
                <div class="media-content">Thus superb the tapir the wallaby blank frog execrably much since dalmatian by in hot. Uninspiringly arose mounted stared one curt safe</div>
                <span class="media-annotation display-block mt-10">Tue, 8:12 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
              </div>

              <div class="media-right">
                <a href>
                  <img src="https://api.adorable.io/avatars/120/p4welo4.png" class="img-circle img-md" alt="">
                </a>
              </div>
            </li>

            <li class="media date-step">
              <span>Today</span>
            </li>

            <li class="media">
              <div class="media-left">
                <a href="assets/images/demo/images/3.png">
                  <img src="assets/images/demo/users/face11.jpg" class="img-circle img-md" alt="">
                </a>
              </div>

              <div class="media-body">
                <div class="media-content">Tolerantly some understood this stubbornly after snarlingly frog far added insect into snorted more auspiciously heedless drunkenly jeez foolhardy oh.</div>
                <span class="media-annotation display-block mt-10">Wed, 4:20 pm <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
              </div>
            </li>

            <li class="media reversed">
              <div class="media-body">
                <div class="media-content">Satisfactorily strenuously while sleazily dear frustratingly insect menially some shook far sardonic badger telepathic much jeepers immature much hey.</div>
                <span class="media-annotation display-block mt-10">2 hours ago <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
              </div>

              <div class="media-right">
                <a href="assets/images/demo/images/3.png">
                  <img src="assets/images/demo/users/face1.jpg" class="img-circle img-md" alt="">
                </a>
              </div>
            </li>

            <li class="media">
              <div class="media-left">
                <a href="assets/images/demo/images/3.png">
                  <img src="assets/images/demo/users/face11.jpg" class="img-circle img-md" alt="">
                </a>
              </div>

              <div class="media-body">
                <div class="media-content">Grunted smirked and grew less but rewound much despite and impressive via alongside out and gosh easy manatee dear ineffective yikes.</div>
                <span class="media-annotation display-block mt-10">13 minutes ago <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
              </div>
            </li>

            <li class="media reversed">
              <div class="media-body">
                <div class="media-content"><i class="icon-menu display-block"></i></div>
              </div>

              <div class="media-right">
                <a href="assets/images/demo/images/3.png">
                  <img src="assets/images/demo/users/face1.jpg" class="img-circle img-md" alt="">
                </a>
              </div>
            </li>
          </ul>

          <textarea name="enter-message" class="form-control content-group" rows="3" cols="1" placeholder="Enter your message..."></textarea>

          <div class="row">
            <div class="col-xs-6">
              <ul class="icons-list icons-list-extended mt-10">
                <li><a href="#" data-popup="tooltip" title="" data-container="body" data-original-title="Send photo"><i class="icon-file-picture"></i></a></li>
                <li><a href="#" data-popup="tooltip" title="" data-container="body" data-original-title="Send video"><i class="icon-file-video"></i></a></li>
                <li><a href="#" data-popup="tooltip" title="" data-container="body" data-original-title="Send file"><i class="icon-file-plus"></i></a></li>
              </ul>
            </div>

            <div class="col-xs-6 text-right">
              <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-right"><b><i class="icon-circle-right2"></i></b> Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>