<form [formGroup]="ngForm" (submit)="onSubmit(ngForm.value)" autocomplete="off">
  <h6>{{ 'dancers.new' | translate }}</h6>
  <div class="row">
    <app-labeled-field class="col-sm-6"
        [invalid]="isInvalid('firstName')"
        [error]="getError('firstName')">
      <input appTextField
          class="form-control"
          type="text"
          formControlName="firstName"
          placeholder="{{ 'dancers.firstName' | translate }}"
          [required]="true">
    </app-labeled-field>

    <app-labeled-field class="col-sm-6"
        [invalid]="isInvalid('lastName')"
        [error]="getError('lastName')">
      <input appTextField
          class="form-control"
          type="text"
          formControlName="lastName"
          placeholder="{{ 'dancers.lastName' | translate }}"
          [required]="true">
    </app-labeled-field>

    <app-labeled-field class="col-sm-6"
        [invalid]="isInvalid('yearOfBirth')"
        [error]="getError('yearOfBirth')">
      <input appTextField
          class="form-control"
          type="text"
          formControlName="yearOfBirth"
          mask="0000"
          placeholder="{{ 'dancers.yearOfBirth' | translate }}"
          [required]="true">
    </app-labeled-field>
  </div>

  <p>
    <button class="btn btn-primary btn-raised">
      <i class="icon-spinner4 position-left"
          [class.spinner]="loading"></i>
      {{ 'common.form.save' | translate }}
    </button>
    <button class="btn btn-raised position-right" (click)="onCancelClick()" type="button">
      {{ 'common.form.cancel' | translate }}
    </button>
  </p>
</form>