.panel.btn-raised {
  cursor: pointer;
  transition: box-shadow 100ms ease-in-out;
}

.event-container {
  margin-bottom: 20px;
}

.thumbnail {
  margin-bottom: 0;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.label-date {
  width: 100%;
}

.caption {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.event-link {
  margin-top: auto;
  width: 100%;
}