<app-main-page title="{{ 'common.sidebar.competitions' | translate }}"
    iconId="icon-trophy2">

  <app-loading-container [loaded]="!!competitions">
    <div class="text-center content-group text-muted content-divider">
      <span class="pt-10 pb-10">Najbliższe zawody</span>
    </div>

    <ul class="media-list content-group">
      <li class="media panel panel-body stack-media-on-mobile btn-raised"
          routerLink="{{ competition.sid }}"
          *ngFor="let competition of list">
        <div class="media-body no-margin">
          <h6 class="media-heading text-semibold text-primary">
            {{ competition.name }}
            <span class="label label-default"
                *ngIf="!competition.isPublic">Niepubliczny</span>
          </h6>

          <ul class="list-inline list-inline-separate text-muted">
            <li>{{ competition.start | date: 'd MMMM yyyy' }}</li>
            <li>{{ competition.city }}</li>
          </ul>
        </div>

        <div class="media-right text-nowrap">
          <app-competition-status-label [competition]="competition"></app-competition-status-label>
        </div>
      </li>
    </ul>

<!--    <div class="row">-->
<!--      <div class="col-xs-12 col-sm-6 col-md-4 event-container"-->
<!--          *ngFor="let competition of list">-->
<!--        <div class="thumbnail btn-raised"-->
<!--            routerLink="{{ competition.sid }}">-->
<!--          <div class="thumb">-->
<!--            <img src='https://tanecznykalendarz.pl/static/509d158a4656dc41960c7f2a69caffd5/30c9d/image.jpg'-->
<!--                class="event-tile__image"/>-->
<!--            <span class="label label-striped label-date">{{ competition.start | date: 'd MMMM yyyy' }}</span>-->
<!--          </div>-->

<!--          <div class="caption">-->
<!--            <h6 class="text-semibold no-margin text-uppercase">-->
<!--              {{ competition.name }}-->
<!--              <span class="label label-default"-->
<!--                  *ngIf="!competition.isPublic">Niepubliczny</span>-->
<!--            </h6>-->
<!--            <small class="display-block event-tile__city">-->
<!--              {{ competition.city }}-->
<!--            </small>-->
<!--            <a class='event-link promoted-event-link btn btn-default'>-->
<!--              Szczegóły-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="text-center content-group text-muted content-divider">
      <span class="pt-10 pb-10">Archiwum</span>
    </div>

    <ul class="media-list content-group">
      <li class="media panel panel-body stack-media-on-mobile btn-raised"
          routerLink="{{ competition.sid }}"
          *ngFor="let competition of outdatedList">
        <div class="media-body">
          <h6 class="media-heading text-semibold text-primary">
            {{ competition.name }}
          </h6>

          <ul class="list-inline list-inline-separate text-muted">
            <li>{{ competition.start | date: 'd MMMM yyyy' }}</li>
            <li>{{ competition.city }}</li>
          </ul>
        </div>

        <div class="media-right text-nowrap">
          <app-competition-status-label [competition]="competition"></app-competition-status-label>
        </div>
      </li>
    </ul>
  </app-loading-container>
</app-main-page>