<div class="advertisement-list" ng-switch="$ctrl.isLoading">
  <view-header icon="icon-mustache" title-key="TEXTS.ADVERTISEMENT_LIST.TITLE"
      subtitle-key="TEXTS.ADVERTISEMENT_LIST.SUBTITLE"></view-header>

  <div class="content text-center" ng-switch-when="true">
    <i class="icon-spinner2 spinner position-left"></i>
    Ładowanie...
  </div>

  <div class="content animated fadeIn" ng-switch-when="false">
    <advertisement-table advertisements="$ctrl.advertisements"
        on-details-click="$ctrl.goToDetails($event)"
        on-add-note-click="$ctrl.addAdvertisementNote($event)"></advertisement-table>
  </div>
</div>